<?xml version="1.0"?>
<!--
/**
 * Copyright 2023 Adobe
 * All Rights Reserved.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Magento\Test_Module_Graph_Ql_Backpressure\Api\Test_Read_Service_Interface"
                type="Magento\Test_Module_Graph_Ql_Backpressure\Model\Test_Read_Service" />
    <type name="Magento\Graph_Ql\Model\Backpressure\Composite_Request_Type_Extractor">
        <arguments>
            <argument name="extractors" xsi:type="array">
                <item name="graphqltestbackpressure" xsi:type="object">
                    Magento\Test_Module_Graph_Ql_Backpressure\Model\Type_Extractor
                </item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Framework\App\Backpressure\Sliding_Window\Composite_Limit_Config_Manager">
        <arguments>
            <argument name="configs" xsi:type="array">
                <item name="testgraphqlbackpressure" xsi:type="object">
                    Magento\Test_Module_Graph_Ql_Backpressure\Model\Limit_Config_Manager
                </item>
            </argument>
        </arguments>
    </type>
</config>
