<?xml version="1.0"?>
<!--
/**
 * Copyright 2019 Adobe
 * All Rights Reserved.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Magento\Csp\Api\Csp_Renderer_Interface" type="Magento\Csp\Model\Csp_Renderer" />
    <type name="Magento\Csp\Model\Policy_Renderer_Pool">
        <arguments>
            <argument name="renderers" xsi:type="array">
                <item name="header" xsi:type="object">Magento\Csp\Model\Policy\Renderer\Simple_Policy_Header_Renderer</item>
            </argument>
        </arguments>
    </type>
    <preference for="Magento\Csp\Api\Policy_Collector_Interface" type="Magento\Csp\Model\Composite_Policy_Collector" />
    <preference for="Magento\Csp\Model\Collector\Merger_Interface" type="Magento\Csp\Model\Collector\Composite_Merger" />
    <type name="Magento\Csp\Model\Collector\Composite_Merger">
        <arguments>
            <argument name="mergers" xsi:type="array">
                <item name="fetch" xsi:type="object">Magento\Csp\Model\Collector\Fetch_Policy_Merger</item>
                <item name="flag" xsi:type="object">Magento\Csp\Model\Collector\Flag_Policy_Merger</item>
                <item name="plugins" xsi:type="object">Magento\Csp\Model\Collector\Plugin_Types_Policy_Merger</item>
                <item name="sandbox" xsi:type="object">Magento\Csp\Model\Collector\Sandbox_Policy_Merger</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Csp\Model\Composite_Policy_Collector">
        <arguments>
            <argument name="collectors" xsi:type="array">
                <item name="config" xsi:type="object" sortOrder="1">Magento\Csp\Model\Collector\Config_Collector\Proxy</item>
                <item name="whitelist" xsi:type="object" sortOrder="2">Magento\Csp\Model\Collector\Csp_Whitelist_Xml_Collector\Proxy</item>
                <item name="controller" xsi:type="object" sortOrder="100">Magento\Csp\Model\Collector\Controller_Collector\Proxy</item>
                <item name="dynamic" xsi:type="object" sortOrder="3">Magento\Csp\Model\Collector\Dynamic_Collector\Proxy</item>
            </argument>
            <argument name="mergers" xsi:type="array">
                <item name="composite" xsi:type="object">Magento\Csp\Model\Collector\Merger_Interface</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Csp\Model\Collector\Config\Policy_Reader_Pool">
        <arguments>
            <argument name="readers" xsi:type="array">
                <item name="fetch" xsi:type="object">Magento\Csp\Model\Collector\Config\Fetch_Policy_Reader</item>
                <item name="plugin_types" xsi:type="object">Magento\Csp\Model\Collector\Config\Plugin_Types_Policy_Reader</item>
                <item name="sandbox" xsi:type="object">Magento\Csp\Model\Collector\Config\Sandbox_Policy_Reader</item>
                <item name="flag" xsi:type="object">Magento\Csp\Model\Collector\Config\Flag_Policy_Reader</item>
            </argument>
        </arguments>
    </type>
    <preference for="Magento\Csp\Api\Mode_Config_Manager_Interface" type="Magento\Csp\Model\Mode\Config_Manager" />
    <type name="Magento\Csp\Model\Collector\Csp_Whitelist_Xml\Reader">
        <arguments>
            <argument name="converter" xsi:type="object">Magento\Csp\Model\Collector\Csp_Whitelist_Xml\Converter</argument>
            <argument name="schemaLocator" xsi:type="object">Magento\Csp\Model\Collector\Csp_Whitelist_Xml\Schema_Locator</argument>
            <argument name="fileResolver" xsi:type="object">Magento\Csp\Model\Collector\Csp_Whitelist_Xml\File_Resolver</argument>
            <argument name="fileName" xsi:type="string">csp_whitelist.xml</argument>
        </arguments>
    </type>
    <type name="Magento\Csp\Model\Collector\Csp_Whitelist_Xml_Collector">
        <arguments>
            <argument name="configReader" xsi:type="object">Magento\Csp\Model\Collector\Csp_Whitelist_Xml\Data</argument>
        </arguments>
    </type>
    <type name="Magento\Csp\Model\Collector\Csp_Whitelist_Xml\Data">
        <arguments>
            <argument name="reader" xsi:type="object">Magento\Csp\Model\Collector\Csp_Whitelist_Xml\Reader\Proxy</argument>
        </arguments>
    </type>
    <preference for="Magento\Csp\Api\Inline_Util_Interface" type="Magento\Csp\Helper\Inline_Util" />
    <type name="Magento\Csp\Plugin\Template_Rendering_Plugin">
        <arguments>
            <argument name="util" xsi:type="object">Magento\Csp\Api\Inline_Util_Interface\Proxy</argument>
        </arguments>
    </type>
    <type name="Magento\Framework\View\Template_Engine\Php">
        <arguments>
            <argument name="blockVariables" xsi:type="array">
                <item name="csp" xsi:type="object">Magento\Csp\Api\Inline_Util_Interface\Proxy</item>
                <item name="secureRenderer" xsi:type="object">Magento\Framework\View\Helper\Secure_Html_Renderer\Proxy</item>
                <item name="escaper" xsi:type="object">Magento\Framework\Escaper</item>
                <item name="localeFormatter" xsi:type="object">Magento\Framework\Locale\Locale_Formatter</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Framework\App\Router_Interface">
        <plugin name="csp_aware_plugin" type="Magento\Csp\Plugin\Csp_Aware_Controller_Plugin" />
    </type>
    <type name="Magento\Framework\View\Helper\Secure_Html_Renderer">
        <arguments>
            <argument name="processors" xsi:type="array">
                <item name="csp" xsi:type="object">Magento\Csp\Helper\Inline_Util\Proxy</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Csp\Observer\Render">
        <arguments>
            <argument name="cspRenderer" xsi:type="object">Magento\Csp\Api\Csp_Renderer_Interface</argument>
        </arguments>
    </type>

    <type name="Magento\Csp\Model\Block_Cache">
        <arguments>
            <argument name="cache" xsi:type="object">configured_block_cache</argument>
            <argument name="serializer" xsi:type="object">Magento\Framework\Serialize\Serializer\Serialize</argument>
        </arguments>
    </type>
    <type name="Magento\Framework\View\Element\Context">
        <arguments>
            <argument name="cache" xsi:type="object">Magento\Csp\Model\Block_Cache</argument>
        </arguments>
    </type>
    <type name="Magento\Deploy\Package\Package">
        <arguments>
            <argument name="postProcessors" xsi:type="array">
                <item name="integrity" xsi:type="object">Magento\Csp\Model\Deploy\Package\Processor\Post_Processor\Integrity</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Framework\View\Asset\Grouped_Collection">
        <plugin name="addDefaultPropertiesToGroup" type="Magento\Csp\Plugin\Add_Default_Properties_To_Group_Plugin" />
    </type>
    <type name="Magento\Framework\View\Page\Config\Renderer">
        <plugin name="addIntegrityToAssetHtml" type="Magento\Csp\Plugin\Add_Integrity_To_Asset_Html" />
    </type>
    <type name="Magento\Deploy\Service\Deploy_Static_Content">
        <plugin name="removeAllAssetIntegrityHashes" type="Magento\Csp\Plugin\Remove_All_Asset_Integrity_Hashes" />
        <plugin name="storeAssetIntegrityHashes" type="Magento\Csp\Plugin\Store_Asset_Integrity_Hashes" />
    </type>
    <type name="Magento\Require_Js\Model\File_Manager">
        <plugin name="addResourceIntegrityAfterAssetCreate" type="Magento\Csp\Plugin\Generate_Asset_Integrity"/>
    </type>
    <type name="Magento\Deploy\Service\Bundle">
        <plugin name="addResourceIntegrityAfterBundleDeploy" type="Magento\Csp\Plugin\Generate_Bundle_Asset_Integrity" />
    </type>
    <type name="Magento\Framework\View\Asset\Merge_Strategy\File_Exists">
        <plugin name="addResourceIntegrityAfterMergeFile" type="Magento\Csp\Plugin\Generate_Merged_Asset_Integrity" />
    </type>
    <preference for="Magento\Deploy\Package\Processor\Post_Processor\Map" type="Magento\Csp\Model\Deploy\Package\Processor\Post_Processor\Map" />
    <type name="Magento\Csp\Model\Deploy\Package\Processor\Post_Processor\Map">
        <arguments>
            <argument name="driver" xsi:type="object">Magento\Framework\Filesystem\Driver\File</argument>
        </arguments>
    </type>
    <type name="Magento\Csp\Model\Subresource_Integrity\Sri_Enabled_Actions">
        <arguments>
            <argument name="paymentActions" xsi:type="array">
                <item name="sales_order_create_index" xsi:type="string">sales_order_create_index</item>
                <item name="sales_order_create_load_block" xsi:type="string">sales_order_create_loadBlock</item>
                <item name="checkout_index_index" xsi:type="string">checkout_index_index</item>
                <item name="checkout_onepage_success" xsi:type="string">checkout_onepage_success</item>
                <item name="multishipping_checkout_billing" xsi:type="string">multishipping_checkout_billing</item>
            </argument>
        </arguments>
    </type>
    <preference for="Magento\Csp\Model\Subresource_Integrity\Storage_Interface" type="Magento\Csp\Model\Subresource_Integrity\Storage\File" />
</config>
