<?xml version="1.0"?>
<!--
/**
 * Copyright 2014 Adobe
 * All Rights Reserved.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Store\Model\Resource_Model\Store">
        <plugin name="update_cms_url_rewrites_after_store_save" type="Magento\Cms_Url_Rewrite\Plugin\Cms\Model\Store\View"/>
    </type>
    <preference for="Magento\Cms\Model\Page\Target_Url_Builder_Interface" type="Magento\Cms_Url_Rewrite\Model\Page\Target_Url_Builder"/>
    <type name="Magento\Cms_Url_Rewrite\Model\Page\Target_Url_Builder">
        <arguments>
            <argument name="frontendUrlBuilder" xsi:type="object">Magento\Framework\Url</argument>
        </arguments>
    </type>
</config>
