<?xml version="1.0"?>
<!--
/**
 * Copyright 2014 Adobe
 * All Rights Reserved.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\Url\Security_Info">
        <arguments>
            <argument name="secureUrlList" xsi:type="array">
                <item name="multishipping_checkout" xsi:type="string">/multishipping/checkout</item>
            </argument>
        </arguments>
    </type>
    <virtualType name="multishippingPaymentSpecification" type="Magento\Payment\Model\Method\Specification\Composite">
        <arguments>
            <argument name="specifications" xsi:type="array">
                <item name="enabled" xsi:type="string">Magento\Multishipping\Model\Payment\Method\Specification\Enabled</item>
            </argument>
        </arguments>
    </virtualType>
    <type name="Magento\Multishipping\Block\Checkout\Billing">
        <arguments>
            <argument name="paymentSpecification" xsi:type="object">multishippingPaymentSpecification</argument>
        </arguments>
    </type>
    <type name="Magento\Multishipping\Model\Checkout\Type\Multishipping">
        <arguments>
            <argument name="paymentSpecification" xsi:type="object">multishippingPaymentSpecification</argument>
        </arguments>
    </type>
    <type name="Magento\Checkout\Controller\Cart\Add">
        <plugin name="multishipping_disabler" type="Magento\Multishipping\Plugin\Disable_Multishipping_Mode" sortOrder="50" />
    </type>
    <type name="Magento\Checkout\Controller\Cart\Update_Post">
        <plugin name="multishipping_disabler" type="Magento\Multishipping\Plugin\Disable_Multishipping_Mode" sortOrder="50" />
    </type>
    <type name="Magento\Checkout\Controller\Index\Index">
        <plugin name="multishipping_disabler" type="Magento\Multishipping\Plugin\Disable_Multishipping_Mode" sortOrder="50" />
    </type>
    <type name="Magento\Checkout\Model\Cart">
        <plugin name="multishipping_session_mapper" type="Magento\Multishipping\Model\Checkout\Type\Multishipping\Plugin" sortOrder="50" />
    </type>
    <type name="Magento\Checkout\Controller\Cart">
        <plugin name="multishipping_clear_addresses" type="Magento\Multishipping\Model\Cart\Controller\Cart_Plugin" sortOrder="50" />
    </type>
    <type name="Magento\Checkout\Controller\Sidebar\Update_Item_Qty">
        <plugin name="multishipping_clear_addresses_before_update_qty" type="Magento\Multishipping\Model\Cart\Controller\Mini_Cart_Plugin" sortOrder="50" />
    </type>
    <type name="Magento\Checkout\Controller\Sidebar\Remove_Item">
        <plugin name="multishipping_clear_addresses_before_remove_item" type="Magento\Multishipping\Model\Cart\Controller\Mini_Cart_Plugin" sortOrder="50" />
    </type>
    <type name="Magento\Quote\Model\Quote">
        <plugin name="multishipping_reset_shipping_assigment" type="Magento\Multishipping\Plugin\Reset_Shipping_Assigment"/>
    </type>
    <type name="Magento\Checkout\Controller\Cart\Update_Item_Qty">
        <plugin name="multishipping_disabler" type="Magento\Multishipping\Plugin\Disable_Multishipping_Mode" sortOrder="10" />
    </type>
</config>
