<?xml version="1.0"?>
<!--
/**
 * Copyright 2013 Adobe
 * All Rights Reserved.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <!-- @api Use item keys to create necessary service instance or add new services by extending the list -->
    <type name="Magento\Directory\Model\Currency\Import\Config">
        <arguments>
            <argument name="servicesConfig" xsi:type="array">
                <item name="fixerio" xsi:type="array">
                    <item name="label" xsi:type="string" translatable="true">Fixer.io (legacy)</item>
                    <item name="class" xsi:type="string">Magento\Directory\Model\Currency\Import\Fixer_Io</item>
                </item>
                <item name="fixerio_apilayer" xsi:type="array">
                    <item name="label" xsi:type="string" translatable="true">Fixer Api (APILayer)</item>
                    <item name="class" xsi:type="string">Magento\Directory\Model\Currency\Import\Fixer_Io_Api_Layer</item>
                </item>
                <item name="currencyconverterapi" xsi:type="array">
                    <item name="label" xsi:type="string" translatable="true">Currency Converter API</item>
                    <item name="class" xsi:type="string">Magento\Directory\Model\Currency\Import\Currency_Converter_Api</item>
                </item>
            </argument>
        </arguments>
    </type>

    <virtualType name="DirectoryHelperDataProxy" type="Magento\Directory\Helper\Data\Proxy">
        <arguments>
            <argument name="instanceName" xsi:type="string">Magento\Directory\Helper\Data</argument>
        </arguments>
    </virtualType>
    <type name="Magento\Directory\Model\Resource_Model\Country\Collection" shared="false">
        <arguments>
            <argument name="helperData" xsi:type="object">DirectoryHelperDataProxy</argument>
            <argument name="countriesWithNotRequiredStates" xsi:type="array">
                <item name="FR" xsi:type="string">FR</item>
                <item name="DE" xsi:type="string">DE</item>
                <item name="AT" xsi:type="string">AT</item>
                <item name="FI" xsi:type="string">FI</item>
                <item name="BE" xsi:type="string">BE</item>
            </argument>
        </arguments>
    </type>
    <preference for="Magento\Directory\Model\Country\Postcode\Config_Interface" type="Magento\Directory\Model\Country\Postcode\Config" />
    <preference for="Magento\Directory\Model\Country\Postcode\Validator_Interface" type="Magento\Directory\Model\Country\Postcode\Validator" />
    <preference for="Magento\Directory\Api\Currency_Information_Acquirer_Interface" type="Magento\Directory\Model\Currency_Information_Acquirer" />
    <preference for="Magento\Directory\Api\Data\Currency_Information_Interface" type="Magento\Directory\Model\Data\Currency_Information" />
    <preference for="Magento\Directory\Api\Data\Exchange_Rate_Interface" type="Magento\Directory\Model\Data\Exchange_Rate" />
    <preference for="Magento\Directory\Api\Country_Information_Acquirer_Interface" type="Magento\Directory\Model\Country_Information_Acquirer" />
    <preference for="Magento\Directory\Api\Data\Country_Information_Interface" type="Magento\Directory\Model\Data\Country_Information" />
    <preference for="Magento\Directory\Api\Data\Region_Information_Interface" type="Magento\Directory\Model\Data\Region_Information" />
    <type name="Magento\Config\Model\Config\Type_Pool">
        <arguments>
            <argument name="sensitive" xsi:type="array">
                <item name="currency/import/error_email" xsi:type="string">1</item>
            </argument>
        </arguments>
    </type>
</config>
