<?xml version="1.0"?>
<!--
/**
 * Copyright 2016 Adobe
 * All Rights Reserved.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Configurable_Product\Model\Resource_Model\Product\Type\Configurable\Product\Collection">
        <plugin name="catalogRulePriceForConfigurableProduct" type="Magento\Catalog_Rule_Configurable\Plugin\Configurable_Product\Model\Resource_Model\Add_Catalog_Rule_Price" />
    </type>
</config>
