<?xml version="1.0"?>
<!--
/**
 * Copyright 2016 Adobe
 * All Rights Reserved.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Magento\Security\Model\Config_Interface" type="Magento\Security\Model\Config" />
    <type name="Magento\Customer\Model\Account_Management">
        <plugin name="security_check_customer_password_reset_attempt" type="Magento\Security\Model\Plugin\Account_Management" />
    </type>
    <type name="Magento\Security\Model\Security_Manager">
        <arguments>
            <argument name="securityCheckers" xsi:type="array">
                <item name="frequency" xsi:type="object">Magento\Security\Model\Security_Checker\Frequency</item>
                <item name="quantity" xsi:type="object">Magento\Security\Model\Security_Checker\Quantity</item>
            </argument>
        </arguments>
    </type>
    <preference for="Magento\Security\Api\Data\User_Expiration_Interface" type="Magento\Security\Model\User_Expiration"/>
</config>
