<?xml version="1.0"?>
<!--
/**
 * Copyright 2013 Adobe
 * All Rights Reserved.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="controller_action_noroute">
        <observer name="cms" instance="Magento\Cms\Observer\No_Route_Observer" />
    </event>
    <event name="controller_action_nocookies">
        <observer name="cms" instance="Magento\Cms\Observer\No_Cookies_Observer" />
    </event>
</config>
