<?xml version="1.0"?>
<!--
/**
 * Copyright 2017 Adobe
 * All Rights Reserved.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\Message\Exception_Message_Factory_Pool">
        <arguments>
            <argument name="exceptionMessageFactoryMap" xsi:type="array">
                <item name="Magento\Url_Rewrite\Model\Exception\Url_Already_Exists_Exception" xsi:type="object">\Magento\Url_Rewrite\Model\Message\Url_Rewrite_Exception_Message_Factory</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Framework\View\Element\Message\Message_Configurations_Pool">
        <arguments>
            <argument name="configurationsMap" xsi:type="array">
                <item name="urlDuplicateMessageMapId" xsi:type="array">
                    <item name="renderer" xsi:type="const">\Magento\Framework\View\Element\Message\Renderer\Block_Renderer::CODE</item>
                    <item name="data" xsi:type="array">
                        <item name="template" xsi:type="string">Magento_UrlRewrite::messages/url_duplicate_message.phtml</item>
                    </item>
                </item>
            </argument>
        </arguments>
    </type>
</config>
