<?xml version="1.0"?>
<!--
/**
 * Copyright 2013 Adobe
 * All Rights Reserved.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="adminhtml_catalog_product_edit_prepare_form">
        <observer name="weee" instance="Magento\Weee\Observer\Set_Weee_Renderer_In_Form_Observer" />
    </event>
    <event name="adminhtml_catalog_product_form_prepare_excluded_field_list">
        <observer name="weee" instance="Magento\Weee\Observer\Update_Excluded_Field_List_Observer" />
    </event>
    <event name="adminhtml_product_attribute_types">
        <observer name="weee" instance="Magento\Weee\Observer\Add_Weee_Tax_Attribute_Type_Observer" />
    </event>
    <event name="adminhtml_catalog_product_edit_element_types">
        <observer name="weee" instance="Magento\Weee\Observer\Update_Element_Types_Observer" />
    </event>
</config>
