<?xml version="1.0"?>
<!--
/**
 * Copyright 2014 Adobe
 * All Rights Reserved.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Magento\Catalog\Model\Layer\Availability_Flag_Interface" type="Magento\Catalog\Model\Layer\Category\Availability_Flag" />
    <virtualType name="Magento\Layered_Navigation\Block\Navigation\Category" type="Magento\Layered_Navigation\Block\Navigation">
        <arguments>
            <argument name="filterList" xsi:type="object">categoryFilterList</argument>
        </arguments>
    </virtualType>
    <virtualType name="Magento\Layered_Navigation\Block\Navigation\Search" type="Magento\Layered_Navigation\Block\Navigation">
        <arguments>
            <argument name="filterList" xsi:type="object">searchFilterList</argument>
        </arguments>
    </virtualType>
</config>
