<?xml version="1.0"?>
<!--
/**
 * Copyright 2015 Adobe
 * All Rights Reserved.
 */
-->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Magento\Catalog\Model\Product\Option\Type\Date" type="Magento\Catalog\Model\Webapi\Product\Option\Type\Date" />
    <type name="Magento\Catalog\Helper\Product\Configuration_Pool">
        <arguments>
            <argument name="instancesByType" xsi:type="array">
                <item name="default" xsi:type="object">Magento\Catalog\Helper\Product\Configuration</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Framework\App\Resource_Connection">
        <plugin name="get_catalog_category_product_index_table_name" type="Magento\Catalog\Model\Indexer\Category\Product\Plugin\Table_Resolver"/>
        <plugin name="get_catalog_product_price_index_table_name" type="Magento\Catalog\Model\Indexer\Product\Price\Plugin\Table_Resolver"/>
    </type>
    <type name="Magento\Catalog\Api\Product_Custom_Option_Repository_Interface">
        <plugin name="updateProductCustomOptionsAttributes" type="Magento\Catalog\Plugin\Model\Product\Option\Update_Product_Custom_Options_Attributes"/>
    </type>
    <type name="Magento\Catalog\Api\Product_Repository_Interface">
        <plugin name="product_authorization" type="Magento\Catalog\Plugin\Product_Authorization" />
    </type>
    <type name="Magento\Catalog\Api\Category_Repository_Interface">
        <plugin name="category_authorization" type="Magento\Catalog\Plugin\Category_Authorization" />
    </type>
    <type name="Magento\Framework\Reflection\Data_Object_Processor">
        <arguments>
            <argument name="processors" xsi:type="array">
                <item name="Magento\Catalog\Model\Product" xsi:type="object">Magento\Catalog\Model\Product\Webapi\Product_Output_Processor\Proxy</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Catalog\Model\Product\Webapi\Product_Output_Processor">
        <arguments>
            <argument name="deserializer" xsi:type="object">Magento\Framework\Webapi\Rest\Request\Deserializer\Xml</argument>
        </arguments>
    </type>
    <type name="Magento\Catalog\Api\Product_Link_Repository_Interface">
        <plugin name="reindex_after_save_product_links" type="Magento\Catalog\Plugin\Api\Product_Link_Repository_Interface\Reindex_After_Save_Product_Links_Plugin"/>
        <plugin name="reindex_after_delete_by_id_product_links" type="Magento\Catalog\Plugin\Api\Product_Link_Repository_Interface\Reindex_After_Delete_By_Id_Product_Links_Plugin"/>
    </type>
    <type name="Magento\Catalog\Model\Product_Render_List">
        <plugin name="customerGroupContextForPricing"
                type="Magento\Catalog\Plugin\Model\Product_Render_List_Plugin" />
    </type>
</config>
