<?xml version="1.0"?>
<!--
/**
 * Copyright 2013 Adobe
 * All Rights Reserved.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <virtualType name="Magento\Catalog\Model\Resource_Model\Category\Collection\Fetch_Strategy" type="Magento\Framework\Data\Collection\Db\Fetch_Strategy\Cache">
        <arguments>
            <argument name="cacheTags" xsi:type="array">
                <item name="categoryTag" xsi:type="const">Magento\Catalog\Model\Category::CACHE_TAG</item>
            </argument>
        </arguments>
    </virtualType>
    <type name="Magento\Catalog\Model\Indexer\Abstract_Flat_State">
        <arguments>
            <argument name="isAvailable" xsi:type="boolean">true</argument>
        </arguments>
    </type>
    <virtualType name="Magento\Catalog\Block\Shortcut_Buttons\In_Catalog" type="Magento\Catalog\Block\Shortcut_Buttons">
        <arguments>
            <argument name="isCatalogProduct" xsi:type="boolean">true</argument>
        </arguments>
    </virtualType>
    <virtualType name="Magento\Catalog\Block\Shortcut_Buttons\In_Catalog\Position_After" type="Magento\Catalog\Block\Shortcut_Buttons">
        <arguments>
            <argument name="isCatalogProduct" xsi:type="boolean">true</argument>
            <argument name="orPosition" xsi:type="const">Magento\Catalog\Block\Shortcut_Buttons::POSITION_AFTER</argument>
        </arguments>
    </virtualType>
    <type name="Magento\Catalog\Model\Indexer\Product\Flat\State">
        <arguments>
            <argument name="isAvailable" xsi:type="boolean">true</argument>
        </arguments>
    </type>
    <type name="Magento\Framework\View\Layout">
        <plugin name="catalog-session-depersonalize"
                type="Magento\Catalog\Model\Layout\Depersonalize_Plugin" sortOrder="10"/>
    </type>
    <type name="Magento\Customer\Customer_Data\Section_Pool_Interface">
        <arguments>
            <argument name="sectionSourceMap" xsi:type="array">
                <item name="compare-products" xsi:type="string">Magento\Catalog\Customer_Data\Compare_Products</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Catalog\Helper\Product\Configuration_Pool">
        <arguments>
            <argument name="instancesByType" xsi:type="array">
                <item name="default" xsi:type="object">Magento\Catalog\Helper\Product\Configuration</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Framework\Pricing\Render\Price_Box">
        <plugin name="catalog_price_box_key" type="Magento\Catalog\Block\Category\Plugin\Price_Box_Tags" />
    </type>
    <type name="Magento\Customer\Customer_Data\Section_Pool">
        <arguments>
            <argument name="sectionSourceMap" xsi:type="array">
                <item name="recently_viewed_product" xsi:type="string">Magento\Catalog\Customer_Data\Recently_Viewed_Products_Section</item>
                <item name="recently_compared_product" xsi:type="string">Magento\Catalog\Customer_Data\Recently_Compared_Products_Section</item>
                <item name="product_data_storage" xsi:type="string">Magento\Catalog\Customer_Data\Products_Render_Info_Section</item>
            </argument>
        </arguments>
    </type>
    <virtualType name="Magento\Catalog\Customer_Data\Recently_Viewed_Products_Section" type="Magento\Catalog\Customer_Data\Product_Frontend_Action_Section">
        <arguments>
            <argument name="typeId" xsi:type="string">recently_viewed_product</argument>
        </arguments>
    </virtualType>
    <virtualType name="Magento\Catalog\Customer_Data\Recently_Compared_Products_Section" type="Magento\Catalog\Customer_Data\Product_Frontend_Action_Section">
        <arguments>
            <argument name="typeId" xsi:type="string">recently_compared_product</argument>
        </arguments>
    </virtualType>
    <type name="Magento\Framework\View\Element\Message\Message_Configurations_Pool">
        <arguments>
            <argument name="configurationsMap" xsi:type="array">
                <item name="addCompareSuccessMessage" xsi:type="array">
                    <item name="renderer" xsi:type="const">\Magento\Framework\View\Element\Message\Renderer\Block_Renderer::CODE</item>
                    <item name="data" xsi:type="array">
                        <item name="template" xsi:type="string">Magento_Catalog::messages/addCompareSuccessMessage.phtml</item>
                    </item>
                </item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Catalog\Block\Product\View\Gallery">
        <arguments>
            <argument name="galleryImagesConfig" xsi:type="array">
                <item name="small_image" xsi:type="array">
                    <item name="image_id" xsi:type="string">product_page_image_small</item>
                    <item name="data_object_key" xsi:type="string">small_image_url</item>
                    <item name="json_object_key" xsi:type="string">thumb</item>
                </item>
                <item name="medium_image" xsi:type="array">
                    <item name="image_id" xsi:type="string">product_page_image_medium</item>
                    <item name="data_object_key" xsi:type="string">medium_image_url</item>
                    <item name="json_object_key" xsi:type="string">img</item>
                </item>
                <item name="large_image" xsi:type="array">
                    <item name="image_id" xsi:type="string">product_page_image_large</item>
                    <item name="data_object_key" xsi:type="string">large_image_url</item>
                    <item name="json_object_key" xsi:type="string">full</item>
                </item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Framework\App\Resource_Connection">
        <plugin name="get_catalog_category_product_index_table_name" type="Magento\Catalog\Model\Indexer\Category\Product\Plugin\Table_Resolver"/>
        <plugin name="get_catalog_product_price_index_table_name" type="Magento\Catalog\Model\Indexer\Product\Price\Plugin\Table_Resolver"/>
    </type>
    <type name="Magento\Framework\App\Action\Abstract_Action">
        <plugin name="catalog_app_action_dispatch_controller_context_plugin"
                type="Magento\Catalog\Plugin\Framework\App\Action\Context_Plugin" />
    </type>
    <type name="\Magento\Page_Cache\Model\Page_Cache_Tags_Preprocessor_Composite">
        <arguments>
            <argument name="preprocessors" xsi:type="array">
                <item name="catalog_product_view" xsi:type="array">
                    <item name="product_not_found" xsi:type="object">Magento\Catalog\Model\Product_Not_Found_Page_Cache_Tags</item>
                </item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Catalog\Model\Config">
        <plugin name="special_price_listing_plugin" type="Magento\Catalog\Plugin\Model\Config_Plugin" sortOrder="10" />
    </type>
</config>
