<?xml version="1.0"?>
<!--
/**
 * Copyright 2017 Adobe
 * All Rights Reserved.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Magento\Framework\Translate\Inline_Interface" type="Magento\Framework\Translate\Inline" />
    <preference for="Magento\Framework\Translate\Inline\Config_Interface" type="Magento\Translation\Model\Inline\Config" />
    <preference for="Magento\Framework\Translate\Inline\Provider_Interface" type="Magento\Framework\Translate\Inline\Provider" />
    <preference for="Magento\Framework\Translate\Inline\Parser_Interface" type="Magento\Translation\Model\Inline\Parser" />
    <preference for="Magento\Framework\Translate\Resource_Interface" type="Magento\Translation\Model\Resource_Model\Translate" />
    <preference for="Magento\Framework\Translate\Inline\State_Interface" type="Magento\Framework\Translate\Inline\State" />
    <preference for="Magento\Framework\Phrase\Renderer_Interface" type="Magento\Framework\Phrase\Renderer\Composite" />
    <preference for="Magento\Translation\Model\Js\Data_Provider_Interface" type="Magento\Translation\Model\Js\Data_Provider"/>
    <preference for="Magento\Framework\Translate\Js\Config" type="Magento\Translation\Model\Js\Config"/>
    <type name="Magento\Framework\Translate\Inline">
        <arguments>
            <argument name="templateFileName" xsi:type="string">Magento_Translation::translate_inline.phtml</argument>
            <argument name="translatorRoute" xsi:type="string">translation/ajax/index</argument>
            <argument name="layout" xsi:type="object">Magento\Framework\View\Layout_Interface\Proxy</argument>
            <argument name="config" xsi:type="object">Magento\Framework\Translate\Inline\Config_Interface\Proxy</argument>
        </arguments>
    </type>
    <type name="Magento\Translation\Model\Inline\Parser">
        <arguments>
            <argument name="inputFilter" xsi:type="object">Magento\Framework\Filter\Input\Malicious_Code</argument>
            <argument name="relatedCacheTypes" xsi:type="array">
                <item name="blockCache" xsi:type="string">block_html</item>
                <item name="layoutCache" xsi:type="string">layout</item>
                <item name="translationCache" xsi:type="string">translate</item>
                <item name="fullPageCache" xsi:type="string">full_page</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Framework\Translate\Inline\Provider">
        <arguments>
            <argument name="inlineTranslate" xsi:type="object">Magento\Framework\Translate\Inline\Proxy</argument>
        </arguments>
    </type>
    <type name="Magento\Framework\Phrase\Renderer\Composite">
        <arguments>
            <argument name="renderers" xsi:type="array">
                <item name="translation" xsi:type="object">Magento\Framework\Phrase\Renderer\Translate</item>
                <item name="placeholder" xsi:type="object">Magento\Framework\Phrase\Renderer\Placeholder</item>
                <item name="inline" xsi:type="object">Magento\Framework\Phrase\Renderer\Inline</item>
            </argument>
        </arguments>
    </type>
    <virtualType name="dataProviderCompositeRenderer" type="Magento\Framework\Phrase\Renderer\Composite">
        <arguments>
            <argument name="renderers" xsi:type="array">
                <item name="inline" xsi:type="object">Magento\Translation\Model\Inline\Renderer</item>
            </argument>
        </arguments>
    </virtualType>
    <type name="Magento\Translation\Model\Js\Data_Provider">
        <arguments>
            <argument name="translate" xsi:type="object">dataProviderCompositeRenderer</argument>
        </arguments>
    </type>
    <type name="Magento\Framework\Phrase\Renderer\Translate">
        <arguments>
            <argument name="translator" xsi:type="object">Magento\Framework\Translate</argument>
        </arguments>
    </type>
    <type name="Magento\Translation\Model\Js\Config">
        <arguments>
            <argument name="patterns" xsi:type="array">
                <item name="i18n_translation" xsi:type="string"><![CDATA[~(?:i18n\:|_\.i18n\()\s*(["'])(.*?)(?<!\\)\1~]]></item>
                <item name="translate_wrapping" xsi:type="string"><![CDATA[~translate\=("')([^\'].*?)\'\"~]]></item>
                <item name="mage_translation_widget" xsi:type="string"><![CDATA[~(?s)(?:\$|jQuery)\.mage\.__\(\s*(['"])(?<translate>.+?)(?<!\\)\1\s*(*SKIP)\)\s*(?s)~]]></item>
                <item name="mage_translation_static" xsi:type="string"><![CDATA[~(?s)\$t\(\s*(['"])(?<translate>.+?)(?<!\\)\1\s*(*SKIP)\)(?s)~]]></item>
                <item name="translate_args" xsi:type="string"><![CDATA[~translate args\=("|'|"'|\\"')([^\'].*?)('\\"|'"|'|")~]]></item>
            </argument>
        </arguments>
    </type>
    <virtualType name="AssetPreProcessorPool">
        <arguments>
            <argument name="preprocessors" xsi:type="array">
                <item name="js" xsi:type="array">
                    <item name="js_translation" xsi:type="array">
                        <item name="class" xsi:type="string">Magento\Translation\Model\Js\Pre_Processor</item>
                    </item>
                </item>
                <item name="json" xsi:type="array">
                    <item name="json_generation" xsi:type="array">
                        <item name="class" xsi:type="string">Magento\Translation\Model\Json\Pre_Processor</item>
                    </item>
                </item>
            </argument>
        </arguments>
    </virtualType>
    <type name="Magento\Framework\Console\Command_List_Interface">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="uninstall_language" xsi:type="object">Magento\Translation\Console\Command\Uninstall_Language_Command</item>
            </argument>
        </arguments>
    </type>
    <virtualType name="translationConfigInitialDataProvider" type="Magento\Framework\App\Config\Initial_Config_Source">
        <arguments>
            <argument name="reader" xsi:type="object">Magento\Framework\App\Deployment_Config\Reader</argument>
            <argument name="configType" xsi:type="const">Magento\Translation\App\Config\Type\Translation::CONFIG_TYPE</argument>
            <argument name="fileKey" xsi:type="const">Magento\Framework\Config\File\Config_File_Pool::APP_CONFIG</argument>
        </arguments>
    </virtualType>
    <virtualType name="translationConfigSourceAggregated" type="Magento\Framework\App\Config\Config_Source_Aggregated">
        <arguments>
            <argument name="sources" xsi:type="array">
                <item name="dynamic" xsi:type="array">
                    <item name="source" xsi:type="object">Magento\Translation\Model\Source\Initial_Translation_Source\Proxy</item>
                    <item name="sortOrder" xsi:type="string">100</item>
                </item>
                <item name="initial" xsi:type="array">
                    <item name="source" xsi:type="object">translationConfigInitialDataProvider</item>
                    <item name="sortOrder" xsi:type="string">1000</item>
                </item>
            </argument>
        </arguments>
    </virtualType>
    <type name="Magento\Translation\App\Config\Type\Translation">
        <arguments>
            <argument name="source" xsi:type="object">translationConfigSourceAggregated</argument>
        </arguments>
    </type>
    <type name="Magento\Framework\App\Config">
        <arguments>
            <argument name="types" xsi:type="array">
                <item name="i18n" xsi:type="object">Magento\Translation\App\Config\Type\Translation</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Deploy\Console\Command\App\Application_Dump_Command">
        <arguments>
            <argument name="sources" xsi:type="array">
                <item name="i18n" xsi:type="array">
                    <item name="source" xsi:type="object">Magento\Translation\Model\Source\Initial_Translation_Source</item>
                    <item name="namespace" xsi:type="const">Magento\Translation\App\Config\Type\Translation::CONFIG_TYPE</item>
                </item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Framework\App\State\Reload_Processor_Composite">
        <arguments>
            <argument name="processors" xsi:type="array">
                <item name="Magento_Translate::config" xsi:type="object">Magento\Translation\App\Config\Reload_Config</item>
            </argument>
        </arguments>
    </type>
</config>
