<?xml version="1.0"?>
<!--
/**
 * Copyright 2019 Adobe
 * All Rights Reserved.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Magento\Cardinal_Commerce\Model\Response\Jwt_Payload_Validator_Interface" type="Magento\Cardinal_Commerce\Model\Response\Jwt_Payload_Validator" />
    <preference for="Magento\Cardinal_Commerce\Model\Response\Jwt_Parser_Interface" type="Magento\Cardinal_Commerce\Model\Response\Jwt_Parser" />
</config>
