<?xml version="1.0"?>
<!--
/**
 * Copyright 2020 Adobe
 * All Rights Reserved.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Media_Gallery_Ui\Model\Search_Criteria\Collection_Processor\Filter_Processor\Content_Field">
        <arguments>
            <argument name="getAssetIdsByContentStatus" xsi:type="object">Magento\Media_Content_Api\Api\Get_Asset_Ids_By_Content_Field_Interface</argument>
        </arguments>
    </type>
    <virtualType name="Magento\Media_Gallery_Ui\Model\Api\Search_Criteria\Collection_Processor\Filter_Processor" type="Magento\Framework\Api\Search_Criteria\Collection_Processor\Filter_Processor">
        <arguments>
            <argument name="customFilters" xsi:type="array">
                <item name="path" xsi:type="object">Magento\Media_Gallery_Ui\Model\Search_Criteria\Collection_Processor\Filter_Processor\Directory</item>
                <item name="fulltext" xsi:type="object">Magento\Media_Gallery_Ui\Model\Search_Criteria\Collection_Processor\Filter_Processor\Keyword</item>
                <item name="entity_type" xsi:type="object">Magento\Media_Gallery_Ui\Model\Search_Criteria\Collection_Processor\Filter_Processor\Entity_Type</item>
                <item name="duplicated" xsi:type="object">Magento\Media_Gallery_Ui\Model\Search_Criteria\Collection_Processor\Filter_Processor\Duplicated</item>
                <item name="content_status" xsi:type="object">Magento\Media_Gallery_Ui\Model\Search_Criteria\Collection_Processor\Filter_Processor\Content_Field</item>
                <item name="store_id" xsi:type="object">Magento\Media_Gallery_Ui\Model\Search_Criteria\Collection_Processor\Filter_Processor\Content_Field</item>
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="Magento\Media_Gallery_Ui\Model\Api\Search_Criteria\Collection_Processor\Sorting_Processor" type="Magento\Framework\Api\Search_Criteria\Collection_Processor\Sorting_Processor" />
    <virtualType name="Magento\Media_Gallery_Ui\Model\Api\Search_Criteria\Collection_Processor\Pagination_Processor" type="Magento\Framework\Api\Search_Criteria\Collection_Processor\Pagination_Processor" />
    <virtualType name="Magento\Media_Gallery_Ui\Model\Api\Search_Criteria\Collection_Processor\Join_Processor" type="Magento\Framework\Api\Search_Criteria\Collection_Processor\Join_Processor" />
    <virtualType name="Magento\Media_Gallery_Ui\Model\Api\Search_Criteria\Collection_Processor" type="Magento\Framework\Api\Search_Criteria\Collection_Processor">
        <arguments>
            <argument name="processors" xsi:type="array">
                <item name="filters" xsi:type="object">Magento\Media_Gallery_Ui\Model\Api\Search_Criteria\Collection_Processor\Filter_Processor</item>
                <item name="sorting" xsi:type="object">Magento\Media_Gallery_Ui\Model\Api\Search_Criteria\Collection_Processor\Sorting_Processor</item>
                <item name="pagination" xsi:type="object">Magento\Media_Gallery_Ui\Model\Api\Search_Criteria\Collection_Processor\Pagination_Processor</item>
                <item name="joins" xsi:type="object">Magento\Media_Gallery_Ui\Model\Api\Search_Criteria\Collection_Processor\Join_Processor</item>
            </argument>
        </arguments>
    </virtualType>
    <type name="Magento\Media_Gallery_Ui\Model\Listing\Data_Provider">
        <arguments>
            <argument name="collectionProcessor" xsi:type="object">Magento\Media_Gallery_Ui\Model\Api\Search_Criteria\Collection_Processor</argument>
        </arguments>
    </type>
</config>
