<?xml version="1.0"?>
<!--
/**
 * Copyright 2017 Adobe
 * All Rights Reserved.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Magento\Framework\App\Front_Controller_Interface" type="Magento\Graph_Ql\Controller\Graph_Ql" />
    <preference for="Magento\Framework\Authorization\Role_Locator_Interface" type="Magento\Webapi\Model\Webapi_Role_Locator" />
    <type name="Magento\Authorization\Model\Composite_User_Context">
        <arguments>
            <argument name="userContexts" xsi:type="array">
                <item name="tokenUserContext" xsi:type="array">
                    <item name="type" xsi:type="object">Magento\Webapi\Model\Authorization\Token_User_Context</item>
                    <item name="sortOrder" xsi:type="string">10</item>
                </item>
                <item name="guestUserContext" xsi:type="array">
                    <item name="type" xsi:type="object">Magento\Webapi\Model\Authorization\Guest_User_Context</item>
                    <item name="sortOrder" xsi:type="string">100</item>
                </item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Graph_Ql\Controller\Http_Request_Processor">
        <arguments>
            <argument name="requestValidators" xsi:type="array">
                <item name="ContentTypeValidator" xsi:type="object">Magento\Graph_Ql\Controller\Http_Request_Validator\Content_Type_Validator</item>
                <item name="VerbValidator" xsi:type="object">Magento\Graph_Ql\Controller\Http_Request_Validator\Http_Verb_Validator</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Graph_Ql\Model\Mutation\Resolver\Error_Type_Resolver">
        <arguments>
            <argument name="validErrorTypes" xsi:type="array">
                <item name="no_such_entity_uid" xsi:type="string">NoSuchEntityUidError</item>
                <item name="internal_error" xsi:type="string">InternalError</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Framework\Session\Session_Start_Checker">
        <plugin name="graphql_session_disable" type="Magento\Graph_Ql\Plugin\Disable_Session"/>
    </type>
</config>
