<?xml version="1.0"?>
<!--
/**
 * Copyright 2013 Adobe
 * All Rights Reserved.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Magento\Customer\Api\Address_Repository_Interface"
                type="Magento\Customer\Model\Resource_Model\Address_Repository" />
    <preference for="Magento\Customer\Api\Customer_Repository_Interface"
                type="Magento\Customer\Model\Resource_Model\Customer_Repository" />
    <preference for="Magento\Customer\Api\Group_Management_Interface"
                type="Magento\Customer\Model\Group_Management" />
    <preference for="Magento\Customer\Api\Customer_Group_Config_Interface"
                type="Magento\Customer\Model\Customer_Group_Config" />
    <preference for="Magento\Customer\Api\Group_Repository_Interface"
                type="Magento\Customer\Model\Resource_Model\Group_Repository" />
    <preference for="Magento\Customer\Api\Data\Customer_Interface" type="Magento\Customer\Model\Data\Customer" />
    <preference for="Magento\Customer\Api\Data\Address_Interface" type="Magento\Customer\Model\Data\Address" />
    <preference for="Magento\Customer\Api\Data\Region_Interface" type="Magento\Customer\Model\Data\Region" />
    <preference for="Magento\Customer\Api\Data\Attribute_Metadata_Interface"
                type="Magento\Customer\Model\Data\Attribute_Metadata" />
    <preference for="Magento\Customer\Api\Data\Group_Interface" type="Magento\Customer\Model\Data\Group" />
    <preference for="Magento\Customer\Api\Data\Group_Excluded_Website_Interface" type="Magento\Customer\Model\Data\Group_Excluded_Website" />
    <preference for="Magento\Customer\Api\Data\Option_Interface" type="Magento\Customer\Model\Data\Option" />
    <preference for="Magento\Customer\Api\Data\Validation_Rule_Interface"
                type="Magento\Customer\Model\Data\Validation_Rule" />
    <preference for="Magento\Customer\Api\Data\Validation_Results_Interface"
                type="Magento\Customer\Model\Data\Validation_Results" />
    <preference for="Magento\Customer\Api\Data\Group_Search_Results_Interface"
                type="Magento\Customer\Model\Group_Search_Results" />
    <preference for="Magento\Customer\Api\Data\Customer_Search_Results_Interface"
                type="Magento\Customer\Model\Customer_Search_Results" />
    <preference for="Magento\Customer\Api\Data\Address_Search_Results_Interface"
                type="Magento\Customer\Model\Address_Search_Results" />
    <preference for="Magento\Customer\Api\Account_Management_Interface"
                type="Magento\Customer\Model\Account_Management" />
    <preference for="Magento\Customer\Api\Customer_Metadata_Interface"
                type="Magento\Customer\Model\Metadata\Customer_Cached_Metadata" />
    <preference for="Magento\Customer\Api\Address_Metadata_Interface"
                type="Magento\Customer\Model\Metadata\Address_Cached_Metadata" />
    <preference for="Magento\Customer\Api\Customer_Metadata_Management_Interface"
                type="Magento\Customer\Model\Metadata\Customer_Metadata_Management" />
    <preference for="Magento\Customer\Api\Address_Metadata_Management_Interface"
                type="Magento\Customer\Model\Metadata\Address_Metadata_Management" />
    <preference for="Magento\Customer\Api\Customer_Management_Interface"
                type="Magento\Customer\Model\Customer_Management" />
    <preference for="Magento\Customer\Model\Authentication_Interface"
                type="Magento\Customer\Model\Authentication" />
    <preference for="Magento\Customer\Model\Email_Notification_Interface"
                type="Magento\Customer\Model\Email_Notification" />
    <preference for="Magento\Customer\Api\Customer_Name_Generation_Interface"
                type="Magento\Customer\Helper\View" />
    <preference for="Magento\Customer\Model\Address\Custom_Attribute_List_Interface"
                type="Magento\Customer\Model\Address\Custom_Attribute_List" />
    <preference for="Magento\Customer\Model\Customer\Source\Group_Source_Interface"
                type="Magento\Customer\Model\Customer\Source\Group" />
    <preference for="Magento\Customer\Model\Customer\Attribute\Source\Group_Source_Logged_In_Only_Interface"
                type="Magento\Customer\Model\Customer\Attribute\Source\Group"/>
    <preference for="Magento\Customer\Block\Account\Sort_Link_Interface"
                type="Magento\Customer\Block\Account\Sort_Link"/>
    <preference for="Magento\Customer\Model\Group\Retriever_Interface"
                type="Magento\Customer\Model\Group\Retriever"/>
    <preference for="Magento\Customer\Api\Session_Cleaner_Interface" type="Magento\Customer\Model\Session\Session_Cleaner"/>
    <preference for="Magento\Customer\Api\Group_Excluded_Website_Repository_Interface"
                type="Magento\Customer\Model\Resource_Model\Group_Excluded_Website_Repository" />
    <virtualType name="SessionValidator" type="Magento\Framework\Session\Composite_Validator">
        <arguments>
            <argument name="validators" xsi:type="array">
                <item name="validator" xsi:type="object">Magento\Framework\Session\Validator</item>
                <item name="cutoff_validator" xsi:type="object">
                    Magento\Customer\Model\Session\Validators\Cutoff_Validator
                </item>
            </argument>
        </arguments>
    </virtualType>
    <type name="Magento\Customer\Model\Session">
        <arguments>
            <argument name="configShare" xsi:type="object">Magento\Customer\Model\Config\Share\Proxy</argument>
            <argument name="customerUrl" xsi:type="object">Magento\Customer\Model\Url\Proxy</argument>
            <argument name="customerResource" xsi:type="object">Magento\Customer\Model\Resource_Model\Customer\Proxy</argument>
            <argument name="storage" xsi:type="object">Magento\Customer\Model\Session\Storage</argument>
            <argument name="customerRepository" xsi:type="object">Magento\Customer\Api\Customer_Repository_Interface\Proxy</argument>
            <argument name="validator" xsi:type="object">SessionValidator</argument>
        </arguments>
    </type>
    <type name="Magento\Customer\Helper\Address">
        <arguments>
            <argument name="addressConfig" xsi:type="object">Magento\Customer\Model\Address\Config\Proxy</argument>
        </arguments>
    </type>
    <type name="Magento\Framework\App\Http\Context">
        <arguments>
            <argument name="default" xsi:type="array">
                <item name="customer_group" xsi:type="const">Magento\Customer\Api\Data\Group_Interface::NOT_LOGGED_IN_ID</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Customer\Model\Config\Share">
        <arguments>
            <argument name="customerResource" xsi:type="object">Magento\Customer\Model\Resource_Model\Customer\Proxy</argument>
        </arguments>
    </type>
    <type name="Magento\Eav\Model\Entity\Setup\Property_Mapper\Composite">
        <arguments>
            <argument name="propertyMappers" xsi:type="array">
                <item name="customer" xsi:type="string">Magento\Customer\Model\Resource_Model\Setup\Property_Mapper</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Framework\Model\Action_Validator\Remove_Action">
        <arguments>
            <argument name="protectedModels" xsi:type="array">
                <item name="customer" xsi:type="string">Magento\Customer\Model\Customer</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Customer\Model\Resource_Model\Address">
        <arguments>
            <argument name="customerRepository" xsi:type="object">Magento\Customer\Api\Customer_Repository_Interface\Proxy</argument>
            <argument name="entitySnapshot" xsi:type="object">CustomerAddressSnapshot</argument>
            <argument name="entityRelationComposite" xsi:type="object">CustomerAddressRelationsComposite</argument>
        </arguments>
    </type>
    <type name="Magento\Customer\Model\Address\Config">
        <arguments>
            <argument name="reader" xsi:type="object">Magento\Customer\Model\Address\Config\Reader\Proxy</argument>
        </arguments>
    </type>
    <type name="Magento\Customer\Model\Visitor">
        <arguments>
            <argument name="ignoredUserAgents" xsi:type="array">
                <item name="google1" xsi:type="string">Googlebot/1.0 (googlebot@googlebot.com http://googlebot.com/)</item>
                <item name="google2" xsi:type="string">Mozilla/5.0 (compatible; Googlebot/2.1; +http://www.google.com/bot.html)</item>
                <item name="google3" xsi:type="string">Googlebot/2.1 (+http://www.googlebot.com/bot.html)</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Customer\Model\Resource_Model\Group" shared="false">
        <arguments>
            <argument name="groupManagement" xsi:type="object">Magento\Customer\Api\Group_Management_Interface\Proxy</argument>
        </arguments>
    </type>
    <type name="Magento\Customer\Model\Metadata\Customer_Metadata">
        <arguments>
            <argument name="systemAttributes" xsi:type="array">
                <item name="disable_auto_group_change" xsi:type="string">disable_auto_group_change</item>
            </argument>
        </arguments>
    </type>
    <virtualType name="SectionInvalidationConfigReader" type="Magento\Framework\Config\Reader\Filesystem">
        <arguments>
            <argument name="idAttributes" xsi:type="array">
                <item name="/config/action" xsi:type="string">name</item>
                <item name="/config/action/section" xsi:type="string">name</item>
            </argument>
            <argument name="fileName" xsi:type="string">sections.xml</argument>
            <argument name="converter" xsi:type="object">\Magento\Customer\Customer_Data\Section_Config_Converter</argument>
            <argument name="schemaLocator" xsi:type="object">Magento\Customer\Customer_Data\Schema_Locator</argument>
            <argument name="defaultScope" xsi:type="string">frontend</argument>
        </arguments>
    </virtualType>
    <virtualType name="SectionInvalidationConfigData" type="Magento\Framework\Config\Data">
        <arguments>
            <argument name="reader" xsi:type="object">SectionInvalidationConfigReader</argument>
            <argument name="cacheId" xsi:type="string">sections_invalidation_config</argument>
        </arguments>
    </virtualType>
    <type name="Magento\Customer\Block\Section_Config">
        <arguments>
            <argument name="sectionConfig" xsi:type="object">SectionInvalidationConfigData</argument>
        </arguments>
    </type>
    <type name="Magento\Customer\Block\Section_Names_Provider">
        <arguments>
            <argument name="sectionConfig" xsi:type="object">SectionInvalidationConfigData</argument>
        </arguments>
    </type>
    <preference for="Magento\Customer\Customer_Data\Js_Layout_Data_Provider_Pool_Interface"
                type="Magento\Customer\Customer_Data\Js_Layout_Data_Provider_Pool"/>
    <type name="Magento\Framework\Webapi\Service_Type_To_Entity_Type_Map">
        <arguments>
            <argument name="serviceTypeToEntityTypeMap" xsi:type="array">
                <item name="Magento\Customer\Api\Data\Customer_Interface" xsi:type="const">Magento\Customer\Api\Customer_Metadata_Interface::ENTITY_TYPE_CUSTOMER</item>
                <item name="Magento\Customer\Api\Data\Address_Interface" xsi:type="const">Magento\Customer\Api\Address_Metadata_Interface::ENTITY_TYPE_ADDRESS</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Eav\Model\Type_Locator\Complex_Type">
        <arguments>
            <argument name="backendModelToAttributeTypeMap" xsi:type="array">
                <item name="Magento\Customer\Api\Data\Customer_Interface" xsi:type="array">
                    <item name="Magento\Eav\Model\Attribute\Data\Image" xsi:type="string">Magento\Framework\Api\Data\Image_Content_Interface</item>
                </item>
                <item name="Magento\Customer\Model\Customer\Attribute\Backend\Website" xsi:type="string">int</item>
                <item name="Magento\Customer\Model\Customer\Attribute\Backend\Store" xsi:type="string">int</item>
                <item name="Magento\Customer\Model\Attribute\Backend\Data\Boolean" xsi:type="string">boolean</item>
                <item name="Magento\Customer\Model\Customer\Attribute\Backend\Password" xsi:type="string">string</item>
                <item name="Magento\Customer\Model\Customer\Attribute\Backend\Billing" xsi:type="string">Magento\Customer\Api\Data\Address_Interface</item>
                <item name="Magento\Customer\Model\Customer\Attribute\Backend\Shipping" xsi:type="string">Magento\Customer\Api\Data\Address_Interface</item>
                <item name="Magento\Eav\Model\Entity\Attribute\Backend\Datetime" xsi:type="string">string</item>
                <item name="Magento\Customer\Model\Resource_Model\Address\Attribute\Backend\Region" xsi:type="string">Magento\Customer\Api\Data\Region_Interface</item>
            </argument>
        </arguments>
    </type>
    <virtualType name="EavVersionControlSnapshot" type="Magento\Framework\Model\Resource_Model\Db\Version_Control\Snapshot">
        <arguments>
            <argument name="metadata" xsi:type="object">Magento\Eav\Model\Entity\Version_Control\Metadata</argument>
        </arguments>
    </virtualType>
    <virtualType name="CustomerAddressSnapshot" type="Magento\Customer\Model\Resource_Model\Db\Version_Control\Address_Snapshot">
        <arguments>
            <argument name="metadata" xsi:type="object">Magento\Eav\Model\Entity\Version_Control\Metadata</argument>
        </arguments>
    </virtualType>
    <virtualType name="CustomerRelationsComposite" type="Magento\Framework\Model\Resource_Model\Db\Version_Control\Relation_Composite">
        <arguments>
            <argument name="relationProcessors" xsi:type="array">
                <item name="default" xsi:type="object">Magento\Customer\Model\Resource_Model\Customer\Relation</item>
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="CustomerAddressRelationsComposite" type="Magento\Framework\Model\Resource_Model\Db\Version_Control\Relation_Composite">
        <arguments>
            <argument name="relationProcessors" xsi:type="array">
                <item name="default" xsi:type="object">Magento\Customer\Model\Resource_Model\Address\Relation</item>
            </argument>
        </arguments>
    </virtualType>
    <type name="Magento\Customer\Model\Resource_Model\Customer">
        <arguments>
            <argument name="entitySnapshot" xsi:type="object">EavVersionControlSnapshot</argument>
            <argument name="entityRelationComposite" xsi:type="object">CustomerRelationsComposite</argument>
        </arguments>
    </type>
    <type name="Magento\Customer\Model\Resource_Model\Customer\Collection">
        <arguments>
            <argument name="entitySnapshot" xsi:type="object">EavVersionControlSnapshot</argument>
        </arguments>
    </type>
    <type name="Magento\Customer\Model\Resource_Model\Address\Collection">
        <arguments>
            <argument name="entitySnapshot" xsi:type="object">EavVersionControlSnapshot</argument>
        </arguments>
    </type>
    <type name="Magento\Framework\View\Element\Ui_Component\Data_Provider\Collection_Factory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="customer_listing_data_source" xsi:type="string">Magento\Customer\Model\Resource_Model\Grid\Collection</item>
                <item name="customer_online_grid_data_source" xsi:type="string">Magento\Customer\Model\Resource_Model\Online\Grid\Collection</item>
                <item name="customer_group_listing_data_source" xsi:type="string">Magento\Customer\Model\Resource_Model\Group\Grid\Collection</item>
                <item name="customer_address_listing_data_source" xsi:type="string">Magento\Customer\Model\Resource_Model\Address\Grid\Collection</item>
            </argument>
        </arguments>
    </type>
    <virtualType name="CustomerNameHandler" type="Magento\Framework\Indexer\Handler\Concat_Handler">
        <arguments>
            <argument name="concatExpression" xsi:type="object">CustomerNameExpression</argument>
        </arguments>
    </virtualType>
    <virtualType name="ShippingAddressHandler" type="Magento\Framework\Indexer\Handler\Concat_Handler">
        <arguments>
            <argument name="concatExpression" xsi:type="object">ShippingAddressExpression</argument>
        </arguments>
    </virtualType>
    <virtualType name="BillingAddressHandler" type="Magento\Framework\Indexer\Handler\Concat_Handler">
        <arguments>
            <argument name="concatExpression" xsi:type="object">BillingAddressExpression</argument>
        </arguments>
    </virtualType>
    <virtualType name="CustomerNameExpression" type="Magento\Framework\DB\Sql\Concat_Expression">
        <arguments>
            <argument name="tableName" xsi:type="string">e</argument>
            <argument name="columns" xsi:type="array">
                <item name="prefix" xsi:type="array">
                    <item name="tableAlias" xsi:type="string">e</item>
                    <item name="columnName" xsi:type="string">prefix</item>
                </item>
                <item name="firstname" xsi:type="array">
                    <item name="tableAlias" xsi:type="string">e</item>
                    <item name="columnName" xsi:type="string">firstname</item>
                </item>
                <item name="middlename" xsi:type="array">
                    <item name="tableAlias" xsi:type="string">e</item>
                    <item name="columnName" xsi:type="string">middlename</item>
                </item>
                <item name="lastname" xsi:type="array">
                    <item name="tableAlias" xsi:type="string">e</item>
                    <item name="columnName" xsi:type="string">lastname</item>
                </item>
                <item name="suffix" xsi:type="array">
                    <item name="tableAlias" xsi:type="string">e</item>
                    <item name="columnName" xsi:type="string">suffix</item>
                </item>
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="ShippingAddressExpression" type="Magento\Framework\DB\Sql\Concat_Expression">
        <arguments>
            <argument name="columns" xsi:type="array">
                <item name="prefix" xsi:type="array">
                    <item name="tableAlias" xsi:type="string">shipping</item>
                    <item name="columnName" xsi:type="string">street</item>
                </item>
                <item name="firstname" xsi:type="array">
                    <item name="tableAlias" xsi:type="string">shipping</item>
                    <item name="columnName" xsi:type="string">city</item>
                </item>
                <item name="middlename" xsi:type="array">
                    <item name="tableAlias" xsi:type="string">shipping</item>
                    <item name="columnName" xsi:type="string">region</item>
                </item>
                <item name="lastname" xsi:type="array">
                    <item name="tableAlias" xsi:type="string">shipping</item>
                    <item name="columnName" xsi:type="string">postcode</item>
                </item>
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="BillingAddressExpression" type="Magento\Framework\DB\Sql\Concat_Expression">
        <arguments>
            <argument name="columns" xsi:type="array">
                <item name="prefix" xsi:type="array">
                    <item name="tableAlias" xsi:type="string">billing</item>
                    <item name="columnName" xsi:type="string">street</item>
                </item>
                <item name="firstname" xsi:type="array">
                    <item name="tableAlias" xsi:type="string">billing</item>
                    <item name="columnName" xsi:type="string">city</item>
                </item>
                <item name="middlename" xsi:type="array">
                    <item name="tableAlias" xsi:type="string">billing</item>
                    <item name="columnName" xsi:type="string">region</item>
                </item>
                <item name="lastname" xsi:type="array">
                    <item name="tableAlias" xsi:type="string">billing</item>
                    <item name="columnName" xsi:type="string">postcode</item>
                </item>
            </argument>
        </arguments>
    </virtualType>
    <type name="Magento\Customer\Model\Indexer\Attribute_Provider">
        <arguments>
            <argument name="collection" xsi:type="object" shared="false">Magento\Customer\Model\Resource_Model\Attribute\Collection</argument>
        </arguments>
    </type>
    <type name="Magento\Customer\Model\Indexer\Address\Attribute_Provider">
        <arguments>
            <argument name="collection" xsi:type="object" shared="false">Magento\Customer\Model\Resource_Model\Address\Attribute\Collection</argument>
        </arguments>
    </type>
    <type name="Magento\Customer\Model\Resource_Model\Online\Grid\Collection">
        <arguments>
            <argument name="mainTable" xsi:type="string">customer_visitor</argument>
            <argument name="resourceModel" xsi:type="string">Magento\Customer\Model\Resource_Model\Visitor</argument>
        </arguments>
    </type>
    <type name="Magento\Framework\Console\Command_List_Interface">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="upgradeHashAlgorithmCommand" xsi:type="object">Magento\Customer\Console\Command\Upgrade_Hash_Algorithm_Command</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Customer\Api\Customer_Repository_Interface">
        <plugin name="transactionWrapper" type="Magento\Customer\Model\Plugin\Customer_Repository\Transaction_Wrapper" sortOrder="-1"/>
    </type>
    <type name="Magento\Framework\App\Action_Interface">
        <plugin name="customerNotification" type="Magento\Customer\Model\Plugin\Customer_Notification"/>
    </type>
    <type name="Magento\Customer\Model\Authorization\Customer_Session_User_Context">
        <arguments>
            <argument name="customerSession" xsi:type="object">Magento\Customer\Model\Session\Proxy</argument>
        </arguments>
    </type>
    <type name="Magento\Page_Cache\Observer\Flush_Form_Key">
        <plugin name="customerFlushFormKey" type="Magento\Customer\Model\Plugin\Customer_Flush_Form_Key"/>
    </type>
    <type name="Magento\Customer\Model\Customer\Notification_Storage">
        <arguments>
            <argument name="cache" xsi:type="object">Magento\Customer\Model\Cache\Type\Notification</argument>
        </arguments>
    </type>
    <type name="Magento\Customer\Model\Resource_Model\Customer_Repository">
        <arguments>
            <argument name="collectionProcessor" xsi:type="object">Magento\Eav\Model\Api\Search_Criteria\Collection_Processor</argument>
        </arguments>
    </type>
    <!-- @api -->
    <virtualType name="Magento\Customer\Model\Api\Search_Criteria\Collection_Processor\Group_Filter_Processor" type="Magento\Framework\Api\Search_Criteria\Collection_Processor\Filter_Processor">
        <arguments>
            <argument name="fieldMapping" xsi:type="array">
                <item name="code" xsi:type="string">main_table.customer_group_code</item>
                <item name="id" xsi:type="string">main_table.customer_group_id</item>
                <item name="tax_class_name" xsi:type="string">tax_class_table.class_name</item>
            </argument>
        </arguments>
    </virtualType>
    <!-- @api -->
    <virtualType name="Magento\Customer\Model\Api\Search_Criteria\Collection_Processor\Group_Sorting_Processor" type="Magento\Framework\Api\Search_Criteria\Collection_Processor\Sorting_Processor">
        <arguments>
            <argument name="fieldMapping" xsi:type="array">
                <item name="code" xsi:type="string">main_table.customer_group_code</item>
                <item name="id" xsi:type="string">main_table.customer_group_id</item>
                <item name="tax_class_name" xsi:type="string">tax_class_table.class_name</item>
            </argument>
            <argument name="defaultOrders" xsi:type="array">
                <item name="id" xsi:type="string">ASC</item>
            </argument>
        </arguments>
    </virtualType>
    <!-- @api -->
    <virtualType name="Magento\Customer\Model\Api\Search_Criteria\Group_Collection_Processor" type="Magento\Framework\Api\Search_Criteria\Collection_Processor">
        <arguments>
            <argument name="processors" xsi:type="array">
                <item name="filters" xsi:type="object">Magento\Customer\Model\Api\Search_Criteria\Collection_Processor\Group_Filter_Processor</item>
                <item name="sorting" xsi:type="object">Magento\Customer\Model\Api\Search_Criteria\Collection_Processor\Group_Sorting_Processor</item>
                <item name="pagination" xsi:type="object">Magento\Framework\Api\Search_Criteria\Collection_Processor\Pagination_Processor</item>
            </argument>
        </arguments>
    </virtualType>
    <type name="Magento\Customer\Model\Resource_Model\Group_Repository">
        <arguments>
            <argument name="collectionProcessor" xsi:type="object">Magento\Customer\Model\Api\Search_Criteria\Group_Collection_Processor</argument>
        </arguments>
    </type>
    <type name="Magento\Customer\Model\Resource_Model\Address_Repository">
        <arguments>
            <argument name="collectionProcessor" xsi:type="object">Magento\Eav\Model\Api\Search_Criteria\Collection_Processor</argument>
        </arguments>
    </type>
    <type name="Magento\Customer\Model\Attribute">
        <arguments>
            <argument name="attributeMetadataCache" xsi:type="object">Magento\Customer\Model\Metadata\Attribute_Metadata_Cache\Proxy</argument>
        </arguments>
    </type>
    <type name="Magento\Framework\Entity_Manager\Metadata_Pool">
        <arguments>
            <argument name="metadata" xsi:type="array">
                <item name="Magento\Customer\Api\Data\Customer_Interface" xsi:type="array">
                    <item name="entityTableName" xsi:type="string">customer_entity</item>
                    <item name="eavEntityType" xsi:type="string">customer</item>
                    <item name="identifierField" xsi:type="string">entity_id</item>
                </item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Customer\Ui\Component\Mass_Action\Group\Options">
        <arguments>
            <argument name="data" xsi:type="array">
                <item name="urlPath" xsi:type="string">customer/index/massAssignGroup</item>
                <item name="paramName" xsi:type="string">group</item>
                <item name="confirm" xsi:type="array">
                    <item name="title" xsi:type="string" translatable="true">Assign a Customer Group</item>
                    <item name="message" xsi:type="string" translatable="true">Are you sure to assign selected customers to new group?</item>
                </item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Customer\Model\Account_Management">
        <arguments>
            <argument name="sessionManager" xsi:type="object">Magento\Framework\Session\Session_Manager_Interface\Proxy</argument>
        </arguments>
    </type>
    <type name="Magento\Customer\Model\Address\Composite_Validator">
        <arguments>
            <argument name="validators" xsi:type="array">
                <item name="general" xsi:type="object">Magento\Customer\Model\Address\Validator\General</item>
                <item name="country" xsi:type="object">Magento\Customer\Model\Address\Validator\Country</item>
                <item name="customer" xsi:type="object">Magento\Customer\Model\Address\Validator\Customer</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Customer\Model\Resource_Model\Group\Grid\Collection">
        <arguments>
            <argument name="mainTable" xsi:type="string">customer_group</argument>
            <argument name="eventPrefix" xsi:type="string">customer_group_grid_collection</argument>
            <argument name="eventObject" xsi:type="string">customer_group_collection</argument>
            <argument name="resourceModel" xsi:type="string">Magento\Customer\Model\Resource_Model\Group</argument>
        </arguments>
    </type>
    <type name="Magento\Customer\Model\Resource_Model\Address\Grid\Collection">
        <arguments>
            <argument name="mainTable" xsi:type="string">customer_address_entity</argument>
            <argument name="eventPrefix" xsi:type="string">customer_address_entity_grid_collection</argument>
            <argument name="eventObject" xsi:type="string">customer_address_entity_grid_collection</argument>
            <argument name="resourceModel" xsi:type="string">Magento\Customer\Model\Resource_Model\Address</argument>
        </arguments>
    </type>
    <type name="Magento\Webapi\Controller\Rest\Params_Overrider">
        <arguments>
            <argument name="paramOverriders" xsi:type="array">
                <item name="%customer_group_id%" xsi:type="object">Magento\Customer\Model\Webapi\Param_Overrider_Customer_Group_Id</item>
                <item name="%customer_website_id%" xsi:type="object">Magento\Customer\Model\Webapi\Param_Overrider_Customer_Website_Id</item>
                <item name="%customer_store_id%" xsi:type="object">Magento\Customer\Model\Webapi\Param_Overrider_Customer_Store_Id</item>
            </argument>
        </arguments>
    </type>
    <preference
            for="Magento\Customer\Api\Account_Delegation_Interface"
            type="Magento\Customer\Model\Delegation\Account_Delegation" />
    <type name="Magento\Eav\Model\Config">
        <arguments>
            <argument name="attributesForPreload" xsi:type="array">
                <item name="customer" xsi:type="array">
                    <item name="confirmation" xsi:type="string">customer</item>
                    <item name="created_at" xsi:type="string">customer</item>
                    <item name="created_in" xsi:type="string">customer</item>
                    <item name="default_billing" xsi:type="string">customer</item>
                    <item name="default_shipping" xsi:type="string">customer</item>
                    <item name="disable_auto_group_change" xsi:type="string">customer</item>
                    <item name="dob" xsi:type="string">customer</item>
                    <item name="email" xsi:type="string">customer</item>
                    <item name="failures_num" xsi:type="string">customer</item>
                    <item name="firstname" xsi:type="string">customer</item>
                    <item name="first_failure" xsi:type="string">customer</item>
                    <item name="gender" xsi:type="string">customer</item>
                    <item name="group_id" xsi:type="string">customer</item>
                    <item name="lastname" xsi:type="string">customer</item>
                    <item name="lock_expires" xsi:type="string">customer</item>
                    <item name="middlename" xsi:type="string">customer</item>
                    <item name="password_hash" xsi:type="string">customer</item>
                    <item name="prefix" xsi:type="string">customer</item>
                    <item name="rp_token" xsi:type="string">customer</item>
                    <item name="rp_token_created_at" xsi:type="string">customer</item>
                    <item name="store_id" xsi:type="string">customer</item>
                    <item name="suffix" xsi:type="string">customer</item>
                    <item name="taxvat" xsi:type="string">customer</item>
                    <item name="updated_at" xsi:type="string">customer</item>
                    <item name="website_id" xsi:type="string">customer</item>
                </item>
                <item name="customer_address" xsi:type="array">
                    <item name="city" xsi:type="string">customer_address</item>
                    <item name="company" xsi:type="string">customer_address</item>
                    <item name="country_id" xsi:type="string">customer_address</item>
                    <item name="fax" xsi:type="string">customer_address</item>
                    <item name="firstname" xsi:type="string">customer_address</item>
                    <item name="lastname" xsi:type="string">customer_address</item>
                    <item name="middlename" xsi:type="string">customer_address</item>
                    <item name="postcode" xsi:type="string">customer_address</item>
                    <item name="prefix" xsi:type="string">customer_address</item>
                    <item name="region" xsi:type="string">customer_address</item>
                    <item name="region_id" xsi:type="string">customer_address</item>
                    <item name="street" xsi:type="string">customer_address</item>
                    <item name="suffix" xsi:type="string">customer_address</item>
                    <item name="telephone" xsi:type="string">customer_address</item>
                    <item name="vat_id" xsi:type="string">customer_address</item>
                    <item name="vat_is_valid" xsi:type="string">customer_address</item>
                    <item name="vat_request_date" xsi:type="string">customer_address</item>
                    <item name="vat_request_id" xsi:type="string">customer_address</item>
                    <item name="vat_request_success" xsi:type="string">customer_address</item>
                </item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Customer\Api\Group_Repository_Interface">
        <plugin name="saveCustomerGroupExcludedWebsite" type="Magento\Customer\Model\Plugin\Save_Customer_Group_Excluded_Website"/>
        <plugin name="deleteCustomerGroupExcludedWebsite" type="Magento\Customer\Model\Plugin\Delete_Customer_Group_Excluded_Website"/>
        <plugin name="getByIdCustomerGroupExcludedWebsite" type="Magento\Customer\Model\Plugin\Get_By_Id_Customer_Group_Excluded_Website"/>
        <plugin name="getListCustomerGroupExcludedWebsite" type="Magento\Customer\Model\Plugin\Get_List_Customer_Group_Excluded_Website"/>
    </type>
    <type name="Magento\Customer\Ui\Component\Listing\Columns">
        <arguments>
            <argument name="filterConfigProviders" xsi:type="array">
                <item name="text" xsi:type="object">Magento\Customer\Ui\Component\Listing\Filter\Text_Filter_Config_Provider</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Customer\Model\Email_Notification_Interface">
        <plugin name="saveWishlistDataAndAddReferenceKeyToBackUrl" type="Magento\Wishlist\Plugin\Save_Wishlist_Data_And_Add_Reference_Key_To_Back_Url"/>
    </type>
    <type name="Magento\Eav\Model\Validator\Attribute\Data">
        <arguments>
            <argument name="ignoredAttributesByTypesList" xsi:type="array">
                <item name="customer" xsi:type="array">
                    <item name="website_id" xsi:type="string">website_id</item>
                    <item name="store_id" xsi:type="string">store_id</item>
                    <item name="group_id" xsi:type="string">group_id</item>
                    <item name="dob" xsi:type="string">dob</item>
                    <item name="rp_token" xsi:type="string">rp_token</item>
                    <item name="rp_token_created_at" xsi:type="string">rp_token_created_at</item>
                    <item name="password_hash" xsi:type="string">password_hash</item>
                </item>
                <item name="customer_address" xsi:type="array">
                    <item name="country_id" xsi:type="string">country_id</item>
                </item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Asynchronous_Operations\Model\Mass_Schedule">
        <plugin name="anonymousAsyncCustomerRequest"
                type="Magento\Customer\Plugin\Async_Request_Customer_Group_Authorization"
        />
    </type>
    <virtualType name="Magento\Customer\Model\Mview_Action" type="\Magento\Framework\Mview\View\Base_Action">
        <arguments>
            <argument name="indexerId" xsi:type="string">customer_grid</argument>
        </arguments>
    </virtualType>
    <type name="Magento\Framework\Webapi\Error_Processor">
        <plugin name="processValidatorException" type="Magento\Customer\Model\Plugin\Webapi\Error_Processor_Plugin" sortOrder="10"/>
    </type>
</config>
