<?xml version="1.0"?>
<!--
/**
 * Copyright 2014 Adobe
 * All Rights Reserved.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Magento\Quote\Api\Shipping_Method_Management_Interface" type="Magento\Quote\Model\Shipping_Method_Management" />
    <preference for="Magento\Quote\Api\Shipment_Estimation_Interface" type="Magento\Quote\Model\Shipping_Method_Management" />
    <preference for="Magento\Quote\Api\Data\Shipping_Method_Interface" type="Magento\Quote\Model\Cart\Shipping_Method" />
    <preference for="Magento\Quote\Api\Billing_Address_Management_Interface" type="Magento\Quote\Model\Billing_Address_Management" />
    <preference for="Magento\Quote\Model\Shipping_Address_Management_Interface" type="Magento\Quote\Model\Shipping_Address_Management" />
    <preference for="Magento\Quote\Model\Masked_Quote_Id_To_Quote_Id_Interface" type="Magento\Quote\Model\Masked_Quote_Id_To_Quote_Id" />
    <preference for="Magento\Quote\Model\Quote_Id_To_Masked_Quote_Id_Interface" type="Magento\Quote\Model\Quote_Id_To_Masked_Quote_Id" />
    <preference for="Magento\Quote\Api\Data\Address_Interface" type="Magento\Quote\Model\Quote\Address" />
    <preference for="Magento\Quote\Api\Data\Cart_Item_Interface" type="Magento\Quote\Model\Quote\Item" />
    <preference for="Magento\Quote\Api\Data\Cart_Interface" type="Magento\Quote\Model\Quote" />
    <preference for="Magento\Quote\Api\Cart_Item_Repository_Interface" type="Magento\Quote\Model\Quote\Item\Repository" />
    <preference for="Magento\Quote\Api\Cart_Repository_Interface" type="Magento\Quote\Model\Quote_Repository" />
    <preference for="Magento\Quote\Api\Data\Cart_Search_Results_Interface" type="Magento\Quote\Model\Cart_Search_Results" />
    <preference for="Magento\Quote\Api\Payment_Method_Management_Interface" type="Magento\Quote\Model\Payment_Method_Management" />
    <preference for="Magento\Quote\Api\Data\Payment_Interface" type="Magento\Quote\Model\Quote\Payment" />
    <preference for="Magento\Quote\Api\Coupon_Management_Interface" type="Magento\Quote\Model\Coupon_Management" />
    <preference for="Magento\Quote\Api\Cart_Management_Interface" type="Magento\Quote\Model\Quote_Management" />
    <preference for="Magento\Quote\Api\Cart_Total_Repository_Interface" type="Magento\Quote\Model\Cart\Cart_Total_Repository" />
    <preference for="Magento\Quote\Api\Change_Quote_Control_Interface" type="Magento\Quote\Model\Change_Quote_Control" />
    <preference for="Magento\Quote\Api\Cart_Total_Management_Interface" type="Magento\Quote\Model\Cart\Cart_Total_Management" />
    <preference for="Magento\Quote\Api\Data\Totals_Interface" type="Magento\Quote\Model\Cart\Totals" />
    <preference for="Magento\Quote\Api\Data\Total_Segment_Interface" type="Magento\Quote\Model\Cart\Total_Segment" />
    <preference for="Magento\Quote\Api\Data\Totals_Item_Interface" type="Magento\Quote\Model\Cart\Totals\Item" />
    <preference for="Magento\Quote\Api\Data\Currency_Interface" type="Magento\Quote\Model\Cart\Currency" />
    <preference for="Magento\Quote\Api\Guest_Cart_Management_Interface" type="Magento\Quote\Model\Guest_Cart\Guest_Cart_Management" />
    <preference for="Magento\Quote\Api\Guest_Cart_Repository_Interface" type="Magento\Quote\Model\Guest_Cart\Guest_Cart_Repository" />
    <preference for="Magento\Quote\Api\Guest_Cart_Item_Repository_Interface" type="Magento\Quote\Model\Guest_Cart\Guest_Cart_Item_Repository" />
    <preference for="Magento\Quote\Api\Guest_Coupon_Management_Interface" type="Magento\Quote\Model\Guest_Cart\Guest_Coupon_Management" />
    <preference for="Magento\Quote\Api\Guest_Payment_Method_Management_Interface" type="Magento\Quote\Model\Guest_Cart\Guest_Payment_Method_Management" />
    <preference for="Magento\Quote\Api\Guest_Cart_Total_Repository_Interface" type="Magento\Quote\Model\Guest_Cart\Guest_Cart_Total_Repository" />
    <preference for="Magento\Quote\Model\Guest_Cart\Guest_Shipping_Address_Management_Interface" type="Magento\Quote\Model\Guest_Cart\Guest_Shipping_Address_Management" />
    <preference for="Magento\Quote\Api\Guest_Shipping_Method_Management_Interface" type="Magento\Quote\Model\Guest_Cart\Guest_Shipping_Method_Management" />
    <preference for="Magento\Quote\Api\Guest_Shipment_Estimation_Interface" type="Magento\Quote\Model\Guest_Cart\Guest_Shipping_Method_Management" />
    <preference for="Magento\Quote\Api\Guest_Billing_Address_Management_Interface" type="Magento\Quote\Model\Guest_Cart\Guest_Billing_Address_Management" />
    <preference for="Magento\Quote\Api\Guest_Cart_Total_Management_Interface" type="Magento\Quote\Model\Guest_Cart\Guest_Cart_Total_Management" />
    <preference for="Magento\Quote\Api\Data\Estimate_Address_Interface" type="Magento\Quote\Model\Estimate_Address" />
    <preference for="Magento\Quote\Api\Data\Product_Option_Interface" type="Magento\Quote\Model\Quote\Product_Option" />
    <preference for="Magento\Quote\Model\Validation_Rules\Quote_Validation_Rule_Interface" type="Magento\Quote\Model\Validation_Rules\Quote_Validation_Composite\Proxy"/>
    <preference for="Magento\Quote\Model\Quote_Mutex_Interface" type="Magento\Quote\Model\Quote_Mutex"/>
    <preference for="Magento\Quote\Model\Cart_Mutex_Interface" type="Magento\Quote\Model\Cart_Mutex"/>
    <preference for="Magento\Quote\Model\Cart_Address_Mutex_Interface" type="Magento\Quote\Model\Cart_Address_Mutex"/>
    <preference for="Magento\Quote\Model\Quote\Item\Option\Comparator_Interface" type="Magento\Quote\Model\Quote\Item\Option\Comparator"/>
    <preference for="Magento\Quote\Model\Cart\Product_Reader_Interface" type="Magento\Quote\Model\Cart\Product_Reader"/>
    <type name="Magento\Webapi\Controller\Rest\Params_Overrider">
        <arguments>
            <argument name="paramOverriders" xsi:type="array">
                <item name="%cart_id%" xsi:type="object">Magento\Quote\Model\Webapi\Param_Overrider_Cart_Id\Proxy</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Quote\Model\Quote_Repository">
        <arguments>
            <argument name="quoteCollection" xsi:type="object">Magento\Quote\Model\Resource_Model\Quote\Collection\Proxy</argument>
        </arguments>
    </type>
    <type name="Magento\Quote\Model\Quote\Address">
        <arguments>
            <argument name="addressConfig" xsi:type="object">Magento\Customer\Model\Address\Config\Proxy</argument>
        </arguments>
    </type>
    <virtualType name="QuoteAddressRelationsComposite" type="Magento\Framework\Model\Resource_Model\Db\Version_Control\Relation_Composite">
        <arguments>
            <argument name="relationProcessors" xsi:type="array">
                <item name="default" xsi:type="object">Magento\Quote\Model\Quote\Address\Relation</item>
            </argument>
        </arguments>
    </virtualType>
    <type name="Magento\Quote\Model\Resource_Model\Quote\Address">
        <arguments>
            <argument name="entityRelationComposite" xsi:type="object">QuoteAddressRelationsComposite</argument>
        </arguments>
    </type>
    <virtualType name="QuoteRelationsComposite" type="Magento\Framework\Model\Resource_Model\Db\Version_Control\Relation_Composite">
        <arguments>
            <argument name="relationProcessors" xsi:type="array">
                <item name="default" xsi:type="object">Magento\Quote\Model\Quote\Relation</item>
            </argument>
        </arguments>
    </virtualType>
    <type name="Magento\Quote\Model\Resource_Model\Quote">
        <arguments>
            <argument name="entityRelationComposite" xsi:type="object">QuoteRelationsComposite</argument>
        </arguments>
    </type>
    <preference for="Magento\Quote\Api\Data\Address_Additional_Data_Interface" type="Magento\Quote\Model\Address_Additional_Data" />
    <preference for="Magento\Quote\Api\Data\Totals_Additional_Data_Interface" type="Magento\Quote\Model\Cart\Totals_Additional_Data" />
    <preference for="Magento\Quote\Model\Quote\Address\Custom_Attribute_List_Interface" type="Magento\Quote\Model\Quote\Address\Custom_Attribute_List" />
    <preference for="Magento\Quote\Model\Quote\Address\Free_Shipping_Interface" type="Magento\Quote\Model\Quote\Address\Free_Shipping" />
    <preference for="Magento\Quote\Model\Guest_Cart\Guest_Shipping_Method_Management_Interface" type="Magento\Quote\Model\Guest_Cart\Guest_Shipping_Method_Management" />
    <preference for="Magento\Quote\Model\Shipping_Method_Management_Interface" type="Magento\Quote\Model\Shipping_Method_Management" />
    <preference for="Magento\Quote\Api\Data\Shipping_Interface" type="Magento\Quote\Model\Shipping" />
    <preference for="Magento\Quote\Api\Data\Shipping_Assignment_Interface" type="Magento\Quote\Model\Shipping_Assignment" />
    <preference for="Magento\Quote\Model\Product\Quote_Items_Cleaner_Interface" type="Magento\Quote\Model\Product\Quote_Items_Cleaner" />
    <type name="Magento\Catalog\Model\Resource_Model\Product">
        <plugin name="clean_quote_items_after_product_delete" type="Magento\Quote\Model\Product\Plugin\Remove_Quote_Items"/>
        <plugin name="update_quote_items_after_product_save" type="Magento\Quote\Model\Product\Plugin\Update_Quote_Items"/>
    </type>
    <type name="Magento\Catalog\Api\Tier_Price_Storage_Interface">
        <plugin name="update_quote_items_after_tier_prices_update" type="Magento\Quote\Model\Product\Plugin\Update_Quote"/>
    </type>
    <type name="Magento\Catalog\Model\Product\Action">
        <plugin name="quoteProductMassChange" type="Magento\Quote\Model\Product\Plugin\Mark_Quotes_Recollect_Mass_Disabled"/>
    </type>
    <type name="Magento\Quote\Model\Validation_Rules\Quote_Validation_Composite">
        <arguments>
            <argument name="validationRules" xsi:type="array">
                <item name="AllowedCountryValidationRule" xsi:type="object">Magento\Quote\Model\Validation_Rules\Allowed_Country_Validation_Rule</item>
                <item name="ShippingAddressValidationRule" xsi:type="object">Magento\Quote\Model\Validation_Rules\Shipping_Address_Validation_Rule</item>
                <item name="ShippingMethodValidationRule" xsi:type="object">Magento\Quote\Model\Validation_Rules\Shipping_Method_Validation_Rule</item>
                <item name="BillingAddressValidationRule" xsi:type="object">Magento\Quote\Model\Validation_Rules\Billing_Address_Validation_Rule</item>
                <item name="PaymentMethodValidationRule" xsi:type="object">Magento\Quote\Model\Validation_Rules\Payment_Method_Validation_Rule</item>
                <item name="MinimumAmountValidationRule" xsi:type="object">Magento\Quote\Model\Validation_Rules\Minimum_Amount_Validation_Rule</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Quote\Model\Validation_Rules\Allowed_Country_Validation_Rule">
        <arguments>
            <argument name="generalMessage" xsi:type="string" translatable="true">Some addresses can't be used due to the configurations for specific countries.</argument>
        </arguments>
    </type>
    <type name="Magento\Quote\Model\Validation_Rules\Shipping_Address_Validation_Rule">
        <arguments>
            <argument name="generalMessage" xsi:type="string" translatable="true">Please check the shipping address information.</argument>
        </arguments>
    </type>
    <type name="Magento\Quote\Model\Validation_Rules\Shipping_Method_Validation_Rule">
        <arguments>
            <argument name="generalMessage" xsi:type="string" translatable="true">The shipping method is missing. Select the shipping method and try again.</argument>
        </arguments>
    </type>
    <type name="Magento\Quote\Model\Validation_Rules\Billing_Address_Validation_Rule">
        <arguments>
            <argument name="generalMessage" xsi:type="string" translatable="true">Please check the billing address information.</argument>
        </arguments>
    </type>
    <type name="Magento\Quote\Model\Validation_Rules\Payment_Method_Validation_Rule">
        <arguments>
            <argument name="generalMessage" xsi:type="string" translatable="true">Enter a valid payment method and try again.</argument>
        </arguments>
    </type>
    <type name="Magento\Framework\App\Backpressure\Sliding_Window\Composite_Limit_Config_Manager">
        <arguments>
            <argument name="configs" xsi:type="array">
                <item name="quote-order" xsi:type="object">
                    Magento\Quote\Model\Backpressure\Order_Limit_Config_Manager
                </item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Framework\Webapi\Backpressure\Composite_Request_Type_Extractor">
        <arguments>
            <argument name="extractors" xsi:type="array">
                <item name="quote" xsi:type="object">Magento\Quote\Model\Backpressure\Webapi_Request_Type_Extractor</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Quote\Model\Quote\Item\Repository">
        <arguments>
            <argument name="quoteMutex" xsi:type="object">Magento\Quote\Model\Quote_Id_Mutex</argument>
            <argument name="cartItemValidator" xsi:type="object">Magento\Quote\Model\Quote\Item\Cart_Item_Validator_Chain_On_Save</argument>
        </arguments>
    </type>
    <preference for="Magento\Quote\Api\Error_Interface" type="Magento\Quote\Model\Cart\Data\Error" />
    <type name="Magento\Quote\Model\Cart\Add_Products_To_Cart_Error">
        <arguments>
            <argument name="errorMessageCodesMapper" xsi:type="array">
                <item name="Could not find a product with SKU" xsi:type="string">PRODUCT_NOT_FOUND</item>
                <item name="The required options you selected are not available" xsi:type="string">NOT_SALABLE</item>
                <item name="Product that you are trying to add is not available." xsi:type="string">NOT_SALABLE</item>
                <item name="This product is out of stock" xsi:type="string">INSUFFICIENT_STOCK</item>
                <item name="There are no source items" xsi:type="string">NOT_SALABLE</item>
                <item name="The fewest you may purchase is" xsi:type="string">INSUFFICIENT_STOCK</item>
                <item name="The most you may purchase is" xsi:type="string">INSUFFICIENT_STOCK</item>
                <item name="The requested qty is not available" xsi:type="string">INSUFFICIENT_STOCK</item>
                <item name="Not enough items for sale" xsi:type="string">INSUFFICIENT_STOCK</item>
                <item name="Only %s of %s available" xsi:type="string">INSUFFICIENT_STOCK</item>
                <item name="You need to choose options for your item." xsi:type="string">REQUIRED_PARAMETER_MISSING</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Quote\Api\Cart_Repository_Interface">
        <plugin name="quoteValidateOrderId" type="Magento\Quote\Plugin\Validate_Quote_Orig_Order"/>
    </type>
    <preference for="Magento\Quote\Model\Quote\Item\Cart_Item_Validator_Interface" type="Magento\Quote\Model\Quote\Item\Cart_Item_Validator_Chain"/>
    <preference for="Magento\Quote\Model\Quote\Item\Cart_Item_Validator_Result_Interface" type="Magento\Quote\Model\Quote\Item\Cart_Item_Validator_Result"/>
    <virtualType name="Magento\Quote\Model\Quote\Item\Cart_Item_Validator_Chain_On_Save" type="Magento\Quote\Model\Quote\Item\Cart_Item_Validator_Chain"/>
    <preference for="Magento\Quote\Model\Address\Validator\Address_Attribute_Validator_Interface" type="Magento\Quote\Model\Address\Validator\Address_Attribute_Validator"/>
</config>
