<?xml version="1.0"?>
<!--
/**
 * Copyright 2014 Adobe
 * All Rights Reserved.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Catalog_Import_Export\Model\Export\Row_Customizer\Composite">
        <arguments>
            <argument name="customizers" xsi:type="array">
                <item name="configurableProduct" xsi:type="string">Magento\Configurable_Import_Export\Model\Export\Row_Customizer</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Catalog_Import_Export\Model\Stock_Item_Importer_Interface">
        <plugin name="update_configurable_products_stock_item_status"
                type="Magento\Configurable_Import_Export\Plugin\Import\Product\Update_Configurable_Products_Stock_Item_Status_Plugin"
                sortOrder="100"/>
    </type>
</config>
