<?xml version="1.0"?>
<!--
/**
 * Copyright 2013 Adobe
 * All Rights Reserved.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Magento\Framework\Authorization\Role_Locator_Interface" type="Magento\Backend\Model\Authorization\Role_Locator" />
    <preference for="Magento\Framework\Locale\Resolver_Interface" type="Magento\Backend\Model\Locale\Resolver" />
    <preference for="Magento\Framework\App\Action\Context" type="Magento\Backend\App\Action\Context" />
    <preference for="Magento\Framework\Url_Interface" type="Magento\Backend\Model\Url_Interface" />
    <preference for="Magento\Backend\Model\Auth\Storage_Interface" type="Magento\Backend\Model\Auth\Session" />
    <preference for="Magento\Framework\App\Default_Path_Interface" type="Magento\Backend\App\Default_Path" />
    <preference for="Magento\Backend\App\Config_Interface" type="Magento\Backend\App\Config" />
    <preference for="Magento\Framework\App\Response\Http\File_Factory" type="Magento\Backend\App\Response\Http\File_Factory" />
    <type name="Magento\Framework\Stdlib\Date_Time\Timezone">
        <arguments>
            <argument name="scopeType" xsi:type="const">Magento\Framework\App\Config\Scope_Config_Interface::SCOPE_TYPE_DEFAULT</argument>
        </arguments>
    </type>
    <type name="Magento\Framework\View\Result\Page">
        <arguments>
            <argument name="layoutReaderPool" xsi:type="object">pageConfigRenderPool</argument>
            <argument name="template" xsi:type="string">Magento_Theme::root.phtml</argument>
        </arguments>
    </type>
    <preference for="Magento\Framework\View\Layout\Reader\Block" type="Magento\Backend\Model\View\Layout\Reader\Block" />
    <preference for="Magento\Framework\Model\Action_Validator\Remove_Action" type="Magento\Framework\Model\Action_Validator\Remove_Action\Allowed" />
    <preference for="Magento\Framework\Session\Config\Config_Interface" type="Magento\Backend\Model\Session\Admin_Config" />
    <type name="Magento\Backend\App\Action\Context">
        <arguments>
            <argument name="helper" xsi:type="object">Magento\Backend\Helper\Data</argument>
        </arguments>
    </type>
    <type name="Magento\Backend\Model\Auth\Session">
        <arguments>
            <argument name="backendUrl" xsi:type="object">Magento\Backend\Model\Url_Interface\Proxy</argument>
        </arguments>
    </type>
    <type name="Magento\Framework\View\Layout">
        <arguments>
            <argument name="area" xsi:type="string">adminhtml</argument>
        </arguments>
    </type>
    <type name="Magento\Framework\App\Router_List">
        <arguments>
            <argument name="routerList" xsi:type="array">
                <item name="admin" xsi:type="array">
                    <item name="class" xsi:type="string">Magento\Backend\App\Router</item>
                    <item name="disable" xsi:type="boolean">false</item>
                    <item name="sortOrder" xsi:type="string">10</item>
                </item>
                <item name="default" xsi:type="array">
                    <item name="class" xsi:type="string">Magento\Framework\App\Router\Default_Router</item>
                    <item name="disable" xsi:type="boolean">false</item>
                    <item name="sortOrder" xsi:type="string">100</item>
                </item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Backend\App\Abstract_Action">
        <plugin name="adminAuthentication" type="Magento\Backend\App\Action\Plugin\Authentication" sortOrder="100"/>
        <plugin name="adminMassactionKey" type="Magento\Backend\App\Action\Plugin\Massaction_Key" sortOrder="11"/>
        <plugin name="adminLoadDesign" type="Magento\Backend\App\Action\Plugin\Load_Design_Plugin" sortOrder="101"/>
    </type>
    <type name="Magento\Store\App\Response\Redirect">
        <arguments>
            <argument name="canUseSessionIdInParam" xsi:type="boolean">false</argument>
        </arguments>
    </type>
    <type name="Magento\Framework\App\Action\Action">
        <plugin name="storeCheck" disabled="true" />
    </type>
    <type name="Magento\Framework\Message\Manager">
        <arguments>
            <argument name="defaultGroup" xsi:type="string">backend</argument>
        </arguments>
    </type>
    <type name="Magento\Framework\Translate">
        <arguments>
            <argument name="cache" xsi:type="object">Magento\Framework\App\Cache\Type\Translate</argument>
            <argument name="locale" xsi:type="object">Magento\Backend\Model\Locale\Resolver\Proxy</argument>
        </arguments>
    </type>
    <type name="Magento\Backend\Model\Session\Admin_Config">
        <arguments>
            <argument name="lifetimePath" xsi:type="const">Magento\Backend\Model\Auth\Session::XML_PATH_SESSION_LIFETIME</argument>
            <argument name="sessionName" xsi:type="const">Magento\Backend\Model\Session\Admin_Config::SESSION_NAME_ADMIN</argument>
            <argument name="scopeType" xsi:type="const">Magento\Framework\App\Config\Scope_Config_Interface::SCOPE_TYPE_DEFAULT</argument>
        </arguments>
    </type>
    <type name="Magento\Framework\View\Result\Page_Factory">
        <arguments>
            <argument name="instanceName" xsi:type="string">Magento\Backend\Model\View\Result\Page</argument>
        </arguments>
    </type>
    <type name="Magento\Framework\Controller\Result_Factory">
        <arguments>
            <argument name="typeMap" xsi:type="array">
                <item name="redirect" xsi:type="array">
                    <item name="type" xsi:type="const">Magento\Framework\Controller\Result_Factory::TYPE_REDIRECT</item>
                    <item name="class" xsi:type="string">Magento\Backend\Model\View\Result\Redirect</item>
                </item>
                <item name="page" xsi:type="array">
                    <item name="type" xsi:type="const">Magento\Framework\Controller\Result_Factory::TYPE_PAGE</item>
                    <item name="class" xsi:type="string">Magento\Backend\Model\View\Result\Page</item>
                </item>
                <item name="forward" xsi:type="array">
                    <item name="type" xsi:type="const">Magento\Framework\Controller\Result_Factory::TYPE_FORWARD</item>
                    <item name="class" xsi:type="string">Magento\Backend\Model\View\Result\Forward</item>
                </item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Framework\View\Layout\Builder_Factory">
        <arguments>
            <argument name="typeMap" xsi:type="array">
                <item name="page" xsi:type="array">
                    <item name="type" xsi:type="const">Magento\Framework\View\Layout\Builder_Factory::TYPE_PAGE</item>
                    <item name="class" xsi:type="string">Magento\Backend\Model\View\Page\Builder</item>
                </item>
                <item name="layout" xsi:type="array">
                    <item name="type" xsi:type="const">Magento\Framework\View\Layout\Builder_Factory::TYPE_LAYOUT</item>
                    <item name="class" xsi:type="string">Magento\Backend\Model\View\Layout\Builder</item>
                </item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Framework\App\Response\Header_Provider\X_Frame_Options">
        <arguments>
            <argument name="xFrameOpt" xsi:type="const">Magento\Framework\App\Response\Header_Provider\X_Frame_Options::BACKEND_X_FRAME_OPT</argument>
        </arguments>
    </type>
    <preference for="Magento\Framework\App\Router\Path_Config_Interface" type="Magento\Backend\Model\Admin_Path_Config" />
    <type name="Magento\Framework\View\Page\Config">
        <arguments>
            <argument name="isIncludesAvailable" xsi:type="boolean">false</argument>
        </arguments>
    </type>
    <type name="Magento\Config\Model\Config\Structure\Element_Visibility\Conceal_In_Production">
        <arguments>
            <argument name="configs" xsi:type="array">
                <item name="dev" xsi:type="const">Magento\Config\Model\Config\Structure\Element_Visibility_Interface::HIDDEN</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Config\Model\Config\Structure\Element_Visibility\Conceal_In_Production_Without_Scd_On_Demand">
        <arguments>
            <argument name="configs" xsi:type="array">
                <item name="general/locale/code" xsi:type="const">Magento\Config\Model\Config\Structure\Element_Visibility_Interface::DISABLED</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Backend\Model\Search\Config\Result\Builder">
        <arguments>
            <argument name="structureElementTypes" xsi:type="array">
                <item name="section" xsi:type="object">Magento\Backend\Model\Search\Config\Structure\Element\Builder\Section</item>
                <item name="group" xsi:type="object">Magento\Backend\Model\Search\Config\Structure\Element\Builder\Group</item>
                <item name="field" xsi:type="object">Magento\Backend\Model\Search\Config\Structure\Element\Builder\Field</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Framework\View\Layout\Generator\Block">
        <arguments>
            <argument name="defaultClass" xsi:type="string">Magento\Backend\Block\Template</argument>
        </arguments>
    </type>
    <preference for="CsrfRequestValidator" type="Magento\Backend\App\Request\Backend_Validator" />
    <preference for="Magento\Backend\Model\Image\Upload_Resize_Config_Interface" type="Magento\Backend\Model\Image\Upload_Resize_Config" />
</config>
