<?xml version="1.0"?>
<!--
/**
 * Copyright 2015 Adobe
 * All Rights Reserved.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Magento\Test_Module_Join_Directives\Api\Test_Repository_Interface" type="Magento\Test_Module_Join_Directives\Model\Test_Repository" />
</config>
