<?xml version="1.0"?>
<!--
/**
 * Copyright 2018 Adobe
 * All Rights Reserved.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\Message_Queue\Publisher_Pool">
        <arguments>
            <argument name="publishers" xsi:type="array">
                <item name="async" xsi:type="array">
                    <item name="db" xsi:type="object">Magento\Framework\Message_Queue\Publisher</item>
                </item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Framework\Message_Queue\Bulk\Publisher_Pool">
        <arguments>
            <argument name="publishers" xsi:type="array">
                <item name="async" xsi:type="array">
                    <item name="db" xsi:type="object">Magento\Framework\Message_Queue\Bulk\Publisher</item>
                </item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Framework\Message_Queue\Connection_Type_Resolver">
        <arguments>
            <argument name="resolvers" xsi:type="array">
                <item name="db" xsi:type="object">Magento\Mysql_Mq\Model\Connection_Type_Resolver</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Framework\Message_Queue\Exchange_Factory">
        <arguments>
            <argument name="exchangeFactories" xsi:type="array">
                <item name="db" xsi:type="object">\Magento\Mysql_Mq\Model\Driver\Exchange_Factory</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Framework\Message_Queue\Bulk\Exchange_Factory">
        <arguments>
            <argument name="exchangeFactories" xsi:type="array">
                <item name="db" xsi:type="object">\Magento\Mysql_Mq\Model\Driver\Bulk\Exchange_Factory</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Framework\Message_Queue\Queue_Factory">
        <arguments>
            <argument name="queueFactories" xsi:type="array">
                <item name="db" xsi:type="object">Magento\Mysql_Mq\Model\Driver\Queue_Factory</item>
            </argument>
        </arguments>
    </type>
    <virtualType name="Magento\Mysql_Mq\Model\Driver\Bulk\Exchange_Factory" type="Magento\Mysql_Mq\Model\Driver\Exchange_Factory">
        <arguments>
            <argument name="instanceName" xsi:type="string">\Magento\Mysql_Mq\Model\Driver\Bulk\Exchange</argument>
        </arguments>
    </virtualType>
</config>
