<?xml version="1.0"?>
<!--
/**
 * Copyright 2017 Adobe
 * All Rights Reserved.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Magento\Release_Notification\Model\Content_Provider_Interface" type="Magento\Release_Notification\Model\Content_Provider\Http\Http_Content_Provider" />
    <type name="Magento\Config\Model\Config\Type_Pool">
        <arguments>
            <argument name="sensitive" xsi:type="array">
                <item name="system/release_notification/content_url" xsi:type="string">1</item>
                <item name="system/release_notification/use_https" xsi:type="string">1</item>
            </argument>
        </arguments>
    </type>
    <virtualType name="notificationPool" type="Magento\Ui\Data_Provider\Modifier\Pool">
        <arguments>
            <argument name="modifiers" xsi:type="array">
                <item name="notifications" xsi:type="array">
                    <item name="class" xsi:type="string">Magento\Release_Notification\Ui\Data_Provider\Modifier\Notifications</item>
                    <item name="sortOrder" xsi:type="number">10</item>
                </item>
            </argument>
        </arguments>
    </virtualType>
    <type name="Magento\Release_Notification\Ui\Data_Provider\Notification_Data_Provider">
        <arguments>
            <argument name="pool" xsi:type="object">notificationPool</argument>
        </arguments>
    </type>
    <type name="Magento\Release_Notification\Model\Content_Provider\Http\Http_Content_Provider">
        <arguments>
            <argument name="httpClient" xsi:type="object" shared="false">Magento\Framework\HTTP\Client_Interface</argument>
            <argument name="requestTimeout" xsi:type="number">5</argument>
        </arguments>
    </type>
</config>
