<?xml version="1.0"?>
<!--
/**
 * Copyright 2013 Adobe
 * All Rights Reserved.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Magento\Catalog_Inventory\Api\Data\Stock_Interface" type="Magento\Catalog_Inventory\Model\Stock" />
    <preference for="Magento\Catalog_Inventory\Api\Data\Stock_Item_Interface" type="Magento\Catalog_Inventory\Model\Stock\Item" />
    <preference for="Magento\Catalog_Inventory\Api\Data\Stock_Status_Interface" type="Magento\Catalog_Inventory\Model\Stock\Status" />

    <preference for="Magento\Catalog_Inventory\Api\Data\Stock_Collection_Interface" type="Magento\Catalog_Inventory\Model\Resource_Model\Stock\Collection" />
    <preference for="Magento\Catalog_Inventory\Api\Data\Stock_Item_Collection_Interface" type="Magento\Catalog_Inventory\Model\Resource_Model\Stock\Item\Collection" />
    <preference for="Magento\Catalog_Inventory\Api\Data\Stock_Status_Collection_Interface" type="Magento\Catalog_Inventory\Model\Resource_Model\Stock\Status\Collection" />

    <preference for="Magento\Catalog_Inventory\Api\Stock_Criteria_Interface" type="Magento\Catalog_Inventory\Model\Resource_Model\Stock\Stock_Criteria" />
    <preference for="Magento\Catalog_Inventory\Api\Stock_Item_Criteria_Interface" type="Magento\Catalog_Inventory\Model\Resource_Model\Stock\Item\Stock_Item_Criteria" />
    <preference for="Magento\Catalog_Inventory\Api\Stock_Status_Criteria_Interface" type="Magento\Catalog_Inventory\Model\Resource_Model\Stock\Status\Stock_Status_Criteria" />

    <preference for="Magento\Catalog_Inventory\Api\Stock_Configuration_Interface" type="Magento\Catalog_Inventory\Model\Configuration" />
    <preference for="Magento\Catalog_Inventory\Api\Stock_Management_Interface" type="Magento\Catalog_Inventory\Model\Stock_Management" />
    <preference for="Magento\Catalog_Inventory\Api\Stock_Index_Interface" type="Magento\Catalog_Inventory\Model\Stock_Index" />
    <preference for="Magento\Catalog_Inventory\Api\Stock_Registry_Interface" type="Magento\Catalog_Inventory\Model\Stock_Registry" />
    <preference for="Magento\Catalog_Inventory\Api\Stock_State_Interface" type="Magento\Catalog_Inventory\Model\Stock_State" />

    <preference for="Magento\Catalog_Inventory\Api\Stock_Repository_Interface" type="Magento\Catalog_Inventory\Model\Stock\Stock_Repository" />
    <preference for="Magento\Catalog_Inventory\Api\Stock_Item_Repository_Interface" type="Magento\Catalog_Inventory\Model\Stock\Stock_Item_Repository" />
    <preference for="Magento\Catalog_Inventory\Api\Stock_Status_Repository_Interface" type="Magento\Catalog_Inventory\Model\Stock\Stock_Status_Repository" />

    <preference for="Magento\Catalog_Inventory\Model\Spi\Stock_Registry_Provider_Interface" type="Magento\Catalog_Inventory\Model\Stock_Registry_Provider" />
    <preference for="Magento\Catalog_Inventory\Model\Spi\Stock_State_Provider_Interface" type="Magento\Catalog_Inventory\Model\Stock_State_Provider" />

    <preference for="Magento\Catalog_Inventory\Model\Resource_Model\Qty_Counter_Interface" type="Magento\Catalog_Inventory\Model\Resource_Model\Stock" />
    <preference for="Magento\Catalog_Inventory\Model\Resource_Model\Stock_Status_Filter_Interface" type="Magento\Catalog_Inventory\Model\Resource_Model\Stock_Status_Filter" />
    <preference for="Magento\Catalog_Inventory\Model\Stock_Status_Applier_Interface" type="Magento\Catalog_Inventory\Model\Stock_Status_Applier" />
    <type name="Magento\Catalog\Model\Product\Attribute\Repository">
        <plugin name="filterCustomAttribute" type="Magento\Catalog_Inventory\Model\Plugin\Filter_Custom_Attribute" />
    </type>
    <type name="Magento\Catalog\Model\Filter_Product_Custom_Attribute">
        <arguments>
            <argument name="excludedList" xsi:type="array">
                <item name="quantity_and_stock_status" xsi:type="string">quantity_and_stock_status</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Catalog_Inventory\Observer\Update_Items_Stock_Upon_Config_Change_Observer">
        <arguments>
            <argument name="resourceStockItem" xsi:type="object">Magento\Catalog_Inventory\Model\Resource_Model\Stock\Item\Proxy</argument>
        </arguments>
    </type>
    <type name="Magento\Framework\Module\Setup\Migration">
        <arguments>
            <argument name="compositeModules" xsi:type="array">
                <item name="cataloginventory" xsi:type="string">Magento_CatalogInventory</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Store\Model\Resource_Model\Group">
        <plugin name="storeGroupResourceAroundBeforeSave" type="Magento\Catalog_Inventory\Model\Indexer\Stock\Plugin\Store_Group"/>
    </type>
    <type name="Magento\Catalog\Model\Indexer\Product\Full">
        <arguments>
            <argument name="indexerList" xsi:type="array">
                <item name="cataloginventory_stock" xsi:type="const">Magento\Catalog_Inventory\Model\Indexer\Stock\Processor::INDEXER_ID</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Catalog\Block\Product\View">
        <plugin name="quantityValidators" type="Magento\Catalog_Inventory\Block\Plugin\Product_View" />
    </type>
    <type name="Magento\Catalog_Inventory\Model\Configuration">
        <arguments>
            <argument name="config" xsi:type="object">Magento\Catalog\Model\Product_Types\Config\Proxy</argument>
        </arguments>
    </type>
    <type name="Magento\Catalog\Model\Product">
        <plugin name="catalogInventoryAfterLoad" type="Magento\Catalog_Inventory\Model\Plugin\After_Product_Load"/>
    </type>
    <type name="Magento\Catalog\Model\Product\Action">
        <plugin name="ReindexUpdatedProducts" type="Magento\Catalog_Inventory\Model\Plugin\Reindex_Updated_Products"/>
    </type>
    <type name="Magento\Catalog_Inventory\Setup\Upgrade_Data">
        <arguments>
            <argument name="indexerProcessor" xsi:type="object">Magento\Catalog_Inventory\Model\Indexer\Stock\Processor</argument>
        </arguments>
    </type>
    <type name="Magento\Catalog\Model\Resource_Model\Product\Composite_Base_Select_Processor">
        <arguments>
            <argument name="baseSelectProcessors" xsi:type="array">
                <item name="stock_status" xsi:type="object">Magento\Catalog_Inventory\Model\Resource_Model\Product\Stock_Status_Base_Select_Processor</item>
            </argument>
        </arguments>
    </type>
    <virtualType name="Magento\Catalog_Inventory\Model\Indexer\Stock\Batch_Size_Management" type="Magento\Framework\Indexer\Batch_Size_Management">
        <arguments>
            <argument name="rowSizeEstimator" xsi:type="object">Magento\Catalog_Inventory\Model\Resource_Model\Indexer\Stock\Index_Table_Row_Size_Estimator</argument>
        </arguments>
    </virtualType>
    <virtualType name="Magento\Catalog_Inventory\Model\Resource_Model\Indexer\Stock\Index_Table_Row_Size_Estimator" type="Magento\Framework\Indexer\Index_Table_Row_Size_Estimator">
        <arguments>
            <argument name="rowMemorySize" xsi:type="number">100</argument>
        </arguments>
    </virtualType>
    <type name="Magento\Catalog_Inventory\Model\Indexer\Stock\Action\Full">
        <arguments>
            <argument name="batchRowsCount" xsi:type="array">
                <item name="default" xsi:type="number">200</item>
            </argument>
            <argument name="batchSizeManagement" xsi:type="object">Magento\Catalog_Inventory\Model\Indexer\Stock\Batch_Size_Management</argument>
        </arguments>
    </type>
    <type name="Magento\Framework\Data\Collection_Modifier">
        <arguments>
            <argument name="conditions" xsi:type="array">
                <item name="stockStatusCondition" xsi:type="object">Magento\Catalog_Inventory\Model\Product_Collection_Stock_Condition</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Catalog\Model\Resource_Model\Product\Indexer\Price\Price_Interface">
        <arguments>
            <argument name="priceModifiers" xsi:type="array">
                <item name="inventoryProductPriceIndexFilter" xsi:type="object">Magento\Catalog_Inventory\Model\Indexer\Product_Price_Index_Filter</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Catalog\Model\Resource_Model\Product\Indexer\Price\Base_Price_Modifier">
        <arguments>
            <argument name="priceModifiers" xsi:type="array">
                <item name="inventoryProductPriceIndexFilter" xsi:type="object">Magento\Catalog_Inventory\Model\Indexer\Product_Price_Index_Filter</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Catalog\Controller\Adminhtml\Product\Action\Attribute\Save">
        <plugin name="massAction" type="Magento\Catalog_Inventory\Plugin\Mass_Update_Product_Attribute" />
    </type>
    <type name="Magento\Catalog_Inventory\Model\Resource_Model\Indexer\Stock\Get_Status_Expression">
        <arguments>
            <argument name="statusExpressions" xsi:type="array">
                <item name="default" xsi:type="object">Magento\Catalog_Inventory\Model\Resource_Model\Indexer\Stock\Status_Expression\Default_Expression</item>
            </argument>
        </arguments>
    </type>
</config>
