<?xml version="1.0"?>
<!--
/**
 * Copyright 2020 Adobe
 * All Rights Reserved.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Media_Content_Cms\Observer\Block">
        <arguments>
            <argument name="fields" xsi:type="array">
                <item name="content" xsi:type="string">content</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Media_Content_Cms\Observer\Page">
        <arguments>
            <argument name="fields" xsi:type="array">
                <item name="content" xsi:type="string">content</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Media_Content_Cms\Observer\Page_Delete">
        <arguments>
            <argument name="fields" xsi:type="array">
                <item name="content" xsi:type="string">content</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Media_Content_Cms\Observer\Block_Delete">
        <arguments>
            <argument name="fields" xsi:type="array">
                <item name="content" xsi:type="string">content</item>
            </argument>
        </arguments>
    </type>
    <virtualType name="Magento\Media_Content_Cms\Model\Resource_Model\Get_Asset_Ids_By_Page_Status" type="Magento\Media_Content_Cms\Model\Resource_Model\Get_Asset_Ids_By_Content_Field">
        <arguments>
            <argument name="entityType" xsi:type="string">cms_page</argument>
            <argument name="fieldTable" xsi:type="string">cms_page</argument>
            <argument name="idColumn" xsi:type="string">page_id</argument>
            <argument name="fieldColumn" xsi:type="string">is_active</argument>
        </arguments>
    </virtualType>
    <virtualType name="Magento\Media_Content_Cms\Model\Resource_Model\Get_Asset_Ids_By_Block_Status" type="Magento\Media_Content_Cms\Model\Resource_Model\Get_Asset_Ids_By_Content_Field">
        <arguments>
            <argument name="entityType" xsi:type="string">cms_block</argument>
            <argument name="fieldTable" xsi:type="string">cms_block</argument>
            <argument name="idColumn" xsi:type="string">block_id</argument>
            <argument name="fieldColumn" xsi:type="string">is_active</argument>
        </arguments>
    </virtualType>
    <type name="Magento\Media_Content_Api\Model\Composite\Get_Asset_Ids_By_Content_Field">
        <arguments>
            <argument name="fieldHandlers" xsi:type="array">
                <item name="content_status" xsi:type="array">
                    <item name="getAssetIdsByPageStatus" xsi:type="object">Magento\Media_Content_Cms\Model\Resource_Model\Get_Asset_Ids_By_Page_Status</item>
                    <item name="getAssetIdsByBlockStatus" xsi:type="object">Magento\Media_Content_Cms\Model\Resource_Model\Get_Asset_Ids_By_Block_Status</item>
                </item>
                <item name="store_id" xsi:type="array">
                    <item name="getAssetIdsByPageStore" xsi:type="object">Magento\Media_Content_Cms\Model\Resource_Model\Get_Asset_Ids_By_Page_Store</item>
                    <item name="getAssetIdsByBlockStore" xsi:type="object">Magento\Media_Content_Cms\Model\Resource_Model\Get_Asset_Ids_By_Block_Store</item>
                </item>
            </argument>
        </arguments>
    </type>
</config>
