<?xml version="1.0"?>
<!--
/**
 * Copyright 2020 Adobe
 * All Rights Reserved.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Magento\Login_As_Customer_Api\Api\Data\Authentication_Data_Interface"
                type="Magento\Login_As_Customer\Model\Authentication_Data"/>
    <preference for="Magento\Login_As_Customer_Api\Api\Generate_Authentication_Secret_Interface"
                type="Magento\Login_As_Customer\Model\Generate_Authentication_Secret"/>
    <preference for="Magento\Login_As_Customer_Api\Api\Save_Authentication_Data_Interface"
                type="Magento\Login_As_Customer\Model\Resource_Model\Save_Authentication_Data"/>
    <preference for="Magento\Login_As_Customer_Api\Api\Get_Authentication_Data_By_Secret_Interface"
                type="Magento\Login_As_Customer\Model\Get_Authentication_Data_By_Secret"/>
    <preference for="Magento\Login_As_Customer_Api\Api\Authenticate_Customer_By_Secret_Interface"
                type="Magento\Login_As_Customer\Model\Authenticate_Customer_By_Secret"/>
    <preference for="Magento\Login_As_Customer_Api\Api\Delete_Authentication_Data_For_User_Interface"
                type="Magento\Login_As_Customer\Model\Resource_Model\Delete_Authentication_Data_For_User"/>
    <preference for="Magento\Login_As_Customer_Api\Api\Delete_Authentication_Data_For_List_Of_User_Interface"
                type="Magento\Login_As_Customer\Model\Resource_Model\Delete_Authentication_Data_For_List_Of_User"/>
    <preference for="Magento\Login_As_Customer_Api\Api\Config_Interface" type="Magento\Login_As_Customer\Model\Config"/>
    <preference for="Magento\Login_As_Customer_Api\Api\Is_Login_As_Customer_Session_Active_Interface" type="Magento\Login_As_Customer\Model\Resource_Model\Is_Login_As_Customer_Session_Active"/>
    <preference for="Magento\Login_As_Customer_Api\Api\Get_Logged_As_Customer_Admin_Id_Interface" type="Magento\Login_As_Customer\Model\Get_Logged_As_Customer_Admin_Id"/>
    <preference for="Magento\Login_As_Customer_Api\Api\Get_Logged_As_Customer_Customer_Id_Interface" type="Magento\Login_As_Customer\Model\Get_Logged_As_Customer_Customer_Id"/>
    <preference for="Magento\Login_As_Customer_Api\Api\Set_Logged_As_Customer_Admin_Id_Interface" type="Magento\Login_As_Customer\Model\Set_Logged_As_Customer_Admin_Id"/>
    <preference for="Magento\Login_As_Customer_Api\Api\Data\Is_Login_As_Customer_Enabled_For_Customer_Result_Interface"
                type="Magento\Login_As_Customer\Model\Is_Login_As_Customer_Enabled_For_Customer_Result"/>
    <preference for="Magento\Login_As_Customer_Api\Api\Set_Logged_As_Customer_Customer_Id_Interface" type="Magento\Login_As_Customer\Model\Set_Logged_As_Customer_Customer_Id"/>
    <type name="Magento\Login_As_Customer_Api\Model\Is_Login_As_Customer_Enabled_For_Customer_Chain">
        <arguments>
            <argument name="resolvers" xsi:type="array">
                <item name="is_enabled" xsi:type="object">
                    Magento\Login_As_Customer\Model\Resolver\Is_Login_As_Customer_Enabled_Resolver
                </item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Backend\Model\Auth">
        <plugin name="login_as_customer_admin_logout" type="Magento\Login_As_Customer\Plugin\Admin_Logout_Plugin"/>
    </type>
</config>
