<?xml version="1.0"?>
<!--
/**
 * Copyright 2014 Adobe
 * All Rights Reserved.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Magento\Configurable_Product\Api\Configurable_Product_Management_Interface" type="Magento\Configurable_Product\Model\Configurable_Product_Management" />
    <preference for="Magento\Configurable_Product\Api\Link_Management_Interface" type="Magento\Configurable_Product\Model\Link_Management" />
    <preference for="Magento\Configurable_Product\Api\Option_Repository_Interface" type="Magento\Configurable_Product\Model\Option_Repository" />
    <preference for="Magento\Configurable_Product\Api\Data\Option_Interface" type="Magento\Configurable_Product\Model\Product\Type\Configurable\Attribute" />
    <preference for="Magento\Configurable_Product\Api\Data\Option_Value_Interface" type="Magento\Configurable_Product\Model\Product\Type\Configurable\Option_Value" />
    <preference for="Magento\Configurable_Product\Api\Data\Configurable_Item_Option_Value_Interface" type="Magento\Configurable_Product\Model\Quote\Item\Configurable_Item_Option_Value" />
    <preference for="Magento\Configurable_Product\Pricing\Price\Price_Resolver_Interface" type="Magento\Configurable_Product\Pricing\Price\Configurable_Price_Resolver" />
    <preference for="Magento\Configurable_Product\Pricing\Price\Configurable_Options_Provider_Interface" type="Magento\Configurable_Product\Pricing\Price\Configurable_Options_Provider" />
    <preference for="Magento\Configurable_Product\Pricing\Price\Lowest_Price_Options_Provider_Interface" type="Magento\Configurable_Product\Pricing\Price\Lowest_Price_Options_Provider" />
    <preference for="Magento\Configurable_Product\Model\Attribute_Option_Provider_Interface" type="Magento\Configurable_Product\Model\Attribute_Option_Provider" />
    <preference for="Magento\Configurable_Product\Model\Resource_Model\Attribute\Option_Select_Builder_Interface" type="Magento\Configurable_Product\Model\Resource_Model\Attribute\Option_Select_Builder" />
    <preference for="Magento\Configurable_Product\Model\Resource_Model\Product\Indexer\Price\Options_Indexer_Interface" type="Magento\Configurable_Product\Model\Resource_Model\Product\Indexer\Price\Options_Indexer" />
    <preference for="Magento\Configurable_Product\Model\Resource_Model\Product\Indexer\Price\Options_Select_Builder_Interface" type="Magento\Configurable_Product\Model\Resource_Model\Product\Indexer\Price\Options_Select_Builder" />
    <preference for="Magento\Configurable_Product\Pricing\Price\Configurable_Options_Filter_Interface" type="Magento\Configurable_Product\Pricing\Price\Configurable_Options_Composite_Filter" />

    <type name="Magento\Catalog_Inventory\Model\Quote\Item\Quantity_Validator\Initializer\Option">
        <plugin name="configurable_product" type="Magento\Configurable_Product\Model\Quote\Item\Quantity_Validator\Initializer\Option\Plugin\Configurable_Product" sortOrder="50" />
    </type>
    <type name="Magento\Catalog\Model\Product\Cart_Configuration">
        <plugin name="configurable_product" type="Magento\Configurable_Product\Model\Product\Cart_Configuration\Plugin\Configurable" sortOrder="50" />
    </type>
    <type name="Magento\Sales\Model\Order\Admin\Item">
        <plugin name="configurable_product" type="Magento\Configurable_Product\Model\Order\Admin\Item\Plugin\Configurable" sortOrder="50" />
    </type>
    <type name="Magento\Catalog\Helper\Product\Configuration">
        <plugin name="configurable_product" type="Magento\Configurable_Product\Helper\Product\Configuration\Plugin" sortOrder="50" />
    </type>
    <type name="Magento\Eav\Model\Entity\Attribute\Backend\Abstract_Backend">
        <plugin name="ConfigurableProduct::skipValidation" type="Magento\Configurable_Product\Plugin\Model\Attribute\Backend\Attribute_Validation"/>
    </type>
    <type name="Magento\Configurable_Product\Plugin\Model\Attribute\Backend\Attribute_Validation">
        <arguments>
            <argument name="unskippableAttributes" xsi:type="array">
                <item name="custom_layout_update" xsi:type="string">custom_layout_update</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Catalog\Model\Entity\Product\Attribute\Group\Attribute_Mapper_Interface">
        <plugin name="configurable_product" type="Magento\Configurable_Product\Model\Entity\Product\Attribute\Group\Attribute_Mapper\Plugin" sortOrder="50" />
    </type>
    <type name="Magento\Catalog\Model\Product\Type_Transition_Manager">
        <plugin name="configurable_product_transition" type="Magento\Configurable_Product\Model\Product\Type_Transition_Manager\Plugin\Configurable" sortOrder="50" />
        <arguments>
            <argument name="compatibleTypes" xsi:type="array">
                <item name="configurable" xsi:type="const">Magento\Configurable_Product\Model\Product\Type\Configurable::TYPE_CODE</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Sales\Model\Resource_Model\Report\Bestsellers">
        <arguments>
            <argument name="ignoredProductTypes" xsi:type="array">
                <item name="configurable" xsi:type="const">Magento\Configurable_Product\Model\Product\Type\Configurable::TYPE_CODE</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Eav\Model\Entity\Setup\Property_Mapper\Composite">
        <arguments>
            <argument name="propertyMappers" xsi:type="array">
                <item name="configurable" xsi:type="string">Magento\Configurable_Product\Model\Resource_Model\Setup\Property_Mapper</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Catalog\Model\Attribute\Lock_Validator_Composite">
        <arguments>
            <argument name="validators" xsi:type="array">
                <item name="configurable" xsi:type="string">Magento\Configurable_Product\Model\Attribute\Lock_Validator</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Catalog\Api\Product_Repository_Interface">
        <plugin name="configurableProductSaveOptions" sortOrder="10" type="Magento\Configurable_Product\Model\Plugin\Product_Repository_Save"/>
    </type>
    <type name="Magento\Catalog\Model\Product\Type">
        <plugin name="configurable_output" type="Magento\Configurable_Product\Model\Product\Type\Plugin" />
    </type>
    <type name="Magento\Framework\Entity_Manager\Operation\Extension_Pool">
        <arguments>
            <argument name="extensionActions" xsi:type="array">
                <item name="Magento\Catalog\Api\Data\Product_Interface" xsi:type="array">
                    <item name="create" xsi:type="array">
                        <item name="create_configurable_options" xsi:type="string">Magento\Configurable_Product\Model\Product\Save_Handler</item>
                    </item>
                    <item name="update" xsi:type="array">
                        <item name="update_configurable_options" xsi:type="string">Magento\Configurable_Product\Model\Product\Save_Handler</item>
                    </item>
                    <item name="read" xsi:type="array">
                        <item name="read_configurable_options" xsi:type="string">Magento\Configurable_Product\Model\Product\Read_Handler</item>
                    </item>
                </item>
            </argument>
        </arguments>
    </type>
    <virtualType name="Magento\Configurable_Product\Pricing\Price\Pool" type="Magento\Framework\Pricing\Price\Pool">
        <arguments>
            <argument name="prices" xsi:type="array">
                <item name="regular_price" xsi:type="string">Magento\Configurable_Product\Pricing\Price\Configurable_Regular_Price</item>
                <item name="final_price" xsi:type="string">Magento\Configurable_Product\Pricing\Price\Final_Price</item>
            </argument>
            <argument name="target" xsi:type="object">Magento\Catalog\Pricing\Price\Pool</argument>
        </arguments>
    </virtualType>
    <virtualType name="Magento\Configurable_Product\Pricing\Price\Collection" type="Magento\Framework\Pricing\Price\Collection">
        <arguments>
            <argument name="pool" xsi:type="object">Magento\Configurable_Product\Pricing\Price\Pool</argument>
        </arguments>
    </virtualType>
    <type name="Magento\Framework\Pricing\Price_Info\Factory">
        <arguments>
            <argument name="types" xsi:type="array">
                <item name="configurable" xsi:type="array">
                    <item name="infoClass" xsi:type="string">Magento\Framework\Pricing\Price_Info\Base</item>
                    <item name="prices" xsi:type="string">Magento\Configurable_Product\Pricing\Price\Collection</item>
                </item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Quote\Model\Quote\Item\Repository">
        <arguments>
            <argument name="cartItemProcessors" xsi:type="array">
                <item name="configurable" xsi:type="object">Magento\Configurable_Product\Model\Quote\Item\Cart_Item_Processor\Proxy</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Sales\Api\Order_Item_Repository_Interface">
        <arguments>
            <argument name="processorPool" xsi:type="array">
                <item name="configurable" xsi:type="object">Magento\Configurable_Product\Model\Product_Option_Processor</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Sales\Model\Order\Product_Option">
        <arguments>
            <argument name="processorPool" xsi:type="array">
                <item name="configurable" xsi:type="object">Magento\Configurable_Product\Model\Product_Option_Processor</item>
            </argument>
        </arguments>
    </type>
    <virtualType name="ConfigurableFinalPriceResolver" type="Magento\Configurable_Product\Pricing\Price\Configurable_Price_Resolver">
        <arguments>
            <argument name="priceResolver" xsi:type="object">Magento\Configurable_Product\Pricing\Price\Final_Price_Resolver</argument>
        </arguments>
    </virtualType>
    <type name="Magento\Configurable_Product\Pricing\Price\Final_Price">
        <arguments>
            <argument name="priceResolver" xsi:type="object">ConfigurableFinalPriceResolver</argument>
        </arguments>
    </type>
    <virtualType name="ConfigurableRegularPriceResolver" type="Magento\Configurable_Product\Pricing\Price\Configurable_Price_Resolver">
        <arguments>
            <argument name="priceResolver" xsi:type="object">Magento\Configurable_Product\Pricing\Price\Regular_Price_Resolver</argument>
        </arguments>
    </virtualType>
    <type name="Magento\Configurable_Product\Pricing\Price\Configurable_Regular_Price">
        <arguments>
            <argument name="priceResolver" xsi:type="object">ConfigurableRegularPriceResolver</argument>
            <argument name="configurableMaxPriceCalculator" xsi:type="object">Magento\Configurable_Product\Model\Configurable_Max_Price_Calculator</argument>
        </arguments>
    </type>
    <type name="Magento\Catalog\Model\Product\Attribute\Backend\Price">
        <plugin name="configurable" type="Magento\Configurable_Product\Model\Plugin\Price_Backend" sortOrder="100" />
    </type>
    <type name="Magento\Product_Video\Block\Product\View\Gallery">
        <plugin name="product_video_gallery" type="Magento\Configurable_Product\Block\Plugin\Product\Media\Gallery" />
    </type>
    <type name="Magento\Configurable_Product\Model\Product\Type\Configurable">
        <arguments>
            <argument name="cache" xsi:type="object">Magento\Framework\App\Cache\Type\Collection</argument>
        </arguments>
    </type>
    <type name="Magento\Configurable_Product\Model\Resource_Model\Product\Type\Configurable">
        <arguments>
            <argument name="attributeOptionProvider" xsi:type="object">Magento\Configurable_Product\Model\Attribute_Option_Provider\Proxy</argument>
        </arguments>
    </type>
    <type name="Magento\Configurable_Product\Observer\Hide_Unsupported_Attribute_Types">
        <arguments>
            <argument name="supportedTypes" xsi:type="array">
                <item name="select" xsi:type="string">select</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Catalog\Model\Resource_Model\Product\Indexer\Price\Batch_Size_Calculator">
        <arguments>
            <argument name="estimators" xsi:type="array">
                <item name="configurable" xsi:type="object">Magento\Catalog\Model\Indexer\Price\Composite_Product_Batch_Size_Management</item>
            </argument>
            <argument name="batchSizeAdjusters" xsi:type="array">
                <item name="configurable" xsi:type="object">Magento\Catalog\Model\Resource_Model\Product\Indexer\Price\Composite_Product_Batch_Size_Adjuster</item>
            </argument>
            <!--
            real batch size will be smaller.
            It depends on amount configurable product variations.
            E.g for 100 variations real batch size will be 50000/100=500
            -->
            <argument name="batchRowsCount" xsi:type="array">
                <item name="configurable" xsi:type="number">50000</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Configurable_Product\Model\Resource_Model\Product\Indexer\Price\Configurable">
        <arguments>
            <argument name="tableStrategy" xsi:type="object">Magento\Catalog\Model\Resource_Model\Product\Indexer\Temporary_Table_Strategy</argument>
            <argument name="connectionName" xsi:type="string">indexer</argument>
            <argument name="baseSelectProcessor" xsi:type="object">Magento\Configurable_Product\Model\Resource_Model\Product\Indexer\Price\Base_Stock_Status_Select_Processor</argument>
        </arguments>
    </type>
    <type name="Magento\Configurable_Product\Model\Resource_Model\Product\Indexer\Price\Options_Select_Builder">
        <arguments>
            <argument name="selectProcessor" xsi:type="object">Magento\Configurable_Product\Model\Resource_Model\Product\Indexer\Price\Base_Stock_Status_Select_Processor</argument>
            <argument name="connectionName" xsi:type="string">indexer</argument>
        </arguments>
    </type>
    <type name="Magento\Configurable_Product\Plugin\Model\Resource_Model\Product">
        <arguments>
            <argument name="productIndexer" xsi:type="object">Magento\Catalog\Model\Indexer\Product\Full</argument>
        </arguments>
    </type>
    <type name="Magento\Configurable_Product\Pricing\Price\Lowest_Price_Options_Provider">
        <arguments>
            <argument name="linkedProductSelectBuilder" xsi:type="object">Magento\Configurable_Product\Model\Resource_Model\Product\Linked_Product_Select_Builder</argument>
        </arguments>
    </type>
    <type name="Magento\Configurable_Product\Model\Resource_Model\Product\Linked_Product_Select_Builder">
        <arguments>
            <argument name="baseSelectProcessor" xsi:type="object">Magento\Configurable_Product\Model\Resource_Model\Product\Stock_Status_Base_Select_Processor</argument>
            <argument name="linkedProductSelectBuilder" xsi:type="object">Magento\Catalog\Model\Resource_Model\Product\Indexer\Linked_Product_Select_Builder_By_Index_Price</argument>
        </arguments>
    </type>
    <type name="Magento\Catalog\Model\Product\Pricing\Renderer\Salable_Resolver">
        <plugin name="configurable" type="Magento\Configurable_Product\Plugin\Catalog\Model\Product\Pricing\Renderer\Salable_Resolver" />
    </type>
    <type name="Magento\Catalog\Model\Product">
        <plugin name="product_identities_extender" type="Magento\Configurable_Product\Model\Plugin\Product_Identities_Extender" />
    </type>
    <type name="Magento\Catalog\Model\Product\Configuration\Item\Item_Resolver_Composite">
        <arguments>
            <argument name="itemResolvers" xsi:type="array">
                <item name="configurable" xsi:type="string">Magento\Configurable_Product\Model\Product\Configuration\Item\Item_Product_Resolver</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Sales_Rule\Model\Quote\Children_Validation_Locator">
        <arguments>
            <argument name="productTypeChildrenValidationMap" xsi:type="array">
                <item name="configurable" xsi:type="boolean">false</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Sales_Rule\Model\Rule\Condition\Product">
        <plugin name="apply_rule_on_configurable_children" type="Magento\Configurable_Product\Plugin\Sales_Rule\Model\Rule\Condition\Product" />
    </type>
    <type name="Magento\Tax\Model\Sales\Total\Quote\Common_Tax_Collector">
        <plugin name="apply_tax_class_id" type="Magento\Configurable_Product\Plugin\Tax\Model\Sales\Total\Quote\Common_Tax_Collector" />
    </type>
    <type name="Magento\Eav\Model\Entity\Attribute\Group">
        <arguments>
            <argument name="reservedSystemNames" xsi:type="array">
                <item name="configurable" xsi:type="string">configurable</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Catalog_Inventory\Observer\Save_Inventory_Data_Observer">
        <arguments>
            <argument name="parentItemProcessorPool" xsi:type="array">
                <item name="configurable" xsi:type="object"> Magento\Configurable_Product\Model\Inventory\Parent_Item_Processor</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Configurable_Product\Model\Plugin\Frontend\Used_Products_Cache">
        <arguments>
            <argument name="cache" xsi:type="object">Magento\Framework\App\Cache\Type\Collection</argument>
        </arguments>
        <arguments>
            <argument name="serializer" xsi:type="object">Magento\Framework\Serialize\Serializer\Json</argument>
        </arguments>
    </type>
    <type name="Magento\Catalog_Inventory\Model\Resource_Model\Stock\Item">
        <plugin name="updateStockChangedAuto" type="Magento\Configurable_Product\Model\Plugin\Update_Stock_Changed_Auto" />
    </type>
    <type name="Magento\Catalog\Model\Product\Attribute\Backend\Tier_Price\Update_Handler">
        <plugin name="tier_price_update_handler_plugin" type="Magento\Configurable_Product\Plugin\Catalog\Model\Product\Attribute\Backend\Tier_Price\Update_Handler_Plugin" sortOrder="10" disabled="false"/>
    </type>
    <type name="Magento\Catalog_Search\Model\Indexer\Fulltext\Action\Data_Provider">
        <plugin name="storeSpecificConfigurableProductFromParentId" type="Magento\Configurable_Product\Plugin\Catalog_Search\Model\Indexer\Fulltext\Action\Data_Provider\Get_Product_Child_Ids"/>
    </type>
</config>
