<?xml version="1.0"?>
<!--
/**
 * Copyright 2013 Adobe
 * All Rights Reserved.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Catalog_Rule\Model\Rule">
        <arguments>
            <argument name="relatedCacheTypes" xsi:type="array">
                <item name="blockCache" xsi:type="string">block_html</item>
                <item name="fullPageCache" xsi:type="string">full_page</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Catalog\Model\Resource_Model\Product">
        <plugin name="apply_catalog_rules_after_product_save" type="Magento\Catalog_Rule\Plugin\Indexer\Product\Save\Apply_Rules"/>
    </type>
    <type name="Magento\Catalog\Model\Category">
        <plugin name="apply_after_products_assign" type="Magento\Catalog_Rule\Plugin\Indexer\Category"/>
    </type>
    <type name="Magento\Store\Model\Website">
        <plugin name="reindex_after_delete_website" type="Magento\Catalog_Rule\Plugin\Indexer\Website"/>
    </type>
    <type name="Magento\Customer\Model\Group">
        <plugin name="reindex_after_delete_customer_group" type="Magento\Catalog_Rule\Plugin\Indexer\Customer_Group"/>
    </type>
    <type name="Magento\Import_Export\Model\Import">
        <plugin name="reindex_after_import" type="Magento\Catalog_Rule\Plugin\Indexer\Import_Export"/>
    </type>
    <type name="Magento\Catalog\Model\Resource_Model\Eav\Attribute">
        <plugin name="change_product_attribute" type="Magento\Catalog_Rule\Plugin\Indexer\Product\Attribute"/>
    </type>
    <type name="Magento\Catalog\Model\Product\Action">
        <plugin name="price_plugin" type="Magento\Catalog_Rule\Plugin\Model\Product\Action"/>
    </type>
</config>
