<?xml version="1.0"?>
<!--
/**
 * Copyright 2014 Adobe
 * All Rights Reserved.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Login_As_Customer_Api\Api\Authenticate_Customer_By_Secret_Interface">
        <plugin name="log_login_as_customer_authentication"
                type="Magento\Login_As_Customer_Log\Plugin\Login_As_Customer_Api\Log_Authentication_Plugin"/>
    </type>
</config>
