<?xml version="1.0"?>
<!--
/**
 * Copyright 2020 Adobe
 * All Rights Reserved.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Magento\Wishlist_Graph_Ql\Model\Wishlist_Item\Data_Provider\Customizable_Option_Value_Interface" type="Magento\Wishlist_Graph_Ql\Model\Wishlist_Item\Data_Provider\Customizable_Option_Value\Composite" />
    <type name="Magento\Store_Graph_Ql\Model\Resolver\Store\Store_Config_Data_Provider">
        <arguments>
            <argument name="extendedConfigData" xsi:type="array">
                <item name="magento_wishlist_general_is_enabled" xsi:type="string">wishlist/general/active</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Wishlist_Graph_Ql\Model\Cart_Items\Cart_Items_Request_Builder">
        <arguments>
            <argument name="providers" xsi:type="array">
                <item name="customizable_option" xsi:type="object">Magento\Wishlist_Graph_Ql\Model\Cart_Items\Customizable_Option_Data_Provider</item>
                <item name="downloadable" xsi:type="object">Magento\Wishlist_Graph_Ql\Model\Cart_Items\Downloadable_Link_Data_Provider</item>
                <item name="bundle" xsi:type="object">Magento\Wishlist_Graph_Ql\Model\Cart_Items\Bundle_Data_Provider</item>
                <item name="configurable" xsi:type="object">Magento\Wishlist_Graph_Ql\Model\Cart_Items\Configurable_Data_Provider</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Wishlist_Graph_Ql\Model\Wishlist_Item\Data_Provider\Customizable_Option_Value\Composite">
        <arguments>
            <argument name="customizableOptionValues" xsi:type="array">
                <item name="field" xsi:type="string">Magento\Wishlist_Graph_Ql\Model\Wishlist_Item\Data_Provider\Customizable_Option_Value\Text</item>
                <item name="date" xsi:type="string">Magento\Wishlist_Graph_Ql\Model\Wishlist_Item\Data_Provider\Customizable_Option_Value\Text</item>
                <item name="time" xsi:type="string">Magento\Wishlist_Graph_Ql\Model\Wishlist_Item\Data_Provider\Customizable_Option_Value\Text</item>
                <item name="date_time" xsi:type="string">Magento\Wishlist_Graph_Ql\Model\Wishlist_Item\Data_Provider\Customizable_Option_Value\Text</item>
                <item name="area" xsi:type="string">Magento\Wishlist_Graph_Ql\Model\Wishlist_Item\Data_Provider\Customizable_Option_Value\Text</item>
                <item name="drop_down" xsi:type="string">Magento\Wishlist_Graph_Ql\Model\Wishlist_Item\Data_Provider\Customizable_Option_Value\Dropdown</item>
                <item name="radio" xsi:type="string">Magento\Wishlist_Graph_Ql\Model\Wishlist_Item\Data_Provider\Customizable_Option_Value\Dropdown</item>
                <item name="checkbox" xsi:type="string">Magento\Wishlist_Graph_Ql\Model\Wishlist_Item\Data_Provider\Customizable_Option_Value\Multiple</item>
                <item name="multiple" xsi:type="string">Magento\Wishlist_Graph_Ql\Model\Wishlist_Item\Data_Provider\Customizable_Option_Value\Multiple</item>
            </argument>
        </arguments>
    </type>
</config>
