<?xml version="1.0"?>
<!--
/**
 * Copyright 2018 Adobe
 * All Rights Reserved.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Grouped_Product\Model\Product\Type\Grouped">
        <plugin name="outOfStockFilter" type="Magento\Grouped_Catalog_Inventory\Plugin\Out_Of_Stock_Filter" />
    </type>
</config>
