<?xml version="1.0"?>
<!--
/**
 * Copyright 2018 Adobe
 * All Rights Reserved.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Quote\Model\Validation_Rules\Quote_Validation_Composite">
        <arguments>
            <argument name="validationRules" xsi:type="array">
                <item name="ShippingAddressValidationRule" xsi:type="object">Magento\Quote\Model\Validation_Rules\Shipping_Address_Validation_Rule</item>
                <item name="AllowedCountryValidationRule" xsi:type="object">Magento\Quote\Model\Validation_Rules\Allowed_Country_Validation_Rule</item>
                <item name="ShippingMethodValidationRule" xsi:type="object">Magento\Quote\Model\Validation_Rules\Shipping_Method_Validation_Rule</item>
                <item name="BillingAddressValidationRule" xsi:type="object">Magento\Quote\Model\Validation_Rules\Billing_Address_Validation_Rule</item>
                <item name="PaymentMethodValidationRule" xsi:type="object">Magento\Quote\Model\Validation_Rules\Payment_Method_Validation_Rule</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Quote\Observer\Submit_Observer">
        <plugin name="beforeSendOrderNotification" type="Magento\Quote\Plugin\Send_Order_Notification" sortOrder="1" disabled="false" />
    </type>
</config>
