<?xml version="1.0"?>
<!--
/**
 * Copyright 2013 Adobe
 * All Rights Reserved.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\App\Front_Controller_Interface">
        <plugin name="front-controller-builtin-cache" type="Magento\Page_Cache\Model\App\Front_Controller\Builtin_Plugin"/>
        <plugin name="front-controller-varnish-cache" type="Magento\Page_Cache\Model\App\Front_Controller\Varnish_Plugin"/>
        <plugin name="page_cache_form_key_from_cookie" type="Magento\Page_Cache\Plugin\Register_Form_Key_From_Cookie" />
    </type>
    <type name="Magento\Framework\Controller\Result_Interface">
        <plugin name="result-builtin-cache" type="Magento\Page_Cache\Model\Controller\Result\Builtin_Plugin"/>
        <plugin name="result-varnish-cache" type="Magento\Page_Cache\Model\Controller\Result\Varnish_Plugin"/>
    </type>
    <type name="Magento\Framework\View\Layout">
        <plugin name="layout-model-caching-unique-name" type="Magento\Page_Cache\Model\Layout\Layout_Plugin"/>
        <plugin name="core-session-depersonalize"
                type="Magento\Page_Cache\Model\Layout\Depersonalize_Plugin" sortOrder="1"/>
    </type>
    <type name="Magento\Framework\View\Model\Layout\Merge">
        <plugin name="layout-merge-plugin" type="Magento\Page_Cache\Model\Layout\Merge_Plugin"/>
    </type>
    <type name="Magento\Framework\App\Response\Http">
        <plugin name="response-http-page-cache" type="Magento\Page_Cache\Model\App\Response\Http_Plugin"/>
    </type>
    <type name="Magento\Framework\App\Page_Cache\Kernel">
        <arguments>
            <argument name="identifierForSave" xsi:type="object">Magento\Page_Cache\Model\App\Request\Http\Identifier_For_Save</argument>
        </arguments>
    </type>
</config>
