<?xml version="1.0"?>
<!--
/**
 * Copyright 2014 Adobe
 * All Rights Reserved.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Catalog\Controller\Adminhtml\Product\Initialization\Helper">
        <plugin name="configurable" type="Magento\Configurable_Product\Controller\Adminhtml\Product\Initialization\Helper\Plugin\Configurable" sortOrder="50" />
        <plugin name="updateConfigurations" type="Magento\Configurable_Product\Controller\Adminhtml\Product\Initialization\Helper\Plugin\Update_Configurations" sortOrder="60" />
        <plugin name="cleanConfigurationTmpImages" type="Magento\Configurable_Product\Plugin\Product\Initialization\Clean_Configuration_Tmp_Images" sortOrder="999" />
    </type>
    <type name="Magento\Catalog\Controller\Adminhtml\Product\Builder">
        <plugin name="configurable" type="Magento\Configurable_Product\Controller\Adminhtml\Product\Builder\Plugin" sortOrder="50" />
    </type>
    <type name="Magento\Catalog\Model\Product\Validator">
        <plugin name="configurable" type="Magento\Configurable_Product\Model\Product\Validator\Plugin" sortOrder="50" />
    </type>
    <type name="Magento\Sales\Block\Adminhtml\Order\Create\Sidebar\Abstract_Sidebar">
        <plugin name="configurable" type="Magento\Configurable_Product\Block\Adminhtml\Order\Create\Sidebar" sortOrder="200"/>
    </type>
    <type name="Magento\Configurable_Product\Block\Adminhtml\Product\Attribute\Edit\Tab\Variations\Main">
        <arguments>
            <argument name="inputTypeFactory" xsi:type="object">Magento\Catalog\Model\System\Config\Source\Inputtype_Factory</argument>
        </arguments>
    </type>
    <type name="Magento\Catalog\Model\Resource_Model\Product">
        <plugin name="reload_attributes" type="Magento\Configurable_Product\Plugin\Model\Resource_Model\Product" />
    </type>
    <type name="Magento\Configurable_Product\Ui\Component\Listing\Associated_Product\Columns">
        <arguments>
            <argument name="attributeRepository" xsi:type="object">Magento\Configurable_Product\Ui\Component\Listing\Associated_Product\Attribute\Repository</argument>
        </arguments>
    </type>
    <type name="Magento\Configurable_Product\Ui\Component\Listing\Associated_Product\Filters">
        <arguments>
            <argument name="attributeRepository" xsi:type="object">Magento\Configurable_Product\Ui\Component\Listing\Associated_Product\Attribute\Repository</argument>
        </arguments>
    </type>
    <preference for="Magento\Configurable_Product\Model\Attributes_List_Interface" type="Magento\Configurable_Product\Model\Attributes_List" />
    <virtualType name="Magento\Catalog\Ui\Data_Provider\Product\Form\Modifier\Pool">
        <arguments>
            <argument name="modifiers" xsi:type="array">
                <item name="configurable" xsi:type="array">
                    <item name="class" xsi:type="string">Magento\Configurable_Product\Ui\Data_Provider\Product\Form\Modifier\Composite</item>
                    <item name="sortOrder" xsi:type="number">140</item>
                </item>
            </argument>
        </arguments>
    </virtualType>
    <type name="Magento\Configurable_Product\Ui\Data_Provider\Product\Form\Modifier\Composite">
        <arguments>
            <argument name="allowedProductTypes" xsi:type="object">Magento\Catalog\Ui\Base_Allowed_Product_Types</argument>
            <argument name="modifiers" xsi:type="array">
                <item name="configurablePanel" xsi:type="string">Magento\Configurable_Product\Ui\Data_Provider\Product\Form\Modifier\Configurable_Panel</item>
                <item name="configurablePrice" xsi:type="string">Magento\Configurable_Product\Ui\Data_Provider\Product\Form\Modifier\Configurable_Price</item>
                <item name="configurableQty" xsi:type="string">Magento\Configurable_Product\Ui\Data_Provider\Product\Form\Modifier\Configurable_Qty</item>
                <item name="configurableAttributeSetHandler" xsi:type="string">Magento\Configurable_Product\Ui\Data_Provider\Product\Form\Modifier\Configurable_Attribute_Set_Handler</item>
                <item name="StockData" xsi:type="string">Magento\Configurable_Product\Ui\Data_Provider\Product\Form\Modifier\Stock_Data</item>
                <item name="customOptions" xsi:type="string">Magento\Configurable_Product\Ui\Data_Provider\Product\Form\Modifier\Custom_Options</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Configurable_Product\Ui\Data_Provider\Product\Form\Modifier\Configurable_Panel">
        <arguments>
            <argument name="formName" xsi:type="string">product_form</argument>
            <argument name="dataScopeName" xsi:type="string">product_form.product_form</argument>
            <argument name="dataSourceName" xsi:type="string">product_form.product_form_data_source</argument>
        </arguments>
    </type>
    <virtualType name="Magento\Catalog\Ui\Base_Allowed_Product_Types" type="Magento\Catalog\Ui\Allowed_Product_Types">
        <arguments>
            <argument name="productTypes" xsi:type="array">
                <item name="simple" xsi:type="string">simple</item>
                <item name="virtual" xsi:type="string">virtual</item>
                <item name="configurable" xsi:type="string">configurable</item>
            </argument>
        </arguments>
    </virtualType>
    <type name="Magento\Sales\Model\Order\Invoice">
        <plugin name="update_configurable_product_total_qty" type="Magento\Configurable_Product\Plugin\Model\Order\Invoice\Update_Configurable_Product_Total_Qty"/>
    </type>
    <type name="Magento\Catalog_Widget\Block\Product\Products_List">
        <plugin name="configurable_product_widget_product_list" type="Magento\Configurable_Product\Plugin\Catalog_Widget\Block\Product\Products_List_Plugin" sortOrder="2"/>
    </type>
</config>
