<?xml version="1.0"?>
<!--
/**
 * Copyright 2014 Adobe
 * All Rights Reserved.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="product_attribute_form_build_main_tab">
        <observer name="hide_unsupported_attributes_for_configurable" instance="\Magento\Configurable_Product\Observer\Hide_Unsupported_Attribute_Types" />
    </event>
</config>
