<?xml version="1.0"?>
<!--
/**
 * Copyright 2018 Adobe
 * All Rights Reserved.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Catalog_Graph_Ql\Model\Product_Interface_Type_Resolver_Composite">
        <arguments>
            <argument name="productTypeNameResolvers" xsi:type="array">
                <item name="grouped_product_type_resolver" xsi:type="object">Magento\Grouped_Product_Graph_Ql\Model\Grouped_Product_Type_Resolver</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Catalog_Graph_Ql\Model\Product_Link_Type_Resolver_Composite">
        <arguments>
            <argument name="productLinksTypeNameResolvers" xsi:type="array">
                <item name="grouped_product_link__type_resolver" xsi:type="object">\Magento\Grouped_Product_Graph_Ql\Model\Grouped_Product_Links_Type_Resolver</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Framework\Graph_Ql\Schema\Type\Entity\Default_Mapper">
        <arguments>
            <argument name="map" xsi:type="array">
                <item name="catalog_product" xsi:type="array">
                    <item name="grouped" xsi:type="string">GroupedProduct</item>
                </item>
            </argument>
        </arguments>
    </type>

    <type name="Magento\Catalog_Graph_Ql\Model\Resolver\Product\Price\Provider_Pool">
        <arguments>
            <argument name="providers" xsi:type="array">
                <item name="grouped" xsi:type="object">Magento\Grouped_Product_Graph_Ql\Model\Resolver\Product\Price\Provider</item>
            </argument>
        </arguments>
    </type>

    <type name="Magento\Wishlist_Graph_Ql\Model\Resolver\Type\Wishlist_Item_Type">
        <arguments>
            <argument name="supportedTypes" xsi:type="array">
                <item name="grouped" xsi:type="string">GroupedProductWishlistItem</item>
            </argument>
        </arguments>
    </type>

    <type name="Magento\Url_Rewrite_Graph_Ql\Model\Routable_Interface_Type_Resolver">
        <arguments>
            <argument name="productTypeNameResolvers" xsi:type="array">
                <item name="grouped_product_type_resolver" xsi:type="object">Magento\Grouped_Product_Graph_Ql\Model\Grouped_Product_Type_Resolver</item>
            </argument>
        </arguments>
    </type>

    <type name="Magento\Catalog_Graph_Ql\Model\Resolver\Product\Product_Image">
        <plugin name="updateThumbnailToParentProductThumbnail" type="Magento\Grouped_Product_Graph_Ql\Plugin\Model\Resolver\Product_Image_Plugin" />
    </type>
</config>
