<?xml version="1.0"?>
<!--
/**
 * Copyright 2013 Adobe
 * All Rights Reserved.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Sales_Rule\Helper\Coupon">
        <arguments>
            <argument name="couponParameters" xsi:type="array">
                <item name="separator" xsi:type="string">-</item>
                <item name="charset" xsi:type="array">
                    <item name="alphanum" xsi:type="string">ABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789</item>
                    <item name="alpha" xsi:type="string">ABCDEFGHIJKLMNOPQRSTUVWXYZ</item>
                    <item name="num" xsi:type="string">0123456789</item>
                </item>
            </argument>
        </arguments>
    </type>

    <preference
            for="Magento\Sales_Rule\Model\Spi\Code_Limit_Manager_Interface"
            type="Magento\Sales_Rule\Model\Coupon\Admin_Code_Limit_Manager" />
    <preference
        for="Magento\Sales_Rule\Model\Quote\Get_Coupon_Code_Length_Interface"
        type="Magento\Sales_Rule\Model\Quote\Get_Coupon_Code_Length" />
</config>
