<?xml version="1.0"?>
<!--
/**
 * Copyright 2017 Adobe
 * All Rights Reserved.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Magento\Test_Module_Graph_Ql_Query\Model\Entity\Item_Interface" type="Magento\Test_Module_Graph_Ql_Query\Model\Entity\Item"/>
</config>
