<?xml version="1.0"?>
<!--
/**
 * Copyright 2013 Adobe
 * All Rights Reserved.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Downloadable\Helper\Download">
        <arguments>
            <argument name="coreFileStorageDb" xsi:type="object">Magento\Media_Storage\Helper\File\Storage\Database\Proxy</argument>
        </arguments>
    </type>
    <type name="Magento\Catalog\Model\Product\Cart_Configuration">
        <plugin name="Downloadable" type="Magento\Downloadable\Model\Product\Cart_Configuration\Plugin\Downloadable" />
    </type>
    <virtualType name="context_for_downloadable" type="Magento\Framework\View\Element\Template\Context">
        <arguments>
            <argument name="urlBuilder" xsi:type="object">Magento\Framework\Url</argument>
        </arguments>
    </virtualType>
    <type name="Magento\Downloadable\Block\Sales\Order\Email\Items\Order\Downloadable">
        <arguments>
            <argument name="context" xsi:type="object">context_for_downloadable</argument>
        </arguments>
    </type>
    <type name="Magento\Catalog\Model\Product\Type_Transition_Manager">
        <plugin name="downloadable_product_transition" type="Magento\Downloadable\Model\Product\Type_Transition_Manager\Plugin\Downloadable" />
        <arguments>
            <argument name="compatibleTypes" xsi:type="array">
                <item name="downloadable" xsi:type="const">Magento\Downloadable\Model\Product\Type::TYPE_DOWNLOADABLE</item>
            </argument>
        </arguments>
    </type>
    <virtualType name="Magento\Downloadable\Pricing\Price\Pool" type="Magento\Framework\Pricing\Price\Pool">
        <arguments>
            <argument name="prices" xsi:type="array">
                <item name="link_price" xsi:type="string">Magento\Downloadable\Pricing\Price\Link_Price</item>
            </argument>
            <argument name="target" xsi:type="object">Magento\Catalog\Pricing\Price\Pool</argument>
        </arguments>
    </virtualType>
    <virtualType name="Magento\Downloadable\Pricing\Price\Collection" type="Magento\Framework\Pricing\Price\Collection">
        <arguments>
            <argument name="pool" xsi:type="object">Magento\Downloadable\Pricing\Price\Pool</argument>
        </arguments>
    </virtualType>
    <type name="Magento\Framework\Pricing\Price_Info\Factory">
        <arguments>
            <argument name="types" xsi:type="array">
                <item name="downloadable" xsi:type="array">
                    <item name="infoClass" xsi:type="string">Magento\Framework\Pricing\Price_Info\Base</item>
                    <item name="prices" xsi:type="string">Magento\Downloadable\Pricing\Price\Collection</item>
                </item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Downloadable\Model\Product\Type_Handler\Type_Handler">
        <arguments>
            <argument name="handlers" xsi:type="array">
                <item name="sample" xsi:type="object">Magento\Downloadable\Model\Product\Type_Handler\Sample</item>
                <item name="link" xsi:type="object">Magento\Downloadable\Model\Product\Type_Handler\Link</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Quote\Model\Quote\Item\Repository">
        <arguments>
            <argument name="cartItemProcessors" xsi:type="array">
                <item name="downloadable" xsi:type="object">Magento\Downloadable\Model\Quote\Item\Cart_Item_Processor\Proxy</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Sales\Api\Order_Item_Repository_Interface">
        <arguments>
            <argument name="processorPool" xsi:type="array">
                <item name="downloadable" xsi:type="object">Magento\Downloadable\Model\Product_Option_Processor</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Sales\Model\Order\Product_Option">
        <arguments>
            <argument name="processorPool" xsi:type="array">
                <item name="downloadable" xsi:type="object">Magento\Downloadable\Model\Product_Option_Processor</item>
            </argument>
        </arguments>
    </type>
    <preference for="Magento\Downloadable\Api\Link_Repository_Interface" type="Magento\Downloadable\Model\Link_Repository" />
    <preference for="Magento\Downloadable\Api\Sample_Repository_Interface" type="Magento\Downloadable\Model\Sample_Repository" />
    <preference for="Magento\Downloadable\Api\Data\Link_Interface" type="Magento\Downloadable\Model\Link" />
    <preference for="Magento\Downloadable\Api\Data\Sample_Interface" type="Magento\Downloadable\Model\Sample" />
    <preference for="Magento\Downloadable\Api\Data\File\Content_Interface" type="Magento\Downloadable\Model\File\Content" />
    <preference for="Magento\Downloadable\Api\Data\File\Content_Uploader_Interface" type="Magento\Downloadable\Model\File\Content_Uploader" />
    <preference for="Magento\Downloadable\Model\Product\Type_Handler\Type_Handler_Interface" type="Magento\Downloadable\Model\Product\Type_Handler\Type_Handler" />
    <preference for="Magento\Downloadable\Api\Data\Downloadable_Option_Interface" type="Magento\Downloadable\Model\Downloadable_Option" />
    <preference for="Magento\Downloadable\Api\Domain_Manager_Interface" type="Magento\Downloadable\Model\Domain_Manager"/>
    <type name="Magento\Framework\Entity_Manager\Operation\Extension_Pool">
        <arguments>
            <argument name="extensionActions" xsi:type="array">
                <item name="Magento\Catalog\Api\Data\Product_Interface" xsi:type="array">
                    <item name="read" xsi:type="array">
                        <item name="downloadable_link_read" xsi:type="string">Magento\Downloadable\Model\Link\Read_Handler</item>
                        <item name="downloadable_sample_read" xsi:type="string">Magento\Downloadable\Model\Sample\Read_Handler</item>
                    </item>
                    <item name="create" xsi:type="array">
                        <item name="downloadable_link_create" xsi:type="string">Magento\Downloadable\Model\Link\Create_Handler</item>
                        <item name="downloadable_sample_create" xsi:type="string">Magento\Downloadable\Model\Sample\Create_Handler</item>
                    </item>
                    <item name="update" xsi:type="array">
                        <item name="downloadable_link_update" xsi:type="string">Magento\Downloadable\Model\Sample\Update_Handler</item>
                        <item name="downloadable_sample_update" xsi:type="string">Magento\Downloadable\Model\Link\Update_Handler</item>
                    </item>
                    <item name="delete" xsi:type="array">
                        <item name="downloadable_link_delete" xsi:type="string">Magento\Downloadable\Model\Sample\Delete_Handler</item>
                        <item name="downloadable_sample_delete" xsi:type="string">Magento\Downloadable\Model\Link\Delete_Handler</item>
                    </item>
                </item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Framework\Entity_Manager\Metadata_Pool">
        <arguments>
            <argument name="metadata" xsi:type="array">
                <item name="Magento\Downloadable\Api\Data\Link_Interface" xsi:type="array">
                    <item name="entityTableName" xsi:type="string">downloadable_link</item>
                    <item name="identifierField" xsi:type="string">link_id</item>
                </item>
                <item name="Magento\Downloadable\Api\Data\Sample_Interface" xsi:type="array">
                    <item name="entityTableName" xsi:type="string">downloadable_sample</item>
                    <item name="identifierField" xsi:type="string">sample_id</item>
                </item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Catalog\Model\Product\Price\Cost_Storage">
        <arguments>
            <argument name="allowedProductTypes" xsi:type="array">
                <item name="2" xsi:type="string">downloadable</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Catalog\Model\Product\Price\Validation\Tier_Price_Validator">
        <arguments>
            <argument name="allowedProductTypes" xsi:type="array">
                <item name="3" xsi:type="string">downloadable</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Catalog\Model\Product\Price\Base_Price_Storage">
        <arguments>
            <argument name="allowedProductTypes" xsi:type="array">
                <item name="3" xsi:type="string">downloadable</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Catalog\Model\Product\Price\Special_Price_Storage">
        <arguments>
            <argument name="allowedProductTypes" xsi:type="array">
                <item name="3" xsi:type="string">downloadable</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Downloadable\Model\Resource_Model\Indexer\Price">
        <arguments>
            <argument name="tableStrategy" xsi:type="object">Magento\Catalog\Model\Resource_Model\Product\Indexer\Temporary_Table_Strategy</argument>
            <argument name="connectionName" xsi:type="string">indexer</argument>
        </arguments>
    </type>
    <type name="Magento\Framework\Console\Command_List_Interface">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="addDomainsCommand" xsi:type="object">Magento\Downloadable\Console\Command\Domains_Add_Command</item>
                <item name="removeDomainsCommand" xsi:type="object">Magento\Downloadable\Console\Command\Domains_Remove_Command</item>
                <item name="showDomainsCommand" xsi:type="object">Magento\Downloadable\Console\Command\Domains_Show_Command</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Eav\Model\Config">
        <arguments>
            <argument name="attributesForPreload" xsi:type="array">
                <item name="catalog_product" xsi:type="array">
                    <item name="links_exist" xsi:type="string">catalog_product</item>
                    <item name="links_purchased_separately" xsi:type="string">catalog_product</item>
                    <item name="links_title" xsi:type="string">catalog_product</item>
                    <item name="samples_title" xsi:type="string">catalog_product</item>
                </item>
            </argument>
        </arguments>
    </type>
</config>
