<?xml version="1.0"?>
<!--
/**
 * Copyright 2015 Adobe
 * All Rights Reserved.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="sales_order_item_save_after">
        <observer name="downloadable_observer" instance="Magento\Downloadable\Observer\Save_Downloadable_Order_Item_Observer" />
    </event>
    <event name="sales_order_save_after">
        <observer name="downloadable_observer" instance="Magento\Downloadable\Observer\Set_Link_Status_Observer" />
        <observer name="downloadable_observer_assign_customer" instance="Magento\Downloadable\Observer\Update_Link_Purchased_Observer" />
    </event>
    <event name="sales_model_service_quote_submit_success">
        <observer name="checkout_type_onepage_save_order_after" instance="Magento\Downloadable\Observer\Set_Has_Downloadable_Products_Observer" />
    </event>
</config>
