<?xml version="1.0"?>
<!--
/**
 * Copyright 2018 Adobe
 * All Rights Reserved.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Magento\Framework\Message_Queue\Lock_Interface" type="Magento\Framework\Message_Queue\Lock" />
    <preference for="Magento\Framework\Message_Queue\Lock\Writer_Interface" type="Magento\Message_Queue\Model\Resource_Model\Lock" />
    <preference for="Magento\Framework\Message_Queue\Lock\Reader_Interface" type="Magento\Message_Queue\Model\Resource_Model\Lock" />
    <preference for="Magento\Framework\Message_Queue\Envelope_Interface" type="Magento\Framework\Message_Queue\Envelope"/>
    <preference for="Magento\Framework\Message_Queue\Consumer_Interface" type="Magento\Framework\Message_Queue\Consumer"/>
    <preference for="Magento\Framework\Message_Queue\Merged_Message_Interface" type="Magento\Framework\Message_Queue\Merged_Message"/>
    <preference for="Magento\Framework\Message_Queue\Poison_Pill\Poison_Pill_Compare_Interface" type="Magento\Message_Queue\Model\Poison_Pill_Compare"/>
    <preference for="Magento\Framework\Message_Queue\Poison_Pill\Poison_Pill_Put_Interface" type="Magento\Message_Queue\Model\Resource_Model\Poison_Pill"/>
    <preference for="Magento\Framework\Message_Queue\Poison_Pill\Poison_Pill_Read_Interface" type="Magento\Message_Queue\Model\Resource_Model\Poison_Pill"/>
    <type name="Magento\Framework\Console\Command_List_Interface">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="startConsumerCommand" xsi:type="object">Magento\Message_Queue\Console\Start_Consumer_Command\Proxy</item>
                <item name="consumerListCommand" xsi:type="object">Magento\Message_Queue\Console\Consumer_List_Command\Proxy</item>
                <item name="restartConsumerCommand" xsi:type="object">Magento\Message_Queue\Console\Restart_Consumer_Command\Proxy</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Framework\Message_Queue\Message_Processor_Loader">
        <arguments>
            <argument name="mergedMessageProcessor" xsi:type="object">Magento\Framework\Message_Queue\Merged_Message_Processor</argument>
            <argument name="defaultMessageProcessor" xsi:type="object">Magento\Framework\Message_Queue\Message_Processor</argument>
        </arguments>
    </type>
    <type name="Magento\Framework\App\Maintenance_Mode">
        <plugin name="amqp_maintenance_mode" type="Magento\Message_Queue\Model\Plugin\Resource_Model\Lock"/>
    </type>
    <virtualType name="RefreshLock" type="Magento\Message_Queue\Model\Resource_Model\Lock">
        <arguments>
            <argument name="interval" xsi:type="number">0</argument>
        </arguments>
    </virtualType>
    <type name="Magento\Message_Queue\Model\Plugin\Resource_Model\Lock">
        <arguments>
            <argument name="lock" xsi:type="object">RefreshLock</argument>
        </arguments>
    </type>
    <type name="Magento\Message_Queue\Model\Cron\Consumers_Runner">
        <arguments>
            <argument name="shellBackground" xsi:type="object">shellBackground</argument>
        </arguments>
    </type>
</config>
