<?xml version="1.0"?>
<!--
/**
 * Copyright 2018 Adobe
 * All Rights Reserved.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Webapi\Model\Service_Metadata">
        <plugin name="webapiServiceMetadataAsync" type="Magento\Webapi_Async\Plugin\Service_Metadata" />
    </type>
    <type name="Magento\Webapi\Model\Cache\Type\Webapi">
        <plugin name="webapiCacheAsync" type="Magento\Webapi_Async\Plugin\Cache\Webapi" />
    </type>
    <virtualType name="Magento\Webapi_Async\Model\Virtual_Type\Rest\Config" type="Magento\Webapi\Model\Rest\Config">
        <arguments>
            <argument name="config" xsi:type="object">Magento\Webapi_Async\Model\Bulk_Service_Config</argument>
        </arguments>
    </virtualType>
    <virtualType name="Magento\Webapi_Async\Controller\Virtual_Type\Rest\Router" type="Magento\Webapi\Controller\Rest\Router">
        <arguments>
            <argument name="apiConfig" xsi:type="object">Magento\Webapi_Async\Model\Virtual_Type\Rest\Config</argument>
        </arguments>
    </virtualType>
    <virtualType name="Magento\Webapi_Async\Controller\Virtual_Type\Rest\Request_Validator" type="Magento\Webapi\Controller\Rest\Request_Validator">
        <arguments>
            <argument name="router" xsi:type="object">Magento\Webapi_Async\Controller\Virtual_Type\Rest\Router</argument>
        </arguments>
    </virtualType>
    <virtualType name="Magento\Webapi_Async\Controller\Virtual_Type\Input_Params_Resolver" type="Magento\Webapi_Async\Controller\Rest\Asynchronous\Input_Params_Resolver">
        <arguments>
            <argument name="requestValidator" xsi:type="object">Magento\Webapi_Async\Controller\Virtual_Type\Rest\Request_Validator</argument>
            <argument name="isBulk" xsi:type="boolean">true</argument>
        </arguments>
    </virtualType>
    <virtualType name="Magento\Webapi_Async\Model\Bulk\Operation_Repository" type="Magento\Webapi_Async\Model\Operation_Repository">
        <arguments>
            <argument name="inputParamsResolver" xsi:type="object">Magento\Webapi_Async\Controller\Virtual_Type\Input_Params_Resolver</argument>
        </arguments>
    </virtualType>
    <virtualType name="Magento\Webapi_Async\Model\Mass_Schedule" type="Magento\Asynchronous_Operations\Model\Mass_Schedule">
        <arguments>
            <argument name="operationRepository" xsi:type="object">Magento\Webapi_Async\Model\Operation_Repository</argument>
        </arguments>
    </virtualType>
    <virtualType name="Magento\Webapi_Async\Model\Bulk\Mass_Schedule" type="Magento\Asynchronous_Operations\Model\Mass_Schedule">
        <arguments>
            <argument name="operationRepository" xsi:type="object">Magento\Webapi_Async\Model\Bulk\Operation_Repository</argument>
        </arguments>
    </virtualType>
    <type name="Magento\Webapi_Async\Controller\Rest\Asynchronous_Request_Processor">
        <arguments>
            <argument name="asyncBulkPublisher" xsi:type="object">Magento\Webapi_Async\Model\Mass_Schedule</argument>
        </arguments>
    </type>
    <virtualType name="Magento\Webapi_Async\Controller\Rest\Virtual_Type\Asynchronous_Bulk_Request_Processor" type="Magento\Webapi_Async\Controller\Rest\Asynchronous_Request_Processor">
        <arguments>
            <argument name="inputParamsResolver" xsi:type="object">Magento\Webapi_Async\Controller\Virtual_Type\Input_Params_Resolver</argument>
            <argument name="processorPath" xsi:type="const">Magento\Webapi_Async\Controller\Rest\Asynchronous_Request_Processor::BULK_PROCESSOR_PATH</argument>
            <argument name="asyncBulkPublisher" xsi:type="object">Magento\Webapi_Async\Model\Bulk\Mass_Schedule</argument>
        </arguments>
    </virtualType>
    <virtualType name="Magento\Webapi_Async\Controller\Rest\Virtual_Type\Asynchronous_Bulk_Schema_Request_Processor" type="Magento\Webapi_Async\Controller\Rest\Asynchronous_Schema_Request_Processor">
        <arguments>
            <argument name="processorPath" xsi:type="const">Magento\Webapi_Async\Controller\Rest\Asynchronous_Schema_Request_Processor::BULK_PROCESSOR_PATH</argument>
        </arguments>
    </virtualType>
    <type name="Magento\Webapi\Controller\Rest">
        <plugin name="webapiContorllerRestAsync" type="Magento\Webapi_Async\Plugin\Controller_Rest" />
    </type>
    <type name="Magento\Asynchronous_Operations\Model\Mass_Consumer_Envelope_Callback">
        <plugin name="storeIdFieldForAsynchronousOperationsMassConsumerEnvelopeCallback"
                type="Magento\Webapi_Async\Plugin\Asynchronous_Operations\Mass_Consumer_Envelope_Callback"
        />
    </type>
</config>
