<?xml version="1.0"?>
<!--
/**
 * Copyright 2013 Adobe
 * All Rights Reserved.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Magento\Sales_Rule\Api\Rule_Repository_Interface"
                type="Magento\Sales_Rule\Model\Rule_Repository" />
    <preference for="Magento\Sales_Rule\Api\Data\Rule_Interface"
                type="Magento\Sales_Rule\Model\Data\Rule" />
    <preference for="Magento\Sales_Rule\Api\Data\Condition_Interface"
                type="Magento\Sales_Rule\Model\Data\Condition" />
    <preference for="Magento\Sales_Rule\Api\Data\Rule_Search_Result_Interface"
                type="Magento\Framework\Api\Search_Results" />
    <preference for="Magento\Sales_Rule\Api\Data\Rule_Label_Interface"
                type="Magento\Sales_Rule\Model\Data\Rule_Label" />
    <preference for="Magento\Sales_Rule\Api\Data\Coupon_Interface"
                type="Magento\Sales_Rule\Model\Coupon" />
    <preference for="Magento\Sales_Rule\Api\Coupon_Repository_Interface"
                type="Magento\Sales_Rule\Model\Coupon_Repository" />
    <preference for="Magento\Sales_Rule\Model\Spi\Coupon_Resource_Interface"
                type="Magento\Sales_Rule\Model\Resource_Model\Coupon" />
    <preference for="Magento\Sales_Rule\Api\Data\Coupon_Search_Result_Interface"
                type="Magento\Framework\Api\Search_Results" />
    <preference for="Magento\Sales_Rule\Api\Data\Coupon_Generation_Spec_Interface"
                type="Magento\Sales_Rule\Model\Data\Coupon_Generation_Spec" />
    <preference for="Magento\Sales_Rule\Api\Data\Coupon_Mass_Delete_Result_Interface"
                type="Magento\Sales_Rule\Model\Data\Coupon_Mass_Delete_Result" />
    <preference for="Magento\Sales_Rule\Api\Coupon_Management_Interface"
                type="Magento\Sales_Rule\Model\Service\Coupon_Management_Service" />
    <preference for="Magento\Sales_Rule\Api\Data\Rule_Discount_Interface"
                type="Magento\Sales_Rule\Model\Data\Rule_Discount" />
    <preference for="Magento\Sales_Rule\Api\Data\Discount_Data_Interface"
                type="Magento\Sales_Rule\Model\Data\Discount_Data" />
    <preference for="Magento\Sales_Rule\Model\Spi\Rule_Quote_Recollect_Totals_Interface"
                type="Magento\Sales_Rule\Model\Rule\Rule_Quote_Recollect_Totals_On_Demand" />
    <preference for="Magento\Sales_Rule\Model\Spi\Quote_Reset_Applied_Rules_Interface"
                type="Magento\Sales_Rule\Model\Rule\Quote_Reset_Applied_Rules" />
    <type name="Magento\Sales_Rule\Helper\Coupon">
        <arguments>
            <argument name="couponParameters" xsi:type="array">
                <item name="separator" xsi:type="string">-</item>
                <item name="charset" xsi:type="array">
                    <item name="alphanum" xsi:type="string">ABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789</item>
                    <item name="alpha" xsi:type="string">ABCDEFGHIJKLMNOPQRSTUVWXYZ</item>
                    <item name="num" xsi:type="string">0123456789</item>
                </item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Sales_Rule\Model\Resource_Model\Rule\Collection" shared="false" />
    <type name="Magento\Quote\Model\Quote\Config">
        <plugin name="append_sales_rule_keys_to_quote" type="Magento\Sales_Rule\Model\Plugin\Quote_Config_Product_Attributes"/>
    </type>
    <type name="Magento\Framework\Module\Setup\Migration">
        <arguments>
            <argument name="compositeModules" xsi:type="array">
                <item name="salesrule" xsi:type="string">Magento_SalesRule</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Framework\App\Rss\Rss_Manager_Interface">
        <arguments>
            <argument name="dataProviders" xsi:type="array">
                <item name="discounts" xsi:type="string">Magento\Sales_Rule\Block\Rss\Discounts</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Sales_Rule\Model\Resource_Model\Report\Rule">
        <arguments>
            <argument name="connectionName" xsi:type="string">sales</argument>
        </arguments>
    </type>
    <type name="Magento\Sales_Rule\Model\Resource_Model\Report\Rule\Createdat">
        <arguments>
            <argument name="connectionName" xsi:type="string">sales</argument>
        </arguments>
    </type>
    <type name="Magento\Sales_Rule\Model\Resource_Model\Report\Rule\Updatedat">
        <arguments>
            <argument name="connectionName" xsi:type="string">sales</argument>
        </arguments>
    </type>
    <type name="Magento\Framework\Model\Entity\Repository_Factory">
        <arguments>
            <argument name="entities" xsi:type="array">
                <item name="Magento\Sales_Rule\Api\Data\Rule_Interface" xsi:type="string">Magento\Sales_Rule\Model\Resource_Model\Rule</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Framework\Entity_Manager\Metadata_Pool">
        <arguments>
            <argument name="metadata" xsi:type="array">
                <item name="Magento\Sales_Rule\Api\Data\Rule_Interface" xsi:type="array">
                    <item name="entityTableName" xsi:type="string">salesrule</item>
                    <item name="identifierField" xsi:type="string">rule_id</item>
                </item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Framework\Entity_Manager\Operation\Attribute_Pool">
        <arguments>
            <argument name="extensionActions" xsi:type="array">
                <item name="salesRule" xsi:type="array">
                    <item name="Magento\Sales_Rule\Api\Data\Rule_Interface" xsi:type="array">
                        <item name="read" xsi:type="string">Magento\Sales_Rule\Model\Resource_Model\Read_Handler</item>
                        <item name="create" xsi:type="string">Magento\Sales_Rule\Model\Resource_Model\Save_Handler</item>
                        <item name="update" xsi:type="string">Magento\Sales_Rule\Model\Resource_Model\Save_Handler</item>
                    </item>
                </item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Sales_Rule\Model\Rule\Condition\Address">
        <arguments>
            <argument name="data" xsi:type="array">
                <item name="form_name" xsi:type="string">sales_rule_form</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Sales_Rule\Model\Rule\Condition\Combine">
        <arguments>
            <argument name="data" xsi:type="array">
                <item name="form_name" xsi:type="string">sales_rule_form</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Sales_Rule\Model\Rule\Condition\Product">
        <arguments>
            <argument name="data" xsi:type="array">
                <item name="form_name" xsi:type="string">sales_rule_form</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Sales_Rule\Model\Rule\Condition\Product\Combine">
        <arguments>
            <argument name="data" xsi:type="array">
                <item name="form_name" xsi:type="string">sales_rule_form</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Sales_Rule\Model\Rule\Condition\Product\Found">
        <arguments>
            <argument name="data" xsi:type="array">
                <item name="form_name" xsi:type="string">sales_rule_form</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Sales_Rule\Model\Rule\Condition\Product\Subselect">
        <arguments>
            <argument name="data" xsi:type="array">
                <item name="form_name" xsi:type="string">sales_rule_form</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Sales_Rule\Model\Rule\Customer">
        <arguments>
            <argument name="data" xsi:type="array">
                <item name="form_name" xsi:type="string">sales_rule_form</item>
            </argument>
        </arguments>
    </type>
    <virtualType name="Magento\Sales_Rule\Model\Resource_Model\Rule\Associated_Entity_Map" type="Magento\Framework\Data_Object">
        <arguments>
            <argument name="data" xsi:type="array">
                <item name="website" xsi:type="array">
                    <item name="associations_table" xsi:type="string">salesrule_website</item>
                    <item name="rule_id_field" xsi:type="string">rule_id</item>
                    <item name="entity_id_field" xsi:type="string">website_id</item>
                </item>
                <item name="customer_group" xsi:type="array">
                    <item name="associations_table" xsi:type="string">salesrule_customer_group</item>
                    <item name="rule_id_field" xsi:type="string">rule_id</item>
                    <item name="entity_id_field" xsi:type="string">customer_group_id</item>
                </item>
            </argument>
        </arguments>
    </virtualType>
    <type name="Magento\Framework\Entity_Manager\Hydrator_Pool">
        <arguments>
            <argument name="hydrators" xsi:type="array">
                <item name="Magento\Sales_Rule\Api\Data\Rule_Interface" xsi:type="string">Magento\Framework\Entity_Manager\Abstract_Model_Hydrator</item>
                <item name="Magento\Sales_Rule\Api\Data\Coupon_Interface" xsi:type="string">Magento\Framework\Entity_Manager\Abstract_Model_Hydrator</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Quote\Model\Cart\Cart_Total_Repository">
        <plugin name="coupon_label_plugin" type="Magento\Sales_Rule\Plugin\Cart_Total_Repository" />
    </type>
    <type name="Magento\Sales\Model\Service\Order_Service">
        <plugin name="coupon_uses_decrement_plugin" type="Magento\Sales_Rule\Plugin\Coupon_Usages_Decrement" />
    </type>
    <type name="\Magento\Quote\Model\Quote_Management">
        <plugin name="coupon_uses_increment_plugin" type="Magento\Sales_Rule\Plugin\Coupon_Usages_Increment" sortOrder="20"/>
    </type>
    <type name="\Magento\Multishipping\Model\Checkout\Type\Multishipping\Place_Order_Default">
        <plugin name="coupon_uses_increment_multishipping_plugin" type="Magento\Sales_Rule\Plugin\Coupon_Usages_Increment_Multishipping" sortOrder="30"/>
    </type>
    <preference
            for="Magento\Sales_Rule\Model\Spi\Code_Limit_Manager_Interface"
            type="Magento\Sales_Rule\Model\Coupon\Code_Limit_Manager" />
    <type name="Magento\Sales_Rule\Observer\Rule_Quote_Recollect_Totals_Observer">
        <arguments>
            <argument name="recollectTotals" xsi:type="object">Magento\Sales_Rule\Model\Rule\Rule_Quote_Recollect_Totals_Async\Proxy</argument>
        </arguments>
    </type>
    <type name="Magento\Sales_Rule\Controller\Adminhtml\Promo\Quote\Generate">
        <arguments>
            <argument name="scopeConfig" xsi:type="object">Magento\Framework\App\Config\Scope_Config_Interface\Proxy</argument>
        </arguments>
    </type>
    <type name="Magento\Sales_Rule\Model\Rule\Action\Discount\Existing_Discount_Rule_Collector" shared="true" />
</config>
