<?xml version="1.0"?>
<!--
/**
 * Copyright 2013 Adobe
 * All Rights Reserved.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="sales_model_service_quote_submit_before">
        <observer name="salesrule" instance="Magento\Sales_Rule\Observer\Add_Sales_Rule_Name_To_Order_Observer" />
    </event>
    <event name="magento_salesrule_api_data_ruleinterface_save_before">
        <observer name="legacy_model_save" instance="Magento\Framework\Entity_Manager\Observer\Before_Entity_Save" />
    </event>
    <event name="magento_salesrule_api_data_ruleinterface_save_after">
        <observer name="legacy_model_save" instance="Magento\Framework\Entity_Manager\Observer\After_Entity_Save" />
    </event>
    <event name="magento_salesrule_api_data_ruleinterface_delete_before">
        <observer name="legacy_model_delete" instance="Magento\Framework\Entity_Manager\Observer\Before_Entity_Delete" />
    </event>
    <event name="magento_salesrule_api_data_ruleinterface_delete_after">
        <observer name="legacy_model_delete" instance="Magento\Framework\Entity_Manager\Observer\After_Entity_Delete" />
    </event>
    <event name="magento_salesrule_api_data_ruleinterface_load_after">
        <observer name="legacy_model_load" instance="Magento\Framework\Entity_Manager\Observer\After_Entity_Load" />
    </event>
    <event name="sales_order_customer_assign_after">
        <observer name="sales_order_assign_customer_after" instance="Magento\Sales_Rule\Observer\Assign_Coupon_Data_After_Order_Customer_Assign_Observer" />
    </event>
    <event name="sales_quote_address_collect_totals_before">
        <observer name="coupon_code_validation" instance="Magento\Sales_Rule\Observer\Coupon_Code_Validation" />
    </event>
    <event name="salesrule_rule_save_commit_after">
        <observer name="salesrule_quote_recollect_totals_on_disabled" instance="\Magento\Sales_Rule\Observer\Rule_Quote_Recollect_Totals_Observer" />
    </event>
    <event name="salesrule_rule_delete_commit_after">
        <observer name="salesrule_quote_recollect_totals_on_delete" instance="\Magento\Sales_Rule\Observer\Rule_Quote_Recollect_Totals_Observer" />
    </event>
    <event name="sales_quote_collect_totals_before">
        <observer name="salesrule_sales_quote_collect_totals_before" instance="\Magento\Sales_Rule\Observer\Quote_Reset_Applied_Rules_Observer" />
    </event>
</config>
