<?xml version="1.0"?>
<!--
/**
 * Copyright 2011 Adobe
 * All Rights Reserved.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Magento\Import_Export\Model\Import\Config_Interface" type="Magento\Import_Export\Model\Import\Config" />
    <preference for="Magento\Import_Export\Model\Export\Config_Interface" type="Magento\Import_Export\Model\Export\Config" />
    <preference for="Magento\Import_Export\Model\Import\Error_Processing\Processing_Error_Aggregator_Interface" type="Magento\Import_Export\Model\Import\Error_Processing\Processing_Error_Aggregator" />
    <preference for="Magento\Import_Export\Model\Report\Report_Processor_Interface" type="Magento\Import_Export\Model\Report\Csv" />
    <preference for="Magento\Import_Export\Api\Data\Export_Info_Interface" type="Magento\Import_Export\Model\Export\Entity\Export_Info" />
    <preference for="Magento\Import_Export\Api\Data\Localized_Export_Info_Interface" type="Magento\Import_Export\Model\Export\Entity\Export_Info" />
    <preference for="Magento\Import_Export\Api\Data\Fields_Enclosure_Aware_Export_Info_Interface" type="Magento\Import_Export\Model\Export\Entity\Export_Info" />
    <preference for="Magento\Import_Export\Api\Export_Management_Interface" type="Magento\Import_Export\Model\Export\Export_Management" />
    <preference for="Magento\Import_Export\Model\Locale_Emulator_Interface" type="Magento\Import_Export\Model\Locale_Emulator\Proxy" />
    <preference for="Magento\Import_Export\Model\Export\Entity_Filters_Provider_Interface" type="Magento\Import_Export\Model\Export\Entity_Filters_Provider"/>
    <type name="Magento\Framework\Module\Setup\Migration">
        <arguments>
            <argument name="compositeModules" xsi:type="array">
                <item name="importexport" xsi:type="string">Magento_ImportExport</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Import_Export\Model\Import\Sample_File_Provider">
        <arguments>
            <argument name="samples" xsi:type="array">
                <item name="advanced_pricing" xsi:type="string">Magento_ImportExport</item>
                <item name="catalog_product" xsi:type="string">Magento_ImportExport</item>
                <item name="customer" xsi:type="string">Magento_ImportExport</item>
                <item name="customer_address" xsi:type="string">Magento_ImportExport</item>
                <item name="customer_composite" xsi:type="string">Magento_ImportExport</item>
                <item name="customer_finance" xsi:type="string">Magento_ImportExport</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Import_Export\Model\Localized_File_Name">
        <arguments>
            <argument name="dateFormats" xsi:type="array">
                <item name="Ymd_His" xsi:type="string">Ymd_His</item>
            </argument>
        </arguments>
    </type>
    <virtualType name="Magento\Import_Export\Model\Default_Locale_Resolver" type="Magento\Framework\Locale\Resolver">
        <arguments>
            <argument name="defaultLocalePath" xsi:type="const">Magento\Directory\Helper\Data::XML_PATH_DEFAULT_LOCALE</argument>
            <argument name="scopeType" xsi:type="const">Magento\Framework\App\Config\Scope_Config_Interface::SCOPE_TYPE_DEFAULT</argument>
        </arguments>
    </virtualType>
    <type name="Magento\Import_Export\Model\Locale_Emulator">
        <arguments>
            <argument name="defaultLocaleResolver" xsi:type="object">Magento\Import_Export\Model\Default_Locale_Resolver</argument>
        </arguments>
    </type>
    <type name="Magento\Import_Export\Model\Import">
        <plugin name="import_defer_cache" type="Magento\Import_Export\Plugin\Defer_Cache_Cleaning_Until_Import_Is_Complete" sortOrder="1"/>
    </type>
</config>
