<?xml version="1.0"?>
<!--
/**
 * Copyright 2023 Adobe
 * All Rights Reserved.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Magento\Eav_Graph_Ql\Model\Output\Get_Attribute_Data_Interface" type="Magento\Eav_Graph_Ql\Model\Output\Get_Attribute_Data_Composite"/>
    <preference for="Magento\Eav_Graph_Ql\Model\Output\Value\Get_Attribute_Value_Interface" type="Magento\Eav_Graph_Ql\Model\Output\Value\Get_Attribute_Value_Composite"/>
    <preference for="Magento\Eav_Graph_Ql\Model\Output\Value\Options\Get_Attribute_Selected_Option_Interface" type="Magento\Eav_Graph_Ql\Model\Output\Value\Options\Get_Attribute_Selected_Option_Composite"/>
    <type name="Magento\Eav_Graph_Ql\Model\Output\Get_Attribute_Data_Composite">
        <arguments>
            <argument name="providers" xsi:type="array">
                <item name="eav_attribute_data" xsi:type="object">Magento\Eav_Graph_Ql\Model\Output\Get_Attribute_Data</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Framework\Graph_Ql\Schema\Type\Enum\Default_Data_Mapper">
        <arguments>
            <argument name="map" xsi:type="array">
                <item name="AttributeFrontendInputEnum" xsi:type="array">
                    <item name="boolean" xsi:type="string">boolean</item>
                    <item name="date" xsi:type="string">date</item>
                    <item name="datetime" xsi:type="string">datetime</item>
                    <item name="file" xsi:type="string">file</item>
                    <item name="gallery" xsi:type="string">gallery</item>
                    <item name="hidden" xsi:type="string">hidden</item>
                    <item name="image" xsi:type="string">image</item>
                    <item name="media_image" xsi:type="string">media_image</item>
                    <item name="multiline" xsi:type="string">multiline</item>
                    <item name="multiselect" xsi:type="string">multiselect</item>
                    <item name="price" xsi:type="string">price</item>
                    <item name="select" xsi:type="string">select</item>
                    <item name="text" xsi:type="string">text</item>
                    <item name="textarea" xsi:type="string">textarea</item>
                    <item name="weight" xsi:type="string">weight</item>
                </item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Eav_Graph_Ql\Model\Output\Value\Get_Attribute_Value_Composite">
        <arguments>
            <argument name="providers" xsi:type="array">
                <item name="default" xsi:type="object">Magento\Eav_Graph_Ql\Model\Output\Value\Get_Custom_Attributes</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Eav_Graph_Ql\Model\Output\Value\Get_Custom_Attributes">
        <arguments>
            <argument name="frontendInputs" xsi:type="array">
                <item name="multiselect" xsi:type="string">multiselect</item>
                <item name="select" xsi:type="string">select</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Eav_Graph_Ql\Model\Output\Value\Options\Get_Attribute_Selected_Option_Composite">
        <arguments>
            <argument name="providers" xsi:type="array">
                <item name="default" xsi:type="object">Magento\Eav_Graph_Ql\Model\Output\Value\Options\Get_Custom_Selected_Option_Attributes</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Eav_Graph_Ql\Model\Type_Resolver\Attribute_Value">
        <arguments>
            <argument name="frontendInputs" xsi:type="array">
                <item name="multiselect" xsi:type="string">multiselect</item>
                <item name="select" xsi:type="string">select</item>
            </argument>
        </arguments>
    </type>
</config>
