<?xml version="1.0"?>
<!--
/**
 * Copyright 2014 Adobe
 * All Rights Reserved.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Store\Model\Resource_Model\Store">
        <plugin name="store_plugin" type="Magento\Catalog_Url_Rewrite\Model\Category\Plugin\Store\View"/>
    </type>
    <type name="Magento\Store\Model\Resource_Model\Group">
        <plugin name="group_plugin" type="Magento\Catalog_Url_Rewrite\Model\Category\Plugin\Store\Group"/>
    </type>
    <type name="Magento\Catalog\Model\Resource_Model\Category">
        <plugin name="category_move_plugin" type="Magento\Catalog_Url_Rewrite\Model\Category\Plugin\Category\Move"/>
        <plugin name="category_delete_plugin" type="Magento\Catalog_Url_Rewrite\Model\Category\Plugin\Category\Remove"/>
    </type>
    <type name="Magento\Catalog\Block\Adminhtml\Product\Edit\Tab\Attributes">
        <plugin name="product_form_url_key_plugin" type="Magento\Catalog_Url_Rewrite\Plugin\Catalog\Block\Adminhtml\Product\Edit\Tab\Attributes"/>
    </type>
    <type name="Magento\Catalog\Controller\Adminhtml\Product\Initialization\Helper">
        <plugin name="product_save_rewrites_history_plugin" type="Magento\Catalog_Url_Rewrite\Plugin\Catalog\Controller\Adminhtml\Product\Initialization\Helper"/>
    </type>
    <type name="Magento\Catalog\Model\Category\Data_Provider">
        <plugin name="category_ui_form_url_key_plugin" type="Magento\Catalog_Url_Rewrite\Plugin\Catalog\Block\Adminhtml\Category\Tab\Attributes"/>
    </type>
    <virtualType name="Magento\Catalog\Ui\Data_Provider\Product\Form\Modifier\Pool">
        <arguments>
            <argument name="modifiers" xsi:type="array">
                <item name="ProductUrlRewrite" xsi:type="array">
                    <item name="class" xsi:type="string">Magento\Catalog_Url_Rewrite\Ui\Data_Provider\Product\Form\Modifier\Product_Url_Rewrite</item>
                    <item name="sortOrder" xsi:type="number">90</item>
                </item>
            </argument>
        </arguments>
    </virtualType>
</config>
