<?xml version="1.0"?>
<!--
/**
 * Copyright 2017 Adobe
 * All Rights Reserved.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Magento\Cron\Model\Config_Interface" type="Magento\Cron\Model\Config" />
    <preference for="Magento\Framework\Shell\Command_Renderer_Interface" type="Magento\Framework\Shell\Command_Renderer" />
    <preference for="Magento\Framework\Crontab\Crontab_Manager_Interface" type="Magento\Framework\Crontab\Crontab_Manager" />
    <preference for="Magento\Framework\Crontab\Tasks_Provider_Interface" type="Magento\Framework\Crontab\Tasks_Provider" />
    <type name="Magento\Config\Model\Config\Structure\Converter">
        <plugin name="cron_backend_config_structure_converter_plugin" type="Magento\Cron\Model\Backend\Config\Structure\Converter" />
    </type>
    <type name="Magento\Framework\App\Config\Initial\Converter">
        <plugin name="cron_system_config_initial_converter_plugin" type="Magento\Cron\Model\System\Config\Initial\Converter" />
    </type>
    <virtualType name="Magento\Cron\Model\Virtual_Logger_Handler" type="Magento\Framework\Logger\Handler\Base">
        <arguments>
            <argument name="fileName" xsi:type="string">/var/log/cron.log</argument>
        </arguments>
    </virtualType>
    <virtualType name="Magento\Cron\Model\Virtual_Logger" type="Magento\Framework\Logger\Monolog">
        <arguments>
            <argument name="handlers" xsi:type="array">
                <item name="system" xsi:type="object">Magento\Cron\Model\Virtual_Logger_Handler</item>
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="shellBackgroundCron" type="Magento\Framework\Shell">
        <arguments>
            <argument name="commandRenderer" xsi:type="object">Magento\Cron\Shell\Command_Renderer_Background</argument>
        </arguments>
    </virtualType>
    <type name="Magento\Cron\Observer\Process_Cron_Queue_Observer">
        <arguments>
            <argument name="shell" xsi:type="object">shellBackgroundCron</argument>
            <argument name="logger" xsi:type="object">Magento\Cron\Model\Virtual_Logger</argument>
        </arguments>
    </type>
    <type name="Magento\Framework\Console\Command_List_Interface">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="cronCommand" xsi:type="object">Magento\Cron\Console\Command\Cron_Command</item>
                <item name="cronInstall" xsi:type="object">Magento\Cron\Console\Command\Cron_Install_Command</item>
                <item name="cronRemove" xsi:type="object">Magento\Cron\Console\Command\Cron_Remove_Command</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Framework\App\Area_List">
        <arguments>
            <argument name="areas" xsi:type="array">
                <item name="crontab" xsi:type="null" />
            </argument>
        </arguments>
    </type>
    <type name="Magento\Framework\Crontab\Crontab_Manager_Interface">
        <arguments>
            <argument name="shell" xsi:type="object">Magento\Framework\App\Shell</argument>
        </arguments>
    </type>
    <type name="Magento\Framework\Crontab\Tasks_Provider_Interface">
        <arguments>
            <argument name="tasks" xsi:type="array">
                <item name="cronMagento" xsi:type="array">
                    <item name="command" xsi:type="string">{magentoRoot}bin/magento cron:run >> {magentoLog}magento.cron.log 2>&amp;1</item>
                    <item name="optional" xsi:type="boolean">false</item>
                </item>
            </argument>
        </arguments>
    </type>
    <preference for="Magento\Cron\Model\Deadlock_Retrier_Interface" type="Magento\Cron\Model\Deadlock_Retrier" />
</config>
