<?xml version="1.0"?>
<!--
/**
 * Copyright 2015 Adobe
 * All Rights Reserved.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Magento\Test_Module4\Service\V1\Data_Object_Service_Interface" type="Magento\Test_Module4\Service\V1\Data_Object_Service" />
    <preference for="Magento\Test_Module4\Service\V1\Entity\Extensible_Request_Interface" type="Magento\Test_Module4\Service\V1\Entity\Extensible_Request" />
    <type name="Magento\Test_Module4\Service\V1\Entity\Extensible_Request">
        <arguments>
            <argument name="resource" xsi:type="object">Magento\Test_Module4\Model\Resource_Model\Item</argument>
        </arguments>
    </type>
</config>
