<?xml version="1.0"?>
<!--
/**
 * Copyright 2025 Adobe
 * All Rights Reserved.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Magento\Quote_Graph_Ql\Model\Cart\Set_Shipping_Addresses_On_Cart_Interface"
                type="Magento\Quote_Graph_Ql\Model\Cart\Set_Shipping_Addresses_On_Cart"/>
    <preference for="Magento\Quote_Graph_Ql\Model\Cart\Set_Shipping_Methods_On_Cart_Interface"
                type="Magento\Quote_Graph_Ql\Model\Cart\Set_Shipping_Methods_On_Cart"/>
    <preference for="Magento\Quote_Graph_Ql\Model\Cart\Merge_Carts\Cart_Quantity_Validator_Interface"
                type="Magento\Quote_Graph_Ql\Model\Cart\Merge_Carts\Cart_Quantity_Validator"/>
    <type name="Magento\Quote_Graph_Ql\Model\Cart\Buy_Request\Buy_Request_Builder">
        <arguments>
            <argument name="providers" xsi:type="array">
                <item name="quantity" xsi:type="object">Magento\Quote_Graph_Ql\Model\Cart\Buy_Request\Quantity_Data_Provider</item>
                <item name="customizable_options" xsi:type="object">Magento\Quote_Graph_Ql\Model\Cart\Buy_Request\Customizable_Options_Data_Provider</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Quote\Model\Quote\Config">
        <plugin name="append_requested_graphql_attributes" type="Magento\Quote_Graph_Ql\Plugin\Product_Attributes_Extender"/>
    </type>
    <type name="Magento\Framework\Graph_Ql\Query\Resolver_Interface">
        <plugin name="reset-totals" type="Magento\Quote_Graph_Ql\Plugin\Reset_Stored_Totals_Before_Top_Resolver" sortOrder="1"/>
    </type>
    <type name="Magento\Quote_Graph_Ql\Model\Cart\Totals_Collector">
        <arguments>
            <argument name="quoteTotalsCollector" xsi:type="object">Magento\Quote\Model\Quote\Totals_Collector\Proxy</argument>
        </arguments>
    </type>
    <virtualType name="Magento\Quote_Graph_Ql\Helper\Error\Place_Order_Message_Formatter" type="Magento\Graph_Ql\Helper\Error\Aggregate_Exception_Message_Formatter">
        <arguments>
            <argument name="messageFormatters" xsi:type="array">
                <item name="graphql" xsi:type="object">Magento\Graph_Ql\Helper\Error\Message_Formatters\Graph_Ql_Exception_Message_Formatter</item>
                <item name="no_such_entity" xsi:type="object">Magento\Graph_Ql\Helper\Error\Message_Formatters\No_Such_Entity_Exception_Message_Formatter</item>
                <item name="validation" xsi:type="object">Magento\Graph_Ql\Helper\Error\Message_Formatters\Validation_Exception_Message_Formatter</item>
                <item name="payment" xsi:type="object">Magento\Graph_Ql\Helper\Error\Message_Formatters\Payment_Exception_Message_Formatter</item>
                <item name="payment_gateway_command" xsi:type="object">Magento\Payment_Graph_Ql\Helper\Error\Message_Formatters\Gateway_Command_Exception_Message_Formatter</item>
                <item name="payment_gateway_http_client" xsi:type="object">Magento\Payment_Graph_Ql\Helper\Error\Message_Formatters\Gateway_Http_Client_Exception_Message_Formatter</item>
                <item name="stock_state" xsi:type="object">Magento\Catalog_Inventory_Graph_Ql\Helper\Error\Message_Formatters\Stock_State_Exception_Message_Formatter</item>
            </argument>
        </arguments>
    </virtualType>
    <type name="Magento\Quote_Graph_Ql\Model\Order_Error_Processor">
        <arguments>
            <argument name="errorMessageFormatter" xsi:type="object">Magento\Quote_Graph_Ql\Helper\Error\Place_Order_Message_Formatter</argument>
        </arguments>
    </type>
    <type name="Magento\Framework\Graph_Ql\Schema\Type\Enum\Default_Data_Mapper">
        <arguments>
            <argument name="map" xsi:type="array">
                <item name="CartItemErrorType" xsi:type="array">
                    <item name="undefined" xsi:type="string">0</item>
                    <item name="item_qty" xsi:type="string">1</item>
                    <item name="item_increment" xsi:type="string">2</item>
                </item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Store_Graph_Ql\Model\Resolver\Store\Store_Config_Data_Provider">
        <arguments>
            <argument name="extendedConfigData" xsi:type="array">
                <item name="is_guest_checkout_enabled" xsi:type="string">checkout/options/guest_checkout</item>
                <item name="is_one_page_checkout_enabled" xsi:type="string">checkout/options/onepage_checkout_enabled</item>
                <item name="max_items_in_order_summary" xsi:type="string">checkout/options/max_items_display_count</item>
                <item name="cart_summary_display_quantity" xsi:type="string">checkout/cart_link/use_qty</item>
                <item name="minicart_display" xsi:type="string">checkout/sidebar/display</item>
                <item name="minicart_max_items" xsi:type="string">checkout/sidebar/max_items_display_count</item>
                <item name="cart_expires_in_days" xsi:type="string">checkout/cart/delete_quote_after</item>
                <item name="grouped_product_image" xsi:type="string">checkout/cart/grouped_product_image</item>
                <item name="configurable_product_image" xsi:type="string">checkout/cart/configurable_product_image</item>
                <item name="is_checkout_agreements_enabled" xsi:type="string">checkout/options/enable_agreements</item>
                <item name="cart_merge_preference" xsi:type="string">checkout/cart/cart_merge_preference</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Quote\Model\Quote_Management">
        <plugin name="merge_guest_orders_with_customer_after_place"
                type="Magento\Quote_Graph_Ql\Plugin\Model\Merge_Guest_Order" />
        <plugin name="validate_payment_method_on_place_order"
                type="Magento\Quote_Graph_Ql\Plugin\Quote\Validate_Payment_On_Place_Order"
                sortOrder="10"/>
    </type>
    <type name="Magento\Quote_Graph_Ql\Model\Resolver\Update_Cart_Items">
        <arguments>
            <argument name="messageCodesMapper" xsi:type="array">
                <item name="The requested qty" xsi:type="string">INSUFFICIENT_STOCK</item>
                <item name="Could not find cart item" xsi:type="string">COULD_NOT_FIND_CART_ITEM</item>
                <item name="Required parameter" xsi:type="string">REQUIRED_PARAMETER_MISSING</item>
                <item name="The fewest you may purchase" xsi:type="string">INVALID_PARAMETER_VALUE</item>
                <item name="Not enough items for sale" xsi:type="string">INSUFFICIENT_STOCK</item>
                <item name="Only %s of %s available" xsi:type="string">INSUFFICIENT_STOCK</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Quote\Model\Customer_Management">
        <plugin name="billing_address_save_same_as_shipping"
                type="Magento\Quote_Graph_Ql\Plugin\Customer_Management_Plugin"/>
    </type>
    <type name="Magento\Payment\Model\Method_List">
        <plugin name="restrict_payment_methods_graphql" type="Magento\Quote_Graph_Ql\Plugin\Model\Restrict_Payment_Methods"/>
    </type>
    <type name="Magento\Quote_Graph_Ql\Model\Resolver\Merge_Carts">
        <arguments>
            <argument name="fields" xsi:type="array">
                <item name="gift_message_id" xsi:type="string">gift_message_id</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Framework\Graph_Ql\Query\Query_Data_Formatter">
        <arguments>
            <argument name="formatters" xsi:type="array">
                <item name="process_order_response_formatter" xsi:type="object">Magento\Quote_Graph_Ql\Model\Order_Response_Formatter</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Quote\Model\Validation_Rules\Shipping_Method_Validation_Rule">
        <plugin name="shipping_method_validation_plugin"
                type="Magento\Quote_Graph_Ql\Plugin\Shipping_Method_Validation_Rule_Plugin"
                sortOrder="10"
                disabled="false"/>
    </type>
</config>
