<?xml version="1.0"?>
<!--
/**
 * Copyright 2013 Adobe
 * All Rights Reserved.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Magento\Cms\Api\Data\Page_Search_Results_Interface"
                type="Magento\Cms\Model\Page_Search_Results" />
    <preference for="Magento\Cms\Api\Data\Block_Search_Results_Interface"
                type="Magento\Cms\Model\Block_Search_Results" />
    <preference for="Magento\Cms\Api\Get_Block_By_Identifier_Interface" type="Magento\Cms\Model\Get_Block_By_Identifier" />
    <preference for="Magento\Cms\Api\Get_Page_By_Identifier_Interface" type="Magento\Cms\Model\Get_Page_By_Identifier" />
    <preference for="Magento\Cms\Api\Data\Page_Interface" type="Magento\Cms\Model\Page" />
    <preference for="Magento\Cms\Api\Data\Block_Interface" type="Magento\Cms\Model\Block" />
    <preference for="Magento\Cms\Api\Block_Repository_Interface" type="Magento\Cms\Model\Block_Repository" />
    <preference for="Magento\Cms\Api\Page_Repository_Interface" type="Magento\Cms\Model\Page_Repository\Validation_Composite" />
    <preference for="Magento\Ui\Component\Wysiwyg\Config_Interface" type="Magento\Cms\Model\Wysiwyg\Config"/>
    <preference for="Magento\Cms\Api\Get_Utility_Page_Identifiers_Interface" type="Magento\Cms\Model\Get_Utility_Page_Identifiers" />
    <type name="Magento\Cms\Model\Wysiwyg\Config">
        <arguments>
            <argument name="windowSize" xsi:type="array">
                <item name="height" xsi:type="number">600</item>
                <item name="width" xsi:type="number">1000</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Cms\Model\Wysiwyg\Images\Storage">
        <arguments>
            <argument name="resizeParameters" xsi:type="array">
                <item name="height" xsi:type="number">75</item>
                <item name="width" xsi:type="number">100</item>
            </argument>
            <argument name="extensions" xsi:type="array">
                <item name="allowed" xsi:type="array">
                    <item name="jpg" xsi:type="string">image/jpg</item>
                    <item name="jpeg" xsi:type="string">image/jpeg</item>
                    <item name="png" xsi:type="string">image/png</item>
                    <item name="gif" xsi:type="string">image/gif</item>
                </item>
                <item name="image_allowed" xsi:type="array">
                    <item name="jpg" xsi:type="string">image/jpg</item>
                    <item name="jpeg" xsi:type="string">image/jpeg</item>
                    <item name="png" xsi:type="string">image/png</item>
                    <item name="gif" xsi:type="string">image/gif</item>
                </item>
                <item name="media_allowed" xsi:type="array">
                    <item name="flv" xsi:type="string">video/x-flv</item>
                    <item name="avi" xsi:type="string">video/x-msvideo</item>
                    <item name="mov" xsi:type="string">video/x-sgi-movie</item>
                    <item name="rm" xsi:type="string">application/vnd.rn-realmedia</item>
                    <item name="wmv" xsi:type="string">video/x-ms-wmv</item>
                </item>
            </argument>
            <argument name="dirs" xsi:type="array">
                <item name="exclude" xsi:type="array">
                    <item name="captcha" xsi:type="array">
                        <item name="regexp" xsi:type="boolean">true</item>
                        <item name="name" xsi:type="string">media[/\\]+captcha[/\\]*$</item>
                    </item>
                    <item name="catalog/product" xsi:type="array">
                        <item name="regexp" xsi:type="boolean">true</item>
                        <item name="name" xsi:type="string">media[/\\]+catalog[/\\]+product[/\\]*$</item>
                    </item>
                    <item name="customer" xsi:type="array">
                        <item name="regexp" xsi:type="boolean">true</item>
                        <item name="name" xsi:type="string">media[/\\]+customer[/\\]*$</item>
                    </item>
                    <item name="downloadable" xsi:type="array">
                        <item name="regexp" xsi:type="boolean">true</item>
                        <item name="name" xsi:type="string">media[/\\]+downloadable[/\\]*$</item>
                    </item>
                    <item name="import" xsi:type="array">
                        <item name="regexp" xsi:type="boolean">true</item>
                        <item name="name" xsi:type="string">media[/\\]+import[/\\]*$</item>
                    </item>
                    <item name="theme" xsi:type="array">
                        <item name="regexp" xsi:type="boolean">true</item>
                        <item name="name" xsi:type="string">media[/\\]+theme[/\\]*$</item>
                    </item>
                    <item name="theme_customization" xsi:type="array">
                        <item name="regexp" xsi:type="boolean">true</item>
                        <item name="name" xsi:type="string">media[/\\]+theme_customization[/\\]*$</item>
                    </item>
                    <item name="tmp" xsi:type="array">
                        <item name="regexp" xsi:type="boolean">true</item>
                        <item name="name" xsi:type="string">media[/\\]+tmp[/\\]*$</item>
                    </item>
                </item>
                <item name="include" xsi:type="array"/>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Framework\View\Element\Ui_Component\Data_Provider\Collection_Factory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="cms_page_listing_data_source" xsi:type="string">Magento\Cms\Model\Resource_Model\Page\Grid\Collection</item>
                <item name="cms_block_listing_data_source" xsi:type="string">Magento\Cms\Model\Resource_Model\Block\Grid\Collection</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Cms\Model\Resource_Model\Page\Grid\Collection">
        <arguments>
            <argument name="mainTable" xsi:type="string">cms_page</argument>
            <argument name="eventPrefix" xsi:type="string">cms_page_grid_collection</argument>
            <argument name="eventObject" xsi:type="string">page_grid_collection</argument>
            <argument name="resourceModel" xsi:type="string">Magento\Cms\Model\Resource_Model\Page</argument>
        </arguments>
    </type>
    <type name="Magento\Cms\Model\Resource_Model\Block\Grid\Collection">
        <arguments>
            <argument name="mainTable" xsi:type="string">cms_block</argument>
            <argument name="eventPrefix" xsi:type="string">cms_block_grid_collection</argument>
            <argument name="eventObject" xsi:type="string">block_grid_collection</argument>
            <argument name="resourceModel" xsi:type="string">Magento\Cms\Model\Resource_Model\Block</argument>
        </arguments>
    </type>
    <type name="Magento\Framework\Model\Entity\Repository_Factory">
        <arguments>
            <argument name="entities" xsi:type="array">
                <item name="Magento\Cms\Api\Data\Page_Interface" xsi:type="string">Magento\Cms\Api\Page_Repository_Interface</item>
                <item name="Magento\Cms\Api\Data\Block_Interface" xsi:type="string">Magento\Cms\Api\Block_Repository_Interface</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Framework\Entity_Manager\Metadata_Pool">
        <arguments>
            <argument name="metadata" xsi:type="array">
                <item name="Magento\Cms\Api\Data\Page_Interface" xsi:type="array">
                    <item name="entityTableName" xsi:type="string">cms_page</item>
                    <item name="identifierField" xsi:type="string">page_id</item>
                </item>
                <item name="Magento\Cms\Api\Data\Block_Interface" xsi:type="array">
                    <item name="entityTableName" xsi:type="string">cms_block</item>
                    <item name="identifierField" xsi:type="string">block_id</item>
                </item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Framework\Entity_Manager\Operation\Extension_Pool">
        <arguments>
            <argument name="extensionActions" xsi:type="array">
                <item name="Magento\Cms\Api\Data\Page_Interface" xsi:type="array">
                    <item name="read" xsi:type="array">
                        <item name="storeReader" xsi:type="string">Magento\Cms\Model\Resource_Model\Page\Relation\Store\Read_Handler</item>
                    </item>
                    <item name="create" xsi:type="array">
                        <item name="storeCreator" xsi:type="string">Magento\Cms\Model\Resource_Model\Page\Relation\Store\Save_Handler</item>
                    </item>
                    <item name="update" xsi:type="array">
                        <item name="storeUpdater" xsi:type="string">Magento\Cms\Model\Resource_Model\Page\Relation\Store\Save_Handler</item>
                    </item>
                </item>
                <item name="Magento\Cms\Api\Data\Block_Interface" xsi:type="array">
                    <item name="read" xsi:type="array">
                        <item name="storeReader" xsi:type="string">Magento\Cms\Model\Resource_Model\Block\Relation\Store\Read_Handler</item>
                    </item>
                    <item name="create" xsi:type="array">
                        <item name="storeCreator" xsi:type="string">Magento\Cms\Model\Resource_Model\Block\Relation\Store\Save_Handler</item>
                    </item>
                    <item name="update" xsi:type="array">
                        <item name="storeUpdater" xsi:type="string">Magento\Cms\Model\Resource_Model\Block\Relation\Store\Save_Handler</item>
                    </item>
                </item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Framework\Entity_Manager\Hydrator_Pool">
        <arguments>
            <argument name="hydrators" xsi:type="array">
                <item name="Magento\Cms\Api\Data\Page_Interface" xsi:type="string">Magento\Framework\Entity_Manager\Abstract_Model_Hydrator</item>
                <item name="Magento\Cms\Api\Data\Block_Interface" xsi:type="string">Magento\Framework\Entity_Manager\Abstract_Model_Hydrator</item>
            </argument>
        </arguments>
    </type>
    <virtualType name="Magento\Cms\Model\Api\Search_Criteria\Collection_Processor\Page_Filter_Processor" type="Magento\Framework\Api\Search_Criteria\Collection_Processor\Filter_Processor">
        <arguments>
            <argument name="customFilters" xsi:type="array">
                <item name="store_id" xsi:type="object">Magento\Cms\Model\Api\Search_Criteria\Collection_Processor\Filter_Processor\Page_Store_Filter</item>
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="Magento\Cms\Model\Api\Search_Criteria\Page_Collection_Processor" type="Magento\Framework\Api\Search_Criteria\Collection_Processor">
        <arguments>
            <argument name="processors" xsi:type="array">
                <item name="filters" xsi:type="object">Magento\Cms\Model\Api\Search_Criteria\Collection_Processor\Page_Filter_Processor</item>
                <item name="sorting" xsi:type="object">Magento\Framework\Api\Search_Criteria\Collection_Processor\Sorting_Processor</item>
                <item name="pagination" xsi:type="object">Magento\Framework\Api\Search_Criteria\Collection_Processor\Pagination_Processor</item>
            </argument>
        </arguments>
    </virtualType>
    <type name="Magento\Cms\Model\Page_Repository">
        <arguments>
            <argument name="collectionProcessor" xsi:type="object">Magento\Cms\Model\Api\Search_Criteria\Page_Collection_Processor</argument>
            <argument name="hydrator" xsi:type="object">Magento\Framework\Entity_Manager\Abstract_Model_Hydrator</argument>
        </arguments>
    </type>
    <virtualType name="Magento\Cms\Model\Api\Search_Criteria\Collection_Processor\Block_Filter_Processor" type="Magento\Framework\Api\Search_Criteria\Collection_Processor\Filter_Processor">
        <arguments>
            <argument name="customFilters" xsi:type="array">
                <item name="store_id" xsi:type="object">Magento\Cms\Model\Api\Search_Criteria\Collection_Processor\Filter_Processor\Block_Store_Filter</item>
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="Magento\Cms\Model\Api\Search_Criteria\Block_Collection_Processor" type="Magento\Framework\Api\Search_Criteria\Collection_Processor">
        <arguments>
            <argument name="processors" xsi:type="array">
                <item name="filters" xsi:type="object">Magento\Cms\Model\Api\Search_Criteria\Collection_Processor\Block_Filter_Processor</item>
                <item name="sorting" xsi:type="object">Magento\Framework\Api\Search_Criteria\Collection_Processor\Sorting_Processor</item>
                <item name="pagination" xsi:type="object">Magento\Framework\Api\Search_Criteria\Collection_Processor\Pagination_Processor</item>
            </argument>
        </arguments>
    </virtualType>
    <type name="Magento\Cms\Model\Block_Repository">
        <arguments>
            <argument name="collectionProcessor" xsi:type="object">Magento\Cms\Model\Api\Search_Criteria\Block_Collection_Processor</argument>
            <argument name="hydrator" xsi:type="object">Magento\Framework\Entity_Manager\Abstract_Model_Hydrator</argument>
        </arguments>
    </type>

    <type name="Magento\Cms\Ui\Component\Data_Provider">
        <arguments>
            <argument name="additionalFilterPool" xsi:type="array">
                <item name="fulltext" xsi:type="object">Magento\Cms\Ui\Component\Page\Fulltext_Filter</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Catalog\Model\Product">
        <plugin name="cms" type="Magento\Cms\Model\Plugin\Product" sortOrder="100"/>
    </type>
    <type name="Magento\Cms\Model\Page_Repository\Validation_Composite">
        <arguments>
            <argument name="repository" xsi:type="object">Magento\Cms\Model\Page_Repository</argument>
            <argument name="validators" xsi:type="array">
                <item name="layout_update" xsi:type="object">Magento\Cms\Model\Page_Repository\Validator\Layout_Update_Validator</item>
            </argument>
            <argument name="hydrator" xsi:type="object">Magento\Framework\Entity_Manager\Abstract_Model_Hydrator</argument>
        </arguments>
    </type>
    <preference for="Magento\Cms\Model\Page\Custom_Layout_Manager_Interface" type="Magento\Cms\Model\Page\Custom_Layout\Custom_Layout_Manager" />
    <type name="Magento\Cms\Model\Page\Custom_Layout\Custom_Layout_Manager">
        <arguments>
            <argument name="themeFactory" xsi:type="object">Magento\Framework\View\Design\Theme\Flyweight_Factory\Proxy</argument>
        </arguments>
    </type>
    <preference for="Magento\Cms\Model\Page\Custom_Layout_Repository_Interface" type="Magento\Cms\Model\Page\Custom_Layout\Custom_Layout_Repository" />
    <type name="Magento\Cms\Model\Wysiwyg\Validator">
        <arguments>
            <argument name="validator" xsi:type="object">DefaultWYSIWYGValidator</argument>
        </arguments>
    </type>
    <preference for="Magento\Framework\Validator\HTML\WYSIWYG_Validator_Interface" type="Magento\Cms\Model\Wysiwyg\Validator" />
    <type name="Magento\Framework\Console\Command_List_Interface">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="cms_wysiwyg_restrict" xsi:type="object">Magento\Cms\Command\Wysiwyg_Restrict_Command</item>
            </argument>
        </arguments>
    </type>
    <virtualType name="DefaultWYSIWYGValidator" type="Magento\Framework\Validator\HTML\Configurable_WYSIWYG_Validator">
        <arguments>
            <argument name="allowedTags" xsi:type="array">
                <item name="div" xsi:type="string">div</item>
                <item name="a" xsi:type="string">a</item>
                <item name="p" xsi:type="string">p</item>
                <item name="span" xsi:type="string">span</item>
                <item name="em" xsi:type="string">em</item>
                <item name="strong" xsi:type="string">strong</item>
                <item name="ul" xsi:type="string">ul</item>
                <item name="li" xsi:type="string">li</item>
                <item name="ol" xsi:type="string">ol</item>
                <item name="h5" xsi:type="string">h5</item>
                <item name="h4" xsi:type="string">h4</item>
                <item name="h3" xsi:type="string">h3</item>
                <item name="h2" xsi:type="string">h2</item>
                <item name="h1" xsi:type="string">h1</item>
                <item name="table" xsi:type="string">table</item>
                <item name="tbody" xsi:type="string">tbody</item>
                <item name="tr" xsi:type="string">tr</item>
                <item name="td" xsi:type="string">td</item>
                <item name="th" xsi:type="string">th</item>
                <item name="tfoot" xsi:type="string">tfoot</item>
                <item name="img" xsi:type="string">img</item>
                <item name="hr" xsi:type="string">hr</item>
                <item name="figure" xsi:type="string">figure</item>
                <item name="button" xsi:type="string">button</item>
                <item name="i" xsi:type="string">i</item>
                <item name="u" xsi:type="string">u</item>
                <item name="br" xsi:type="string">br</item>
                <item name="b" xsi:type="string">b</item>
            </argument>
            <argument name="allowedAttributes" xsi:type="array">
                <item name="class" xsi:type="string">class</item>
                <item name="width" xsi:type="string">width</item>
                <item name="height" xsi:type="string">height</item>
                <item name="style" xsi:type="string">style</item>
                <item name="alt" xsi:type="string">alt</item>
                <item name="title" xsi:type="string">title</item>
                <item name="border" xsi:type="string">border</item>
                <item name="id" xsi:type="string">id</item>
            </argument>
            <argument name="attributesAllowedByTags" xsi:type="array">
                <item name="a" xsi:type="array">
                    <item name="href" xsi:type="string">href</item>
                </item>
                <item name="img" xsi:type="array">
                    <item name="src" xsi:type="string">src</item>
                </item>
                <item name="button" xsi:type="array">
                    <item name="type" xsi:type="string">type</item>
                </item>
            </argument>
            <argument name="attributeValidators" xsi:type="array">
                <item name="style" xsi:type="object">Magento\Framework\Validator\HTML\Style_Attribute_Validator</item>
            </argument>
        </arguments>
    </virtualType>
    <type name="Magento\Theme\Model\Layout_Cache_Tag_Resolver_Factory">
        <arguments>
            <argument name="cacheTagsResolvers" xsi:type="array">
                <item name="Magento\Cms\Model\Page" xsi:type="object">
                    Magento\Cms\Model\Page\Layout_Cache_Tag_Resolver
                </item>
            </argument>
        </arguments>
    </type>
</config>
