<?xml version="1.0"?>
<!--
/**
 * Copyright 2013 Adobe
 * All Rights Reserved.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="magento_cms_api_data_blockinterface_save_before">
        <observer name="legacy_model_cms_block_before_save" instance="Magento\Framework\Entity_Manager\Observer\Before_Entity_Save" />
    </event>
    <event name="magento_cms_api_data_blockinterface_save_after">
        <observer name="legacy_model_cms_block_after_save" instance="Magento\Framework\Entity_Manager\Observer\After_Entity_Save" />
    </event>
    <event name="magento_cms_api_data_blockinterface_delete_before">
        <observer name="legacy_model_cms_block_before_delete" instance="Magento\Framework\Entity_Manager\Observer\Before_Entity_Delete" />
    </event>
    <event name="magento_cms_api_data_blockinterface_delete_after">
        <observer name="legacy_model_cms_block_after_delete" instance="Magento\Framework\Entity_Manager\Observer\After_Entity_Delete" />
    </event>
    <event name="magento_cms_api_data_blockinterface_load_after">
        <observer name="legacy_model_cms_block_after_load" instance="Magento\Framework\Entity_Manager\Observer\After_Entity_Load" />
    </event>
    <event name="magento_cms_api_data_pageinterface_save_before">
        <observer name="legacy_model_cms_page_before_save" instance="Magento\Framework\Entity_Manager\Observer\Before_Entity_Save" />
    </event>
    <event name="magento_cms_api_data_pageinterface_save_after">
        <observer name="legacy_model_cms_page_after_save" instance="Magento\Framework\Entity_Manager\Observer\After_Entity_Save" />
    </event>
    <event name="magento_cms_api_data_pageinterface_delete_before">
        <observer name="legacy_model_cms_page_before_delete" instance="Magento\Framework\Entity_Manager\Observer\Before_Entity_Delete" />
    </event>
    <event name="magento_cms_api_data_pageinterface_delete_after">
        <observer name="legacy_model_cms_page_after_delete" instance="Magento\Framework\Entity_Manager\Observer\After_Entity_Delete" />
    </event>
    <event name="magento_cms_api_data_pageinterface_load_after">
        <observer name="legacy_model_cms_page_after_load" instance="Magento\Framework\Entity_Manager\Observer\After_Entity_Load" />
    </event>
    <event name="cms_page_prepare_save">
        <observer name="validate_cms_page" instance="Magento\Cms\Observer\Page_Validator_Observer" />
    </event>
</config>
