<?xml version="1.0"?>
<!--
/**
 * Copyright 2013 Adobe
 * All Rights Reserved.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <virtualType name="Magento\Checkout\Model\Session\Storage" type="Magento\Framework\Session\Storage">
        <arguments>
            <argument name="namespace" xsi:type="string">checkout</argument>
        </arguments>
    </virtualType>
    <type name="Magento\Checkout\Model\Session">
        <arguments>
            <argument name="storage" xsi:type="object">Magento\Checkout\Model\Session\Storage</argument>
        </arguments>
    </type>
    <preference for="Magento\Checkout\Api\Guest_Shipping_Information_Management_Interface" type="Magento\Checkout\Model\Guest_Shipping_Information_Management" />
    <preference for="Magento\Checkout\Api\Shipping_Information_Management_Interface" type="Magento\Checkout\Model\Shipping_Information_Management" />
    <preference for="Magento\Checkout\Api\Data\Shipping_Information_Interface" type="Magento\Checkout\Model\Shipping_Information" />
    <preference for="Magento\Checkout\Api\Data\Payment_Details_Interface" type="Magento\Checkout\Model\Payment_Details" />
    <preference for="Magento\Checkout\Api\Guest_Payment_Information_Management_Interface" type="Magento\Checkout\Model\Guest_Payment_Information_Management" />
    <preference for="Magento\Checkout\Api\Payment_Information_Management_Interface" type="Magento\Checkout\Model\Payment_Information_Management" />
    <preference for="Magento\Checkout\Api\Data\Totals_Information_Interface" type="Magento\Checkout\Model\Totals_Information" />
    <preference for="Magento\Checkout\Api\Guest_Totals_Information_Management_Interface" type="Magento\Checkout\Model\Guest_Totals_Information_Management" />
    <preference for="Magento\Checkout\Api\Totals_Information_Management_Interface" type="Magento\Checkout\Model\Totals_Information_Management" />
    <preference for="Magento\Checkout\Api\Agreements_Validator_Interface" type="Magento\Checkout\Model\Agreements_Validator" />
    <preference for="Magento\Checkout\Model\Cart\Request_Info_Filter_Interface"
                type="Magento\Checkout\Model\Cart\Request_Info_Filter_Composite"/>
    <preference for="Magento\Checkout\Model\Address_Comparator_Interface" type="Magento\Checkout\Model\Address_Comparator" />
    <type name="Magento\Checkout\Model\Cart\Request_Info_Filter">
        <arguments>
            <argument name="filterList" xsi:type="array">
                <item name="form_key" xsi:type="string">form_key</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Checkout\Model\Cart\Request_Info_Filter_Composite">
        <arguments>
            <argument name="filters" xsi:type="array">
                <item name="filter" xsi:type="object">Magento\Checkout\Model\Cart\Request_Info_Filter</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Config\Model\Config\Type_Pool">
        <arguments>
            <argument name="sensitive" xsi:type="array">
                <item name="checkout/payment_failed/copy_to" xsi:type="string">1</item>
            </argument>
        </arguments>
    </type>
    <preference for="Magento\Checkout\Api\Payment_Processing_Rate_Limiter_Interface"
                type="Magento\Checkout\Model\Captcha_Payment_Processing_Rate_Limiter" />
    <preference for="Magento\Checkout\Api\Payment_Saving_Rate_Limiter_Interface"
                type="Magento\Checkout\Model\Captcha_Payment_Saving_Rate_Limiter" />
    <type name="Magento\Framework\Webapi\Backpressure\Composite_Request_Type_Extractor">
        <arguments>
            <argument name="extractors" xsi:type="array">
                <item name="checkout" xsi:type="object">
                    Magento\Checkout\Model\Backpressure\Webapi_Request_Type_Extractor
                </item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Customer\Model\Resource_Model\Customer">
        <plugin name="recollect_quote_on_customer_group_change" type="Magento\Checkout\Model\Plugin\Recollect_Quote_On_Customer_Group_Change"/>
    </type>
    <type name="Magento\Checkout\Model\Add_Product_To_Cart">
        <arguments>
            <argument name="quoteMutex" xsi:type="object">Magento\Quote\Model\Resource_Model\Load_Quote_By_Id_Mutex</argument>
        </arguments>
    </type>
</config>
