<?xml version="1.0"?>
<!--
/**
 * Copyright 2018 Adobe
 * All Rights Reserved.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Store_Graph_Ql\Model\Resolver\Store\Store_Config_Data_Provider">
        <arguments>
            <argument name="extendedConfigData" xsi:type="array">
                <item name="front" xsi:type="string">web/default/front</item>
                <item name="cms_home_page" xsi:type="string">web/default/cms_home_page</item>
                <item name="no_route" xsi:type="string">web/default/no_route</item>
                <item name="cms_no_route" xsi:type="string">web/default/cms_no_route</item>
                <item name="cms_no_cookies" xsi:type="string">web/default/cms_no_cookies</item>
                <item name="show_cms_breadcrumbs" xsi:type="string">web/default/show_cms_breadcrumbs</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Graph_Ql_Resolver_Cache\Model\Resolver\Result\Resolver_Identity_Class_Provider">
        <arguments>
            <argument name="cacheableResolverClassNameIdentityMap" xsi:type="array">
                <item name="Magento\Cms_Graph_Ql\Model\Resolver\Page" xsi:type="string">
                    Magento\Cms_Graph_Ql\Model\Resolver\Page\Resolver_Cache_Identity
                </item>
                <item name="Magento\Cms_Graph_Ql\Model\Resolver\Blocks" xsi:type="string">
                    Magento\Cms_Graph_Ql\Model\Resolver\Block\Resolver_Cache_Identity
                </item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Graph_Ql_Resolver_Cache\Model\Resolver\Result\Cache_Key\Calculator\Provider">
        <arguments>
            <argument name="factorProviders" xsi:type="array">
                <item name="Magento\Cms_Graph_Ql\Model\Resolver\Page" xsi:type="array">
                    <item name="currency" xsi:type="string">Magento\Store_Graph_Ql\Model\Resolver\Cache_Key\Factor_Provider\Currency</item>
                    <item name="store" xsi:type="string">Magento\Store_Graph_Ql\Model\Resolver\Cache_Key\Factor_Provider\Store</item>
                    <item name="customergroup" xsi:type="string">Magento\Customer_Graph_Ql\Model\Resolver\Cache_Key\Factor_Provider\Customer_Group</item>
                    <item name="customertaxrate" xsi:type="string">Magento\Customer_Graph_Ql\Model\Resolver\Cache_Key\Factor_Provider\Customer_Tax_Rate</item>
                    <item name="isloggedin" xsi:type="string">Magento\Customer_Graph_Ql\Model\Resolver\Cache_Key\Factor_Provider\Is_Logged_In</item>
                </item>
                <item name="Magento\Cms_Graph_Ql\Model\Resolver\Blocks" xsi:type="array">
                    <item name="currency" xsi:type="string">Magento\Store_Graph_Ql\Model\Resolver\Cache_Key\Factor_Provider\Currency</item>
                    <item name="store" xsi:type="string">Magento\Store_Graph_Ql\Model\Resolver\Cache_Key\Factor_Provider\Store</item>
                    <item name="customergroup" xsi:type="string">Magento\Customer_Graph_Ql\Model\Resolver\Cache_Key\Factor_Provider\Customer_Group</item>
                    <item name="customertaxrate" xsi:type="string">Magento\Customer_Graph_Ql\Model\Resolver\Cache_Key\Factor_Provider\Customer_Tax_Rate</item>
                    <item name="isloggedin" xsi:type="string">Magento\Customer_Graph_Ql\Model\Resolver\Cache_Key\Factor_Provider\Is_Logged_In</item>
                </item>
            </argument>
        </arguments>
    </type>
</config>
