<?xml version="1.0"?>
<!--
/**
 * Copyright 2013 Adobe
 * All Rights Reserved.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="controller_action_predispatch">
        <observer name="customer_visitor" instance="Magento\Customer\Observer\Visitor\Init_By_Request_Observer" />
    </event>
    <event name="controller_action_postdispatch">
        <observer name="customer_visitor" instance="Magento\Customer\Observer\Visitor\Save_By_Request_Observer" />
    </event>
    <event name="customer_data_object_login">
        <observer name="customer_visitor" instance="Magento\Customer\Observer\Visitor\Bind_Customer_Login_Observer" />
    </event>
    <event name="customer_logout">
        <observer name="customer_visitor" instance="Magento\Customer\Observer\Visitor\Bind_Customer_Logout_Observer" />
        <observer name="customer_log_logout" instance="Magento\Customer\Observer\Log_Last_Logout_At_Observer" />
    </event>
    <event name="checkout_quote_destroy">
        <observer name="customer_visitor" instance="Magento\Customer\Observer\Visitor\Bind_Quote_Destroy_Observer" />
    </event>
    <event name="customer_login">
        <observer name="customer_log_login" instance="Magento\Customer\Observer\Log_Last_Login_At_Observer" />
    </event>
    <event name="customer_customer_authenticated">
        <observer name="customer_password" instance="Magento\Customer\Observer\Upgrade_Customer_Password_Observer" />
        <observer name="customer_unlock" instance="Magento\Customer\Observer\Customer_Login_Success_Observer" />
    </event>
</config>
