<?xml version="1.0"?>
<!--
/**
 * Copyright 2015 Adobe
 * All Rights Reserved.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Magento\Test_Module5\Service\V1\All_Soap_And_Rest_Interface" type="Magento\Test_Module5\Service\V1\All_Soap_And_Rest" />
    <preference for="Magento\Test_Module5\Service\V2\All_Soap_And_Rest_Interface" type="Magento\Test_Module5\Service\V2\All_Soap_And_Rest" />
    <preference for="Magento\Test_Module5\Service\V1\Override_Service_Interface" type="Magento\Test_Module5\Service\V1\Override_Service" />
</config>
