<?xml version="1.0"?>
<!--
/**
 * Copyright 2021 Adobe
 * All Rights Reserved.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Magento\Integration\Api\User_Token_Issuer_Interface" type="Magento\Jwt_User_Token\Model\Issuer" />
    <preference for="Magento\Integration\Api\User_Token_Reader_Interface" type="Magento\Integration\Model\Composite_Token_Reader" />
    <preference for="Magento\Integration\Api\User_Token_Revoker_Interface" type="Magento\Jwt_User_Token\Model\Revoker" />
    <preference for="Magento\Jwt_User_Token\Model\Jwt_Settings_Provider_Interface" type="Magento\Jwt_User_Token\Model\Configurable_Jwt_Settings_Provider" />
    <preference for="Magento\Jwt_User_Token\Api\Config_Reader_Interface" type="Magento\Jwt_User_Token\Model\Config\Config_Reader" />
    <type name="Magento\Jwt_User_Token\Model\Resource_Model\Fast_Storage_Revoked_Wrapper">
        <arguments>
            <argument name="slowRepo" xsi:type="object">Magento\Jwt_User_Token\Model\Resource_Model\Revoked_Repository</argument>
        </arguments>
    </type>
    <preference for="Magento\Jwt_User_Token\Api\Revoked_Repository_Interface" type="Magento\Jwt_User_Token\Model\Resource_Model\Fast_Storage_Revoked_Wrapper" />
    <type name="Magento\Integration\Model\Composite_User_Token_Validator">
        <arguments>
            <argument name="validators" xsi:type="array">
                <item name="jwt_revoked" xsi:type="object">Magento\Jwt_User_Token\Model\Revoked_Validator</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Integration\Model\Composite_Token_Reader">
        <arguments>
            <argument name="readers" xsi:type="array">
                <item name="10" xsi:type="object">Magento\Jwt_User_Token\Model\Reader</item>
            </argument>
        </arguments>
    </type>
</config>
