<?xml version="1.0"?>
<!--
/**
 * Copyright 2013 Adobe
 * All Rights Reserved.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Authorization\Model\Composite_User_Context">
        <arguments>
            <argument name="userContexts" xsi:type="array">
                <item name="oauthUserContext" xsi:type="array">
                    <item name="type" xsi:type="object">Magento\Webapi\Model\Authorization\Oauth_User_Context</item>
                    <item name="sortOrder" xsi:type="string">5</item>
                </item>
                <item name="tokenUserContext" xsi:type="array">
                    <item name="type" xsi:type="object">Magento\Webapi\Model\Authorization\Token_User_Context</item>
                    <item name="sortOrder" xsi:type="string">10</item>
                </item>
                <item name="soapUserContext" xsi:type="array">
                    <item name="type" xsi:type="object">Magento\Webapi\Model\Authorization\Soap_User_Context</item>
                    <item name="sortOrder" xsi:type="string">15</item>
                </item>
                <item name="guestUserContext" xsi:type="array">
                    <item name="type" xsi:type="object">Magento\Webapi\Model\Authorization\Guest_User_Context</item>
                    <item name="sortOrder" xsi:type="string">100</item>
                </item>
            </argument>
        </arguments>
    </type>
    <preference for="Magento\Framework\App\Front_Controller_Interface" type="Magento\Webapi\Controller\Soap" />
    <preference for="Magento\Framework\Model\Action_Validator\Remove_Action" type="Magento\Framework\Model\Action_Validator\Remove_Action\Allowed" />
    <type name="Magento\Webapi\Controller\Rest\Router\Route" shared="false" />
    <type name="Magento\Webapi\Controller\Soap">
        <arguments>
            <argument name="soapServer" xsi:type="object">Magento\Webapi\Model\Soap\Server\Proxy</argument>
            <argument name="errorProcessor" xsi:type="object">Magento\Framework\Webapi\Error_Processor\Proxy</argument>
        </arguments>
    </type>
    <preference for="Magento\Framework\Authorization\Role_Locator_Interface" type="Magento\Webapi\Model\Webapi_Role_Locator" />
    <type name="Magento\Framework\Authorization">
        <plugin name="guestAuthorization" type="Magento\Webapi\Model\Plugin\Guest_Authorization" />
    </type>

    <!-- Configuration to check that the permissions are checked on fields -->
    <virtualType name="Magento\Framework\Reflection\Extension_Attributes_Processor_Permission_Checked" type="Magento\Framework\Reflection\Extension_Attributes_Processor">
        <arguments>
            <argument name="isPermissionChecked" xsi:type="boolean">true</argument>
            <argument name="dataObjectProcessor" xsi:type="object">Magento\Framework\Reflection\Data_Object_Processor\Proxy</argument>
        </arguments>
    </virtualType>
    <virtualType name="Magento\Framework\Reflection\Data_Object_Processor_Permission_Checked" type="Magento\Framework\Reflection\Data_Object_Processor">
        <arguments>
            <argument name="extensionAttributesProcessor" xsi:type="object">Magento\Framework\Reflection\Extension_Attributes_Processor_Permission_Checked</argument>
            <argument name="customAttributesProcessor" xsi:type="object">Magento\Framework\Reflection\Custom_Attributes_Processor\Proxy</argument>
        </arguments>
    </virtualType>

    <type name="Magento\Webapi\Controller\Soap\Request\Handler">
        <arguments>
            <argument name="dataObjectProcessor" xsi:type="object">Magento\Framework\Reflection\Data_Object_Processor_Permission_Checked</argument>
        </arguments>
    </type>
    <!-- End of configuration to check that permissions are checked on fields -->
    <type name="Magento\Store\Model\Validation\Store_Code_Validator">
        <plugin name="check_if_parsed_store_code_is_valid" type="Magento\Webapi\Model\Plugin\Store\Model\Validation\Store_Code_Validator"/>
    </type>
</config>
