<?xml version="1.0"?>
<!--
/**
 * Copyright 2015 Adobe
 * All Rights Reserved.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Checkout\Model\Composite_Config_Provider">
        <arguments>
            <argument name="configProviders" xsi:type="array">
                <item name="vault_config_provider" xsi:type="object">Magento\Vault\Model\Ui\Vault_Config_Provider</item>
                <item name="vault_cards_config_provider" xsi:type="object">Magento\Vault\Model\Ui\Tokens_Config_Provider</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Vault\Model\Ui\Vault_Config_Provider">
        <arguments>
            <argument name="session" xsi:type="object">Magento\Customer\Model\Session</argument>
        </arguments>
    </type>
    <type name="Magento\Checkout\Block\Checkout\Layout_Processor">
        <plugin name="ProcessPaymentVaultConfiguration" type="Magento\Vault\Plugin\Payment_Vault_Configuration_Process"/>
        <plugin name="ProcessPaymentConfiguration" disabled="true"/>
    </type>
    <type name="Magento\Framework\Url\Security_Info">
        <arguments>
            <argument name="secureUrlList" xsi:type="array">
                <item name="vault" xsi:type="string">/vault/</item>
            </argument>
        </arguments>
    </type>
</config>
