<?xml version="1.0"?>
<!--
/**
 * Copyright 2014 Adobe
 * All Rights Reserved.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Checkout\Api\Guest_Payment_Information_Management_Interface">
        <plugin name="verify_is_guest_checkout_enabled" type="Magento\Checkout\Plugin\Api\Verify_Is_Guest_Checkout_Enabled_Before_Save_Payment_Information"/>
    </type>
    <type name="Magento\Checkout\Api\Guest_Shipping_Information_Management_Interface">
        <plugin name="verify_is_guest_checkout_enabled" type="Magento\Checkout\Plugin\Api\Verify_Is_Guest_Checkout_Enabled_Before_Save_Shipping_Information"/>
    </type>
    <type name="Magento\Quote\Api\Guest_Cart_Management_Interface">
        <plugin name="verify_is_guest_checkout_enabled" type="Magento\Checkout\Plugin\Api\Verify_Is_Guest_Checkout_Enabled_Before_Place_Order"/>
    </type>
    <type name="Magento\Quote\Api\Guest_Payment_Method_Management_Interface">
        <plugin name="verify_is_guest_checkout_enabled" type="Magento\Checkout\Plugin\Api\Verify_Is_Guest_Checkout_Enabled_Before_Set_Payment_Method"/>
    </type>
    <type name="Magento\Quote\Api\Guest_Billing_Address_Management_Interface">
        <plugin name="verify_is_guest_checkout_enabled" type="Magento\Checkout\Plugin\Api\Verify_Is_Guest_Checkout_Enabled_Before_Assign_Billing_Address"/>
    </type>
</config>
