<?xml version="1.0"?>
<!--
/**
 * Copyright 2013 Adobe
 * All Rights Reserved.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Magento\Captcha\Api\Captcha_Config_Post_Processor_Interface" type="Magento\Captcha\Model\Filter\Captcha_Config_Post_Processor_Composite"/>
    <type name="Magento\Captcha\Model\Default_Model">
        <arguments>
            <argument name="session" xsi:type="object">Magento\Customer\Model\Session</argument>
        </arguments>
    </type>
    <type name="Magento\Captcha\Observer\Check_User_Create_Observer">
        <arguments>
            <argument name="session" xsi:type="object">Magento\Customer\Model\Session</argument>
        </arguments>
    </type>
    <type name="Magento\Captcha\Observer\Check_User_Forgot_Password_Backend_Observer">
        <arguments>
            <argument name="session" xsi:type="object">Magento\Customer\Model\Session</argument>
        </arguments>
    </type>
    <type name="Magento\Captcha\Observer\Check_User_Login_Observer">
        <arguments>
            <argument name="session" xsi:type="object">Magento\Customer\Model\Session</argument>
        </arguments>
    </type>
    <type name="Magento\Customer\Controller\Ajax\Login">
        <plugin name="captcha_validation" type="Magento\Captcha\Model\Customer\Plugin\Ajax_Login" sortOrder="50" />
    </type>
    <type name="Magento\Captcha\Model\Customer\Plugin\Ajax_Login">
        <arguments>
            <argument name="formIds" xsi:type="array">
                <item name="user_login" xsi:type="string">user_login</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Checkout\Block\Cart\Sidebar">
        <plugin name="login_captcha" type="Magento\Captcha\Model\Cart\Config_Plugin" sortOrder="50" />
    </type>
    <type name="Magento\Captcha\Model\Filter\Captcha_Config_Post_Processor_Composite">
        <arguments>
            <argument name="processors" xsi:type="array">
                <item name="processor" xsi:type="object">Magento\Captcha\Model\Filter\Quote_Data_Config_Filter</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Captcha\Model\Filter\Quote_Data_Config_Filter">
        <arguments>
            <argument name="filterList" xsi:type="array">
                <item name="remote_ip" xsi:type="string">remote_ip</item>
                <item name="x_forwarded_for" xsi:type="string">x_forwarded_for</item>
            </argument>
        </arguments>
    </type>
</config>
