<?xml version="1.0"?>
<!--
/**
 * Copyright 2013 Adobe
 * All Rights Reserved.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="controller_action_predispatch_customer_account_loginPost">
        <observer name="captcha" instance="Magento\Captcha\Observer\Check_User_Login_Observer" />
    </event>
    <event name="controller_action_predispatch_customer_account_createpost">
        <observer name="captcha" instance="Magento\Captcha\Observer\Check_User_Create_Observer" />
    </event>
    <event name="controller_action_predispatch_customer_account_forgotpasswordpost">
        <observer name="captcha" instance="Magento\Captcha\Observer\Check_Forgotpassword_Observer"/>
    </event>
    <event name="admin_user_authenticate_before">
        <observer name="captcha" instance="Magento\Captcha\Observer\Check_User_Login_Backend_Observer" />
    </event>
    <event name="customer_customer_authenticated">
        <observer name="captcha_reset_attempt" instance="Magento\Captcha\Observer\Reset_Attempt_For_Frontend_Observer" />
    </event>
    <event name="customer_account_edited">
        <observer name="captcha_reset_attempt" instance="Magento\Captcha\Observer\Reset_Attempt_For_Frontend_Account_Edit_Observer" />
    </event>
    <event name="backend_auth_user_login_success">
        <observer name="captcha_reset_attempt" instance="Magento\Captcha\Observer\Reset_Attempt_For_Backend_Observer" />
    </event>
</config>
