<?xml version="1.0"?>
<!--
/**
 * Copyright 2018 Adobe
 * All Rights Reserved.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Magento\Url_Rewrite_Graph_Ql\Model\Resolver\Url_Rewrite\Custom_Url_Locator_Interface" type="Magento\Url_Rewrite_Graph_Ql\Model\Resolver\Url_Rewrite\Custom_Url_Locator"/>
</config>
