<?xml version="1.0"?>
<!--
/**
 * Copyright 2013 Adobe
 * All Rights Reserved.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\Module\Setup\Migration">
        <arguments>
            <argument name="compositeModules" xsi:type="array">
                <item name="giftmessage" xsi:type="string">Magento_GiftMessage</item>
            </argument>
        </arguments>
    </type>
    <preference for="Magento\Gift_Message\Api\Cart_Repository_Interface" type="Magento\Gift_Message\Model\Cart_Repository"/>
    <preference for="Magento\Gift_Message\Api\Item_Repository_Interface" type="Magento\Gift_Message\Model\Item_Repository"/>
    <preference for="Magento\Gift_Message\Api\Guest_Cart_Repository_Interface" type="Magento\Gift_Message\Model\Guest_Cart_Repository"/>
    <preference for="Magento\Gift_Message\Api\Guest_Item_Repository_Interface" type="Magento\Gift_Message\Model\Guest_Item_Repository"/>
    <preference for="Magento\Gift_Message\Api\Order_Repository_Interface" type="Magento\Gift_Message\Model\Order_Repository"/>
    <preference for="Magento\Gift_Message\Api\Order_Item_Repository_Interface" type="Magento\Gift_Message\Model\Order_Item_Repository"/>
    <preference for="Magento\Gift_Message\Api\Data\Message_Interface" type="Magento\Gift_Message\Model\Message"/>
    <type name="Magento\Gift_Message\Model\Plugin\Quote_Item" shared="false" />
    <type name="Magento\Quote\Model\Quote\Item\To_Order_Item">
        <plugin name="gift_message_quote_item_conversion" type="Magento\Gift_Message\Model\Plugin\Quote_Item"/>
    </type>
    <type name="Magento\Sales\Api\Order_Repository_Interface">
        <plugin name="save_gift_message" type="Magento\Gift_Message\Model\Plugin\Order_Save"/>
        <plugin name="get_gift_message" type="Magento\Gift_Message\Model\Plugin\Order_Get"/>
    </type>
    <type name="Magento\Eav\Model\Config">
        <arguments>
            <argument name="attributesForPreload" xsi:type="array">
                <item name="catalog_product" xsi:type="array">
                    <item name="gift_message_available" xsi:type="string">catalog_product</item>
                </item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Sales\Api\Order_Item_Repository_Interface">
        <plugin name="get_gift_message" type="Magento\Gift_Message\Model\Plugin\Order_Item_Get"/>
    </type>
</config>
