<?xml version="1.0"?>
<!--
/**
 * Copyright 2015 Adobe
 * All Rights Reserved.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\Console\Command_List_Interface">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="sampleDataDeployCommand" xsi:type="object">Magento\Sample_Data\Console\Command\Sample_Data_Deploy_Command</item>
                <item name="sampleDataResetCommand" xsi:type="object">Magento\Sample_Data\Console\Command\Sample_Data_Reset_Command</item>
                <item name="sampleDataRemoveCommand" xsi:type="object">Magento\Sample_Data\Console\Command\Sample_Data_Remove_Command</item>
            </argument>
        </arguments>
    </type>
</config>
