<?xml version="1.0"?>
<!--
/**
 * Copyright 2013 Adobe
 * All Rights Reserved.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Magento\Eav\Model\Entity\Setup\Property_Mapper_Interface" type="Magento\Eav\Model\Entity\Setup\Property_Mapper\Composite" />
    <preference for="Magento\Eav\Model\Entity\Attribute_Loader_Interface" type="Magento\Eav\Model\Entity\Attribute_Loader" />
    <preference for="Magento\Eav\Model\Entity\Attribute\Unique_Validation_Interface" type="Magento\Eav\Model\Entity\Attribute\Unique_Validator" />
    <preference for="Magento\Eav\Model\Reserved_Attribute_Checker_Interface" type="Magento\Eav\Model\Reserved_Attribute_Checker" />
    <preference for="Magento\Eav\Api\Data\Attribute_Interface" type="Magento\Eav\Model\Entity\Attribute" />
    <preference for="Magento\Eav\Api\Attribute_Repository_Interface" type="Magento\Eav\Model\Attribute_Repository" />
    <preference for="Magento\Eav\Api\Data\Attribute_Group_Interface" type="Magento\Eav\Model\Entity\Attribute\Group" />
    <preference for="Magento\Eav\Api\Attribute_Group_Repository_Interface" type="Magento\Eav\Model\Attribute\Group_Repository" />
    <preference for="Magento\Eav\Api\Attribute_Set_Repository_Interface" type="Magento\Eav\Model\Attribute_Set_Repository" />
    <preference for="Magento\Eav\Api\Attribute_Set_Management_Interface" type="Magento\Eav\Model\Attribute_Set_Management" />
    <preference for="Magento\Eav\Api\Data\Attribute_Set_Interface" type="Magento\Eav\Model\Entity\Attribute\Set" />
    <preference for="Magento\Eav\Api\Attribute_Management_Interface" type="Magento\Eav\Model\Attribute_Management" />
    <preference for="Magento\Eav\Api\Data\Attribute_Frontend_Label_Interface" type="Magento\Eav\Model\Entity\Attribute\Frontend_Label" />
    <preference for="Magento\Eav\Api\Data\Attribute_Option_Interface" type="Magento\Eav\Model\Entity\Attribute\Option" />
    <preference for="Magento\Eav\Api\Attribute_Option_Management_Interface" type="Magento\Eav\Model\Entity\Attribute\Option_Management" />
    <preference for="Magento\Eav\Api\Attribute_Option_Update_Interface" type="Magento\Eav\Model\Entity\Attribute\Option_Management" />
    <preference for="Magento\Eav\Api\Data\Attribute_Option_Label_Interface" type="Magento\Eav\Model\Entity\Attribute\Option_Label" />
    <preference for="Magento\Eav\Api\Data\Attribute_Validation_Rule_Interface" type="Magento\Eav\Model\Entity\Attribute\Validation_Rule" />
    <preference for="Magento\Eav\Api\Data\Attribute_Search_Results_Interface" type="Magento\Eav\Model\Attribute_Search_Results" />
    <preference for="Magento\Eav\Api\Data\Attribute_Set_Search_Results_Interface" type="Magento\Eav\Model\Attribute_Set_Search_Results" />
    <preference for="Magento\Eav\Api\Data\Attribute_Group_Search_Results_Interface" type="Magento\Eav\Model\Attribute_Group_Search_Results" />
    <preference for="Magento\Framework\Webapi\Custom_Attribute_Type_Locator_Interface" type="Magento\Eav\Model\Type_Locator" />

    <type name="Magento\Eav\Model\Entity\Attribute\Config">
        <arguments>
            <argument name="reader" xsi:type="object">Magento\Eav\Model\Entity\Attribute\Config\Reader\Proxy</argument>
        </arguments>
    </type>
    <type name="Magento\Eav\Model\Resource_Model\Helper">
        <arguments>
            <argument name="modulePrefix" xsi:type="string">eav</argument>
        </arguments>
    </type>
    <type name="Magento\Eav\Model\Entity\Setup\Property_Mapper\Composite">
        <arguments>
            <argument name="propertyMappers" xsi:type="array">
                <item name="default" xsi:type="string">Magento\Eav\Model\Entity\Setup\Property_Mapper</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Eav\Model\Resource_Model\Entity\Attribute">
        <plugin name="storeLabelCaching" type="Magento\Eav\Plugin\Model\Resource_Model\Entity\Attribute" />
    </type>
    <type name="Magento\Framework\Webapi\Service_Type_To_Entity_Type_Map">
        <arguments>
            <argument name="serviceTypeToEntityTypeMap" xsi:type="array" />
        </arguments>
    </type>
    <type name="Magento\Eav\Model\Type_Locator">
        <arguments>
            <argument name="typeLocators" xsi:type="array">
                <item name="simpleType" sortOrder="50" xsi:type="object">Magento\Eav\Model\Type_Locator\Simple_Type</item>
                <item name="complexType" sortOrder="10" xsi:type="object">Magento\Eav\Model\Type_Locator\Complex_Type</item>
                <item name="serviceClassType" sortOrder="0" xsi:type="object">Magento\Eav\Model\Type_Locator\Service_Class_Locator</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Eav\Model\Type_Locator\Complex_Type">
        <arguments>
            <argument name="backendModelToAttributeTypeMap" xsi:type="array">
                <item name="Magento\Eav\Model\Attribute\Data\Text" xsi:type="string">string</item>
                <item name="Magento\Eav\Model\Attribute\Data\Date" xsi:type="string">string</item>
                <item name="Magento\Eav\Model\Attribute\Data\Boolean" xsi:type="string">boolean</item>
                <item name="Magento\Eav\Model\Attribute\Data\File" xsi:type="string">string</item>
                <item name="Magento\Eav\Model\Attribute\Data\Hidden" xsi:type="string">string</item>
                <item name="Magento\Eav\Model\Attribute\Data\Image" xsi:type="string">Magento\Framework\Api\Data\Image_Content_Interface</item>
                <item name="Magento\Eav\Model\Attribute\Data\Multiline" xsi:type="string">string</item>
                <item name="Magento\Eav\Model\Attribute\Data\Multiselect" xsi:type="string">string</item>
                <item name="Magento\Eav\Model\Attribute\Data\Select" xsi:type="string">string</item>
                <item name="Magento\Eav\Model\Attribute\Data\Textarea" xsi:type="string">string</item>
                <item name="Magento\Eav\Model\Entity\Attribute\Backend\Default_Backend" xsi:type="string">string</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Eav\Model\Entity\Attribute">
        <arguments>
            <argument name="reservedAttributeList" xsi:type="object">Magento\Catalog\Model\Product\Reserved_Attribute_List\Proxy</argument>
        </arguments>
    </type>
    <type name="Magento\Framework\Entity_Manager\Operation\Attribute_Pool">
        <arguments>
            <argument name="extensionActions" xsi:type="array">
                <item name="eav" xsi:type="array">
                    <item name="default" xsi:type="array">
                        <item name="read" xsi:type="string">Magento\Eav\Model\Resource_Model\Read_Handler</item>
                        <item name="create" xsi:type="string">Magento\Eav\Model\Resource_Model\Create_Handler</item>
                        <item name="update" xsi:type="string">Magento\Eav\Model\Resource_Model\Update_Handler</item>
                    </item>
                </item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Framework\Model\Entity_Snapshot\Attribute_Provider">
        <arguments>
            <argument name="providers" xsi:type="array">
                <item name="default" xsi:type="array">
                    <item name="eav" xsi:type="string">\Magento\Eav\Model\Attribute_Provider</item>
                </item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Eav\Model\Entity\Abstract_Entity">
        <plugin name="clean_cache" type="Magento\Framework\App\Cache\Flush_Cache_By_Tags" />
    </type>
    <virtualType name="Magento\Eav\Model\Api\Search_Criteria\Collection_Processor" type="Magento\Framework\Api\Search_Criteria\Collection_Processor">
        <arguments>
            <argument name="processors" xsi:type="array">
                <item name="filters" xsi:type="object">Magento\Eav\Model\Api\Search_Criteria\Collection_Processor\Filter_Processor</item>
                <item name="sorting" xsi:type="object">Magento\Framework\Api\Search_Criteria\Collection_Processor\Sorting_Processor</item>
                <item name="pagination" xsi:type="object">Magento\Framework\Api\Search_Criteria\Collection_Processor\Pagination_Processor</item>
            </argument>
        </arguments>
    </virtualType>
    <type name="Magento\Eav\Model\Attribute_Repository">
        <arguments>
            <argument name="collectionProcessor" xsi:type="object">Magento\Eav\Model\Api\Search_Criteria\Attribute_Collection_Processor</argument>
        </arguments>
    </type>
    <virtualType name="Magento\Eav\Model\Api\Search_Criteria\Attribute_Collection_Processor" type="Magento\Framework\Api\Search_Criteria\Collection_Processor">
        <arguments>
            <argument name="processors" xsi:type="array">
                <item name="filters" xsi:type="object">Magento\Eav\Model\Api\Search_Criteria\Collection_Processor\Attribute_Filter_Processor</item>
                <item name="sorting" xsi:type="object">Magento\Eav\Model\Api\Search_Criteria\Collection_Processor\Attribute_Sorting_Processor</item>
                <item name="pagination" xsi:type="object">Magento\Framework\Api\Search_Criteria\Collection_Processor\Pagination_Processor</item>
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="Magento\Eav\Model\Api\Search_Criteria\Collection_Processor\Attribute_Filter_Processor" type="Magento\Framework\Api\Search_Criteria\Collection_Processor\Filter_Processor">
        <arguments>
            <argument name="fieldMapping" xsi:type="array">
                <item name="attribute_id" xsi:type="string">main_table.attribute_id</item>
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="Magento\Eav\Model\Api\Search_Criteria\Collection_Processor\Attribute_Sorting_Processor" type="Magento\Framework\Api\Search_Criteria\Collection_Processor\Sorting_Processor">
        <arguments>
            <argument name="fieldMapping" xsi:type="array">
                <item name="attribute_id" xsi:type="string">main_table.attribute_id</item>
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="Magento\Eav\Model\Api\Search_Criteria\Collection_Processor\Attribute_Set_Filter_Processor" type="Magento\Framework\Api\Search_Criteria\Collection_Processor\Filter_Processor">
        <arguments>
            <argument name="customFilters" xsi:type="array">
                <item name="entity_type_code" xsi:type="object">Magento\Eav\Model\Api\Search_Criteria\Collection_Processor\Filter_Processor\Attribute_Set_Entity_Type_Code_Filter</item>
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="Magento\Eav\Model\Api\Search_Criteria\Attribute_Set_Collection_Processor" type="Magento\Framework\Api\Search_Criteria\Collection_Processor">
        <arguments>
            <argument name="processors" xsi:type="array">
                <item name="filters" xsi:type="object">Magento\Eav\Model\Api\Search_Criteria\Collection_Processor\Attribute_Set_Filter_Processor</item>
                <item name="sorting" xsi:type="object">Magento\Framework\Api\Search_Criteria\Collection_Processor\Sorting_Processor</item>
                <item name="pagination" xsi:type="object">Magento\Framework\Api\Search_Criteria\Collection_Processor\Pagination_Processor</item>
            </argument>
        </arguments>
    </virtualType>
    <type name="Magento\Eav\Model\Attribute_Set_Repository">
        <arguments>
            <argument name="collectionProcessor" xsi:type="object">Magento\Eav\Model\Api\Search_Criteria\Attribute_Set_Collection_Processor</argument>
        </arguments>
    </type>
    <virtualType name="Magento\Eav\Model\Api\Search_Criteria\Collection_Processor\Attribute_Group_Filter_Processor" type="Magento\Framework\Api\Search_Criteria\Collection_Processor\Filter_Processor">
        <arguments>
            <argument name="fieldMapping" xsi:type="array">
                <item name="attribute_group_code" xsi:type="string">main_table.attribute_group_code</item>
            </argument>
            <argument name="customFilters" xsi:type="array">
                <item name="attribute_set_id" xsi:type="object">Magento\Eav\Model\Api\Search_Criteria\Collection_Processor\Filter_Processor\Attribute_Group_Attribute_Set_Id_Filter</item>
                <item name="attribute_group_code" xsi:type="object">Magento\Eav\Model\Api\Search_Criteria\Collection_Processor\Filter_Processor\Attribute_Group_Code_Filter</item>
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="Magento\Eav\Model\Api\Search_Criteria\Collection_Processor\Attribute_Group_Sorting_Processor" type="Magento\Framework\Api\Search_Criteria\Collection_Processor\Sorting_Processor">
        <arguments>
            <argument name="fieldMapping" xsi:type="array">
                <item name="attribute_group_code" xsi:type="string">main_table.attribute_group_code</item>
            </argument>
            <argument name="defaultOrders" xsi:type="array">
                <item name="sort_order" xsi:type="string">ASC</item>
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="Magento\Eav\Model\Api\Search_Criteria\Attribute_Group_Collection_Processor" type="Magento\Framework\Api\Search_Criteria\Collection_Processor">
        <arguments>
            <argument name="processors" xsi:type="array">
                <item name="filters" xsi:type="object">Magento\Eav\Model\Api\Search_Criteria\Collection_Processor\Attribute_Group_Filter_Processor</item>
                <item name="sorting" xsi:type="object">Magento\Eav\Model\Api\Search_Criteria\Collection_Processor\Attribute_Group_Sorting_Processor</item>
                <item name="pagination" xsi:type="object">Magento\Framework\Api\Search_Criteria\Collection_Processor\Pagination_Processor</item>
            </argument>
        </arguments>
    </virtualType>
    <type name="Magento\Eav\Model\Attribute\Group_Repository">
        <arguments>
            <argument name="collectionProcessor" xsi:type="object">Magento\Eav\Model\Api\Search_Criteria\Attribute_Group_Collection_Processor</argument>
        </arguments>
    </type>
    <type name="Magento\Framework\Entity_Manager\Composite_Mapper">
        <arguments>
            <argument name="mappers" xsi:type="array">
                <item name="mapper" xsi:type="object">Magento\Framework\Entity_Manager\Mapper</item>
                <item name="customAttributesMapper" xsi:type="object">Magento\Eav\Model\Custom_Attributes_Mapper</item>
            </argument>
        </arguments>
    </type>
    <virtualType name="configured_eav_cache" type="Magento\Framework\App\Cache">
        <arguments>
            <argument name="cacheIdentifier" xsi:type="string">eav</argument>
        </arguments>
    </virtualType>
    <type name="Magento\Eav\Model\Config">
        <arguments>
            <argument name="cache" xsi:type="object">configured_eav_cache</argument>
        </arguments>
    </type>

    <type name="Magento\Eav\Model\Entity\Attribute\Source\Table">
        <arguments>
            <argument name="storeManager" xsi:type="object">Magento\Store\Model\Store_Manager_Interface\Proxy</argument>
        </arguments>
    </type>
    <virtualType name="Magento\Eav\Model\Mview\Changelog_Batch_Walker" type="Magento\Framework\Mview\View\Changelog_Batch_Walker">
        <arguments>
            <argument name="idsContext" xsi:type="object">Magento\Eav\Model\Mview\Changelog_Batch_Walker\Ids_Context</argument>
        </arguments>
    </virtualType>
    <virtualType name="Magento\Eav\Model\Mview\Changelog_Batch_Walker\Ids_Context" type="Magento\Framework\Mview\View\Changelog_Batch_Walker\Ids_Context">
        <arguments>
            <argument name="tableBuilder" xsi:type="object">Magento\Eav\Model\Mview\Changelog_Batch_Walker\Ids_Table_Builder</argument>
            <argument name="selectBuilder" xsi:type="object">Magento\Eav\Model\Mview\Changelog_Batch_Walker\Ids_Select_Builder</argument>
            <argument name="fetcher" xsi:type="object">Magento\Eav\Model\Mview\Changelog_Batch_Walker\Ids_Fetcher</argument>
        </arguments>
    </virtualType>
</config>
