<?xml version="1.0"?>
<!--
/**
 * Copyright 2015 Adobe
 * All Rights Reserved.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Magento\Test_Module1\Service\V1\All_Soap_And_Rest_Interface" type="Magento\Test_Module1\Service\V1\All_Soap_And_Rest" />
    <preference for="Magento\Test_Module1\Service\V2\All_Soap_And_Rest_Interface" type="Magento\Test_Module1\Service\V2\All_Soap_And_Rest" />

    <virtualType name="Magento\Test_Module1\Service\Config\Test_Module1Metadata_Config" type="Magento\Framework\Api\Extension_Attribute\Config\Metadata_Config">
        <arguments>
            <argument name="attributeMetadataBuilder" xsi:type="object">Magento\Test_Module_MSC\Model\Data\Eav\Attribute_Metadata_Builder</argument>
            <argument name="dataObjectClassName" xsi:type="string">Magento\Test_Module1\Service\V1\Entity\Item</argument>
        </arguments>
    </virtualType>
    <type name="Magento\Test_Module1\Service\V1\Entity\Item_Builder">
        <arguments>
            <argument name="metadataService" xsi:type="object">Magento\Test_Module1\Service\Config\Test_Module1Metadata_Config</argument>
        </arguments>
    </type>
</config>
