<?xml version="1.0"?>
<!--
/**
 * Copyright 2014 Adobe
 * All Rights Reserved.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Magento\Catalog_Import_Export\Model\Export\Row_Customizer_Interface" type="Magento\Catalog_Import_Export\Model\Export\Row_Customizer\Composite" />
    <preference for="Magento\Catalog_Import_Export\Model\Stock_Item_Importer_Interface" type="Magento\Catalog_Import_Export\Model\Stock_Item_Importer" />
    <preference for="Magento\Catalog_Import_Export\Model\Stock_Item_Processor_Interface" type="Magento\Catalog_Import_Export\Model\Stock_Item_Processor" />
    <preference for="Magento\Catalog_Import_Export\Model\Export\Product_Filter_Interface" type="Magento\Catalog_Import_Export\Model\Export\Product_Filters" />
    <type name="Magento\Import_Export\Model\Import">
        <plugin name="catalogProductFlatIndexerImport" type="Magento\Catalog_Import_Export\Model\Indexer\Product\Flat\Plugin\Import" />
        <plugin name="invalidateEavIndexerOnImport" type="Magento\Catalog_Import_Export\Model\Indexer\Product\Eav\Plugin\Import" />
    </type>
    <type name="Magento\Catalog_Import_Export\Model\Import\Product\Stock_Processor">
        <arguments>
            <argument name="indexers" xsi:type="array">
                <item name="cataloginventory_stock" xsi:type="const">Magento\Catalog_Inventory\Model\Indexer\Stock\Processor::INDEXER_ID</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Catalog_Import_Export\Model\Import\Product\Validator">
        <arguments>
            <argument name="validators" xsi:type="array">
                <item name="media" xsi:type="object">Magento\Catalog_Import_Export\Model\Import\Product\Validator\Media</item>
                <item name="superProductsSku" xsi:type="object">Magento\Catalog_Import_Export\Model\Import\Product\Validator\Super_Products_Sku</item>
                <item name="tierPrice" xsi:type="object">Magento\Catalog_Import_Export\Model\Import\Product\Validator\Tier_Price</item>
                <item name="website" xsi:type="object">Magento\Catalog_Import_Export\Model\Import\Product\Validator\Website</item>
                <item name="weight" xsi:type="object">Magento\Catalog_Import_Export\Model\Import\Product\Validator\Weight</item>
                <item name="quantity" xsi:type="object">Magento\Catalog_Import_Export\Model\Import\Product\Validator\Quantity</item>
                <item name="layout_update" xsi:type="object">Magento\Catalog_Import_Export\Model\Import\Product\Validator\Layout_Update</item>
                <item name="layout_update_permissions" xsi:type="object">Magento\Catalog_Import_Export\Model\Import\Product\Validator\Layout_Update_Permissions</item>
                <item name="name" xsi:type="object">Magento\Catalog_Import_Export\Model\Import\Product\Validator\Name</item>
                <item name="backorders" xsi:type="object">Magento\Catalog_Import_Export\Model\Import\Product\Validator\Backorders</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Catalog_Import_Export\Model\Import\Product\Validator\Layout_Update">
        <arguments>
            <argument name="validationState" xsi:type="object">Magento\Framework\Config\Validation_State\Required</argument>
        </arguments>
    </type>
    <type name="Magento\Catalog_Import_Export\Model\Export\Product_Filters">
        <arguments>
            <argument name="filters" xsi:type="array">
                <item name="category_ids" xsi:type="object">Magento\Catalog_Import_Export\Model\Export\Product\Category_Filter</item>
                <item name="quantity_and_stock_status" xsi:type="object">Magento\Catalog_Import_Export\Model\Export\Product\Stock_Status_Filter</item>
                <item name="website_ids" xsi:type="object">Magento\Catalog_Import_Export\Model\Export\Product\Website_Filter</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Catalog_Import_Export\Model\Import\Product\Link_Processor">
        <arguments>
            <argument name="linkNameToId" xsi:type="array">
                <item name="_related_" xsi:type="const">Magento\Catalog\Model\Product\Link::LINK_TYPE_RELATED</item>
                <item name="_crosssell_" xsi:type="const">Magento\Catalog\Model\Product\Link::LINK_TYPE_CROSSSELL</item>
                <item name="_upsell_" xsi:type="const">Magento\Catalog\Model\Product\Link::LINK_TYPE_UPSELL</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Import_Export\Model\Export\Entity_Filters_Provider">
        <arguments>
            <argument name="providers" xsi:type="array">
                <item name="catalog_product" xsi:type="object">Magento\Catalog_Import_Export\Model\Export\Entity_Filters_Provider</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Catalog_Import_Export\Model\Export\Entity_Filters_Provider">
        <arguments>
            <argument name="additionalFilters" xsi:type="array">
                <item name="website_ids" xsi:type="array">
                    <item name="attribute_code" xsi:type="string">website_ids</item>
                    <item name="default_frontend_label" xsi:type="string" translatable="true">Websites</item>
                    <item name="backend_type" xsi:type="string">int</item>
                    <item name="frontend_input" xsi:type="string">multiselect</item>
                    <item name="source_model" xsi:type="string">Magento\Catalog_Import_Export\Model\Export\Product\Website_Filter_Options</item>
                </item>
            </argument>
        </arguments>
    </type>
</config>
