<?xml version="1.0"?>
<!--
/**
 * Copyright 2024 Adobe
 * All Rights Reserved.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Magento\Framework\Graph_Ql\Schema\Schema_Generator_Interface" type="Magento\Framework\Graph_Ql\Schema\Schema_Generator" />
    <preference for="Magento\Framework\Graph_Ql\Query\Resolver\Context_Interface" type="Magento\Graph_Ql\Model\Query\Resolver\Context" />
    <preference for="Magento\Graph_Ql\Model\Query\Context_Interface" type="Magento\Graph_Ql\Model\Query\Context" />
    <preference for="Magento\Framework\Graph_Ql\Schema\Type\Entity\Mapper_Interface" type="Magento\Framework\Graph_Ql\Schema\Type\Entity\Default_Mapper"/>
    <preference for="Magento\Framework\Graph_Ql\Schema\Type\Enum\Data_Mapper_Interface" type="Magento\Framework\Graph_Ql\Schema\Type\Enum\Default_Data_Mapper"/>
    <preference for="Magento\Framework\Graph_Ql_Schema_Stitching\Graph_Ql_Reader\Type_Meta_Reader_Interface" type="Magento\Framework\Graph_Ql_Schema_Stitching\Graph_Ql_Reader\Type_Reader_Composite"/>
    <preference for="Magento\Graph_Ql\Model\Query\Context_Factory_Interface" type="Magento\Graph_Ql\Model\Query\Context_Factory"/>
    <preference for="Magento\Graph_Ql\Model\Query\Context_Parameters_Interface" type="Magento\Graph_Ql\Model\Query\Context_Parameters"/>
    <preference for="Magento\Framework\Graph_Ql\Query\Resolver\Arguments_Processor_Interface" type="Magento\Framework\Graph_Ql\Query\Resolver\Arguments_Composite_Processor"/>
    <preference for="Magento\Graph_Ql\Model\Query\Logger\Logger_Interface" type="Magento\Graph_Ql\Model\Query\Logger\Logger_Pool"/>
    <type name="Magento\Framework\App\Area_List">
        <arguments>
            <argument name="areas" xsi:type="array">
                <item name="graphql" xsi:type="array">
                    <item name="frontName" xsi:type="string">graphql</item>
                </item>
            </argument>
        </arguments>
    </type>
    <preference for="Magento\Framework\Graph_Ql\Config_Interface" type="Magento\Framework\Graph_Ql\Config"/>
    <preference for="Magento\Framework\Graph_Ql\Config\Config_Element_Factory_Interface" type="Magento\Framework\Graph_Ql\Config\Config_Element_Factory"/>
    <type name="Magento\Framework\Graph_Ql\Config\Config_Element_Factory">
        <arguments>
            <argument name="factoryMapByConfigElementType" xsi:type="array">
                <item name="graphql_interface" xsi:type="object">Magento\Framework\Graph_Ql\Config\Element\Interface_Factory</item>
                <item name="graphql_union" xsi:type="object">Magento\Framework\Graph_Ql\Config\Element\Union_Factory</item>
                <item name="graphql_type" xsi:type="object">Magento\Framework\Graph_Ql\Config\Element\Type_Factory</item>
                <item name="graphql_input" xsi:type="object">Magento\Framework\Graph_Ql\Config\Element\Input_Factory</item>
                <item name="graphql_enum" xsi:type="object">Magento\Framework\Graph_Ql\Config\Element\Enum_Factory</item>
                <item name="graphql_scalar" xsi:type="object">Magento\Framework\Graph_Ql\Config\Element\Scalar_Factory</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Framework\Graph_Ql\Config">
        <arguments>
            <argument name="data" xsi:type="object">Magento\Framework\Graph_Ql\Config\Data</argument>
        </arguments>
    </type>
    <virtualType name="Magento\Framework\Graph_Ql\Config\Data" type="Magento\Framework\Config\Data">
        <arguments>
            <argument name="reader" xsi:type="object">Magento\Framework\Graph_Ql_Schema_Stitching\Reader</argument>
            <argument name="cacheId" xsi:type="string">Magento_Framework_GraphQlSchemaStitching_Config_Data</argument>
        </arguments>
    </virtualType>
    <virtualType name="Magento\Framework\Graph_Ql\Config\Schema_Locator" type="Magento\Framework\Config\Schema_Locator">
        <arguments>
            <argument name="realPath" xsi:type="string">urn:magento:module:Magento_GraphQl:etc/graphql.xsd</argument>
        </arguments>
    </virtualType>
    <virtualType name="Magento\Framework\Graph_Ql_Schema_Stitching\Reader" type="Magento\Framework\Graph_Ql_Schema_Stitching\Common\Reader">
        <arguments>
            <argument name="readers" xsi:type="array">
                <item name="graphql_reader" xsi:type="object">Magento\Framework\Graph_Ql_Schema_Stitching\Graph_Ql_Reader</item>
            </argument>
        </arguments>
    </virtualType>
    <type name="Magento\Framework\Graph_Ql\Schema\Type\Type_Registry">
        <arguments>
            <argument name="configToTypeMap" xsi:type="array">
                <item name="Magento\Framework\Graph_Ql\Config\Element\Type" xsi:type="string">Magento\Framework\Graph_Ql\Schema\Type\Output\Output_Type_Object</item>
                <item name="Magento\Framework\Graph_Ql\Config\Element\Input" xsi:type="string">Magento\Framework\Graph_Ql\Schema\Type\Input\Input_Object_Type</item>
                <item name="Magento\Framework\Graph_Ql\Config\Element\Interface_Type" xsi:type="string">Magento\Framework\Graph_Ql\Schema\Type\Output\Output_Interface_Object</item>
                <item name="Magento\Framework\Graph_Ql\Config\Element\Union_Type" xsi:type="string">Magento\Framework\Graph_Ql\Schema\Type\Output\Output_Union_Object</item>
                <item name="Magento\Framework\Graph_Ql\Config\Element\Enum" xsi:type="string">Magento\Framework\Graph_Ql\Schema\Type\Enum\Enum</item>
                <item name="Magento\Framework\Graph_Ql\Config\Element\Scalar" xsi:type="string">Magento\Framework\Graph_Ql\Schema\Type\Scalar\Scalar</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Framework\Graph_Ql\Schema\Type\Output\Element_Mapper">
        <arguments>
            <argument name="formatter" xsi:type="object">Magento\Framework\Graph_Ql\Schema\Type\Output\Element_Mapper\Formatter_Composite</argument>
        </arguments>
    </type>
    <type name="Magento\Framework\Graph_Ql\Schema\Type\Output\Element_Mapper\Formatter_Composite">
        <arguments>
            <argument name="formatters" xsi:type="array">
                <item name="fields" xsi:type="object">Magento\Framework\Graph_Ql\Schema\Type\Output\Element_Mapper\Formatter\Fields</item>
                <item name="interfaces" xsi:type="object">Magento\Framework\Graph_Ql\Schema\Type\Output\Element_Mapper\Formatter\Interfaces</item>
                <item name="unions" xsi:type="object">Magento\Framework\Graph_Ql\Schema\Type\Output\Element_Mapper\Formatter\Unions</item>
                <item name="resolveType" xsi:type="object">Magento\Framework\Graph_Ql\Schema\Type\Output\Element_Mapper\Formatter\Resolve_Type</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Framework\Graph_Ql_Schema_Stitching\Graph_Ql_Reader\Type_Reader_Composite">
        <arguments>
            <argument name="typeReaders" xsi:type="array">
                <item name="union_type" xsi:type="object">Magento\Framework\Graph_Ql_Schema_Stitching\Graph_Ql_Reader\Reader\Union_Type</item>
                <item name="enum_type" xsi:type="object">Magento\Framework\Graph_Ql_Schema_Stitching\Graph_Ql_Reader\Reader\Enum_Type</item>
                <item name="object_type" xsi:type="object">Magento\Framework\Graph_Ql_Schema_Stitching\Graph_Ql_Reader\Reader\Object_Type</item>
                <item name="input_object_type" xsi:type="object">Magento\Framework\Graph_Ql_Schema_Stitching\Graph_Ql_Reader\Reader\Input_Object_Type</item>
                <item name="interface_type" xsi:type="object">Magento\Framework\Graph_Ql_Schema_Stitching\Graph_Ql_Reader\Reader\Interface_Type</item>
                <item name="scalar_type" xsi:type="object">Magento\Framework\Graph_Ql_Schema_Stitching\Graph_Ql_Reader\Reader\Scalar_Type</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Framework\Graph_Ql\Query\Query_Complexity_Limiter">
        <arguments>
            <argument name="queryDepth" xsi:type="number">20</argument>
            <argument name="queryComplexity" xsi:type="number">1000</argument>
        </arguments>
    </type>
    <type name="Magento\Framework\Graph_Ql\Query\Resolver\Argument\Validator\Composite_Validator">
        <arguments>
            <argument name="validators" xsi:type="array">
                <item name="backpressureValidator" xsi:type="object">
                    Magento\Graph_Ql\Model\Backpressure\Backpressure_Field_Validator
                </item>
            </argument>
        </arguments>
    </type>
    <preference for="Magento\Graph_Ql\Model\Backpressure\Request_Type_Extractor_Interface"
                type="Magento\Graph_Ql\Model\Backpressure\Composite_Request_Type_Extractor"/>
</config>
